    <mat-sidenav-content>
      <!-- Contenido 1 -->
      <div class="container mrg-top-10 mrg-top-30-xs">
        <div class="row">

          <!--<div class="col-md-7 col-xs-12 fade-in">
            <img src="assets/img/home/img-1.png" class="w-100" alt="">
          </div-->

          <div class="col-md-7 col-xs-12 fade-in">
            <ngb-carousel>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="assets/img/home/img-1.png" alt="Random first slide">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="assets/img/home/img-1.png" alt="Random first slide">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="assets/img/home/img-1.png" alt="Random first slide">
                </div>
              </ng-template>
            </ngb-carousel>
          </div>

          <div class="col-md-5 col-xs-12 fade-in">
            <div class="d-flex justify-content-center">
              <img src="assets/img/home/img-2.jpg" class="w-100-xs" width="469px" height="219px" alt="">
            </div>
            <div class="mrg-top-5 d-flex justify-content-center fade-in">
              <img src="assets/img/home/img-3.png" class="w-100-xs" width="469px" height="219px" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- Contenido 2 -->
      <div class="container mrg-top-30">
        <div class="d-block d-sm-flex justify-content-around">
          <div class="d-flex justify-content-center fadein-botton">
            <img src="assets/img/home/rapida_entrega.svg" alt="">
            <span class="txt-icon-home">Rápida entrega <p>Nivel nacional</p> </span>
          </div>
          <div class="d-flex justify-content-center fadein-botton">
            <img src="assets/img/home/pagos_electronicos.svg" alt="">
            <span class="txt-icon-home">Pagos electrónicos <p>Todas las tarjetas</p> </span>
          </div>
          <div class="d-flex justify-content-center fadein-botton">
            <img src="assets/img/home/Bitmap.svg" alt="">
            <span class="txt-icon-home">Compra segura <p>Sin riesgo de robo </p> </span>
          </div>
          <div class="d-flex justify-content-center fadein-botton">
            <img src="assets/img/home/asistencia.png" alt="">
            <span class="txt-icon-home">Asistencia <p>Appstore y Playstore</p> </span>
          </div>
          <div class="d-flex justify-content-center fadein-botton">
            <img src="assets/img/home/download_app.svg" alt="">
            <span class="txt-icon-home">Descarga nuestra app <p>Nivel nacional</p> </span>
          </div>
        </div>
      </div>

      <!-- Contenido 3 -->
      <div class="mrg-top-40 mrg-botn-20 container">
        <div class="row">
          <div class="col-md-3 col-xs-12 mrg-top-10 scale-image">
            <img src="assets/img/home/img-4.png" style="height: 250px;"  class="border-rad-mild w-100" alt="">
          </div>
          <div class="col-md-6 col-xs-12 mrg-top-10 scale-image">
            <img src="assets/img/home/img-yellow.png" style="height: 250px;" class="border-rad-mild w-100" alt="">
          </div>
          <div class="col-md-3 col-xs-12 mrg-top-10 scale-image">
            <img src="assets/img/home/img-6.png" style="height: 250px;" class="border-rad-mild w-100" alt="">
          </div>
        </div>
      </div>

      <!-- Contenido 4 - Destacados -->
      <div class=" color-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-home mrg-top-20 w-100 txt-center">
                <p>Productos destacados </p>
              </div>
            </div>
          </div>
          <div class="row mrg-top-20">
            <div class="col-md-3  mrg-botn-20 col-xs-12 d-flex justify-content-center" *ngFor="let item of destacados_limt">
              <app-item-producto [id]="item.id" [nuevo]="item.new" [image]="item.image" [subtitle]="item.marca"
              [title]="item.name" [price]="item.price" [price_ant]="item.price_ant" [descuento]="item.descuento">
              </app-item-producto>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenido 5 -->
      <div class="mrg-top-40 mrg-botn-20 container">
        <div class="row">
          <div class="col-md-6 col-xs-12 scale-image">
            <img src="assets/img/home/img-5.png" class="border-rad-mild w-100" alt="">
          </div>
          <div class="col-md-6 col-xs-12 scale-image">
            <img src="assets/img/home/img-yellow.png" class="border-rad-mild w-100" alt="">
          </div>
        </div>
      </div>

      <!-- Contenido 6 - Destacados -->
      <div class=" color-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-home mrg-top-20 w-100 txt-center">
                <p>Productos destacados </p>
              </div>
            </div>
          </div>
          <div class="row mrg-top-20">
            <div class="col-md-3  mrg-botn-20 col-xs-12 d-flex justify-content-center" *ngFor="let item of destacados">
              <app-item-producto [id]="item.id" [nuevo]="item.new" [image]="item.image" [subtitle]="item.marca"
              [title]="item.name" [price]="item.price" [small]="true" [price_ant]="item.price_ant" [descuento]="item.descuento">
              <!-- descuento="30" price_ant="$280.000"  -->
              </app-item-producto>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenido 7 -->
      <div class="container mrg-top-20 mrg-botn-20">
        <div class="row">
          <div class="col-md-12 col-xs-12 banner-download-app">
            <div class="download-app">
              <h3>Descarga y usa nuestra app</h3>
              <p>Contenido exclusivo, promociones y mucho más</p>
              <div class="call-to-action-download">
                <img src="assets/img/home/download-on-the-app-store-apple.svg" alt="">
                <img src="assets/img/home/google-play-download-android-app.svg" alt="">
              </div>
            </div>
            <img src="assets/img/home/img-7.png" class="border-rad-mild w-100" height="200px" alt="">
          </div>
        </div>
      </div>

      <!-- Contenido 8 - Destacados -->
      <div class=" color-gray">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="content-btn-cate w-100-xs  mrg-top-40 mrg-botn-20">
              <div class="btn-home-cate-act">
                <!-- <mat-icon svgIcon="woman" class="mrg-top-15-prc">woman</mat-icon> -->
                <!-- <img src="assets/img/home/women-white.svg" alt=""> -->
                <i class="women"></i>
                <p>Femenino</p>
              </div>
  
              <div class="btn-home-cate">
                <i class="masculino"></i>
                <p>Masculino</p>
              </div>
  
              <div class="btn-home-cate">
                <i class="kids"></i>
                <p>Kids</p>
              </div>
              <!-- <div class="btn-home-cate d-none d-sm-block"> -->
              <div class="btn-home-cate">
                <i class="promociones"></i>
                <p>Promociones</p>
              </div>
            </div>
          </div>
          
          <div class="row mrg-top-20">
            <div class="col-md-3  mrg-botn-20 col-xs-12 d-flex justify-content-center" *ngFor="let item of destacados">
              <app-item-producto [id]="item.id" [nuevo]="item.new" [image]="item.image" [subtitle]="item.marca"
              [title]="item.name" [price]="item.price" [small]="true" [price_ant]="item.price_ant" [descuento]="item.descuento">
              <!-- descuento="30" price_ant="$280.000"  -->
              </app-item-producto>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenido 9 -->
      <div class="container mrg-top-40 mrg-botn-40">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div style="width: 100%; background: #353435; position: relative;">
              <div class="ribbon-date">
                <img src="assets/img/home/ribbon.svg" alt="">
              </div>
              <p class="envios-nacionales" >Envíos nacionales gratis en temporada</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Contenido 10 -->
      <div class="container color-gray p-5 border-rad-mild mrg-botn-40 mrg-top-40">
        <div class="row">
          
          <div class="col-md-2 d-flex align-items-center w-100-xs txt-center-xs">
            <div>
              <p class="font-sz-20 text-pink bold populares-semana">Las más populares de la semana </p>
              <p class="font-sz-16 text-dark">Estas son las zapatillas mejor puntuadas esta semana</p>
            </div>
          </div>

          <div class="col-md-2 col-xs-12 d-block justify-content-center">
            <div class="content-img">
              <img src="assets/img/home/zap-1.png" class="border-rad-mild" alt="">
              <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
            </div>
            <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda
              Nmd_R1</p>
          </div>
  
          <div class="col-md-2 col-xs-12">
            <div class="content-img">
              <img src="assets/img/home/zap-2.png" class="border-rad-mild" alt="">
            </div>
            <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda
              Nmd_R1</p>
          </div>
  
          <div class="col-md-2 col-xs-12">
            <div class="content-img">
              <img src="assets/img/home/zap-3.png" class="border-rad-mild" alt="">
            </div>
            <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda
              Nmd_R1</p>
          </div>
  
          <div class="col-md-2 col-xs-12">
            <div class="content-img">
              <img src="assets/img/home/zap-4.png" class="border-rad-mild" alt="">
            </div>
            <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda
              Nmd_R1</p>
          </div>
  
          <div class="col-md-2 col-xs-12">
            <div class="content-img">
              <img src="assets/img/home/zap-4.png" class="border-rad-mild" alt="">
            </div>
            <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda
              Nmd_R1</p>
          </div>
        </div>

      </div>

        <!-- Contenido 11 -->
        <div class="container mrg-top-40 mrg-botn-40">
          <owl-carousel [options]="SlideOptions" *ngIf="!deviceXs" [carouselClasses]="['owl-theme']">
            <div class="item" *ngFor="let image of CarouselImages;let i = index">
              <div class="w-40 w-50-xs">
                <img src={{image}} />
              </div>
            </div>
          </owl-carousel>
          <owl-carousel [options]="SlideOptionsXs" *ngIf="deviceXs" [carouselClasses]="['owl-theme']">
            <div class="item" *ngFor="let image of CarouselImages;let i = index">
              <div class="w-40 w-50-xs">
                <img src={{image}} />
              </div>
            </div>
          </owl-carousel>
        </div>

      <!-- Contenido 12 -->
      <div class="color-gray p-3">
        <div class="mrg-top-40 mrg-botn-20 container">
          <div class="row">
            <div class="col-md-9 col-xs-12 mrg-botn-10 scale-image">
              <img src="assets/img/home/img-8.png" tyle="height: 250px;" class="w-100 border-rad-mild d-none d-sm-flex" alt="">
            </div>
            <div class="col-md-3 col-xs-12 scale-image">
              <img src="assets/img/home/img-9.png" style="height: 250px;" class=" w-100 border-rad-mild" alt="">
            </div>
          </div>  
        </div>
      </div>

      <!-- Contenido 13 -->
      <div class="container mrg-top-40 mrg-botn-20">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="mes-home" style="background-color: #4800a1;">
                <p>JUNIO 2020</p>
              </div>
              <div class="mes-home mrg-top-20 mrg-botn-20" style="background-color: #002f6d;">
                <p>JULIO 2020</p>
              </div>
              <div class="mes-home" style="background-color: #ad00d6;">
                <p>TEMPORADA</p>
              </div>
            </div>
            <div class="col-md-8 col-xs-12 mrg-top-20-xs scale-image">
                <img src="assets/img/home/img-10.png" style=" height: 340px;" class="w-100" alt="">
            </div>
          </div>
      </div>

    </mat-sidenav-content>