<mat-toolbar color="accent" class="sticky">
  <!-- <mat-toolbar-row class="toolbar-small d-none d-md-block"> -->
  <mat-toolbar-row [class]="(scrolled) > 0 ? 'toolbar-small d-none d-md-block' : 'hide-element' ">
    <div class="container ing5-flex-end" fxLayoutAlign="space-evenly center">
      <!-- <span class="spacer"></span> -->
      <!-- <mat-icon class="icon-small text-gray" aria-hidden="false">local_phone</mat-icon> -->
      <img class="icon-info" src="assets/img/header/call.svg">
      <span class="text-gray">3154559876/3154559876</span>
      <span class="separator"></span>
      <img class="icon-info" src="assets/img/header/envios.svg">
      <span class="text-gray">Envíos a todo el país</span>
      <span class="separator"></span>
      <img class="icon-info" src="assets/img/header/devoluciones.svg">
      <span class="text-gray">Política de devoluciones</span>
      <span class="separator"></span>
      <img class="icon-info" src="assets/img/header/help.svg">
      <span class="text-gray">¿Necesita ayuda?</span>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="w-auto" id="informacion-del-menu">
    <div class="container">
      <div class="d-flex flex-md-row ing5-items-content-header">
        <div class="">
          <div class="dropdown">
            <button (mouseover)="activarMenu()"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="line-height-ini" mat-button>
              <img src="assets/img/icons/menu.png" class="mrg-top-5">
              <p class="text-menu">Categorias</p>
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <div fxLayout="row" >
                  <div fxLayout="column" class="mrg-top-10 cont-categ" fxLayoutAlign="left">
                    <!-- Ciclo - Categorias -->
                    <div *ngFor="let item of categorias_prin">
                      <p [ngClass]=" item.id_categoria == categoria_select ? 'list-categ list-act' : 'list-categ'" >
                        <a href="#" (mouseover)="changeSubCategoria(item.id_categoria, item.hijos)">{{item.name_cat}}</a>
                        <mat-icon aria-hidden="false" class="icon-list-cat" aria-label="Icon">keyboard_arrow_right</mat-icon>
                      </p>
                    </div>

                    <div>
                      <p class="list-categ"> <a href="#">Marcas</a></p>
                    </div>
                  </div>
                  <div fxLayout="row wrap" class="content-categories-menu-header" style="width: 520px;" fxLayoutAlign="space-evenly left">
                    <div *ngFor="let element of sub_categorias">
                      <div class="content-sb-categ">
                        <p class="title-categ">{{element.name_cat}}</p>
                        <ul class="list-sb-categ">
                          <li class="item-categ" *ngFor="let item of element.hijos">
                            <a routerLink="/productos" routerLinkActive="active"> {{item.name_cat}} </a>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <ul class="list-sb-categ">
                          <li class="item-categ-btn"> <a href=""> Ver todo</a></li>
                          <li class="item-categ-btn"> <a href=""> Novedades</a></li>
                          <li class="item-categ-btn"> <a href=""> Promociones</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- Marca. -->
                    <div>
                      <div class="content-sb-categ">
                        <p class="title-categ">Marcas</p>
                        <ul class="list-sb-categ">
                          <li class="item-categ"> <a href=""> Offcorss</a></li>
                          <li class="item-categ"> <a href=""> Los Gomosos</a></li>
                          <li class="item-categ"> <a href=""> Bubble Gummers</a></li>
                        </ul>
                      </div>
                      <div>
                        <ul class="list-sb-categ">
                          <li class="item-categ-btn"> <a href=""> Ver todo</a></li>
                          <li class="item-categ-btn"> <a href=""> Novedades</a></li>
                          <li class="item-categ-btn"> <a href=""> Promociones</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="hide-image-mega-menu" fxLayout="row wrap">
                    <div class="h-100 w-50">
                      <a *ngFor="let sesion of disenoMenu.column_1" href="{{(sesion.link_to != null ? sesion.link_to : '#')}}">
                        <img src="{{sesion.url_imagen}}" class="w-100" alt="">
                      </a>
                    </div>
                    <div class="h-100 w-50" class="menu-column">
                      <a *ngFor="let sesion of disenoMenu.column_2" href="{{(sesion.link_to != null ? sesion.link_to : '#')}}">
                        <img src="{{sesion.url_imagen}}" class="w-90" alt="">
                      </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <button class="line-height-ini d-none d-sm-flex" (click)="router.navigate(['/']);" mat-button>
          <img src="assets/img/logo_fondo_negro.png">
        </button>
        <button class="line-height-ini ml-md-auto d-flex d-sm-none" id="logo-tienda" mat-button>
          <img src="assets/img/logo_fondo_negro.png">
        </button>

        <div class="ing5-box-buscador">
            <app-buscador-tienda></app-buscador-tienda>
        </div>

        <!-- Position end -->
        <div class="flex-row ml-md-auto d-none d-sm-flex ing5-items-header">
          <button [routerLink]="usuario?'/pedidos':'/login'" class="line-height-ini" mat-button fxLayoutAlign="end">
            <!-- <img src="assets/img/icons/load-carriage.png" class="mrg-top-5"> -->
            <img class="header-pedidos" src="assets/img/header/pedidos.svg">
            <p class="text-menu">Pedidoss</p>
          </button>
          <button [routerLink]="usuario?'/favoritos':'/login'"   class="line-height-ini" mat-button fxLayoutAlign="end">
            <img class="header-favoritos" src="assets/img/header/favoritos.svg">
            <p class="text-menu">Mis favoritos</p>
          </button>
          <button class="line-height-ini" [matMenuTriggerFor]="belowMenu" mat-button fxLayoutAlign="end">
            <img class="header-cuenta" src="assets/img/header/user.svg">
            <p class="text-menu">{{usuario?usuario['nombres']:'Mi cuenta'}}</p>
          </button>
          <button class="line-height-ini" (click)="toggleOpenBolsa()" mat-button fxLayoutAlign="end">
            <img class="bolsa" src="assets/img/header/bolsa.svg">
            <span class="cantidad-producto">{{carritoAnterior? carritoAnterior.length: 0}}</span>
            <p class="text-menu">Bolsa</p>
          </button>
        </div>

      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="d-flex justify-content-center d-sm-none">
    <button (click)="router.navigate(['/pedidos']);" class="line-height-ini" mat-button>
      <img src="assets/img/icons/load-carriage.png" class="mrg-top-5">
        <p class="text-menu">Pedidos</p>
    </button>
    <button (click)="router.navigate(['/favoritos']);" class="line-height-ini" mat-button>
      <mat-icon aria-hidden="false" aria-label="Icon">favorite_outline</mat-icon>
        <p class="text-menu">Mis favoritos</p>
    </button>
    <button class="line-height-ini" mat-button>
      <mat-icon aria-hidden="false" aria-label="Icon">person_outline</mat-icon>
      <p class="text-menu">Mi cuenta</p>
    </button>
    <button class="line-height-ini" mat-button>
      <img src="assets/img/icons/bolsa_inactive.png">
        <p class="text-menu">Bolsa</p>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Menu -->
<!--<mat-menu class="menu-categories"  id="cerrar-modal-menu" #menu="matMenu" >
  <div fxLayout="row"  (click)="$event.stopPropagation();" (mouseout)="cerrarModalMenu();">
    <div fxLayout="column" class="mrg-top-10 cont-categ" fxLayoutAlign="left">

      <div *ngFor="let item of categorias_prin">
        <p [ngClass]=" item.id_categoria == categoria_select ? 'list-categ list-act' : 'list-categ'" >
          <a href="#" (mouseover)="changeSubCategoria(item.id_categoria, item.hijos)">{{item.name_cat}}</a>
          <mat-icon aria-hidden="false" class="icon-list-cat" aria-label="Icon">keyboard_arrow_right</mat-icon>
        </p>
      </div>

      <div>
        <p class="list-categ"> <a href="#">Marcas</a></p>
      </div>
    </div>
    <div fxLayout="row wrap" class="content-categories-menu-header" style="width: 520px;" fxLayoutAlign="space-evenly left">
      <div *ngFor="let element of sub_categorias">
        <div class="content-sb-categ">
          <p class="title-categ">{{element.name_cat}}</p>
          <ul class="list-sb-categ">
            <li class="item-categ" *ngFor="let item of element.hijos">
              <a routerLink="/productos" routerLinkActive="active"> {{item.name_cat}} </a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="list-sb-categ">
            <li class="item-categ-btn"> <a href=""> Ver todo</a></li>
            <li class="item-categ-btn"> <a href=""> Novedades</a></li>
            <li class="item-categ-btn"> <a href=""> Promociones</a></li>
          </ul>
        </div>
      </div>

      <div>
        <div class="content-sb-categ">
          <p class="title-categ">Marcas</p>
          <ul class="list-sb-categ">
            <li class="item-categ"> <a href=""> Offcorss</a></li>
            <li class="item-categ"> <a href=""> Los Gomosos</a></li>
            <li class="item-categ"> <a href=""> Bubble Gummers</a></li>
          </ul>
        </div>
        <div>
          <ul class="list-sb-categ">
            <li class="item-categ-btn"> <a href=""> Ver todo</a></li>
            <li class="item-categ-btn"> <a href=""> Novedades</a></li>
            <li class="item-categ-btn"> <a href=""> Promociones</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="hide-image-mega-menu" fxLayout="row wrap">
      <div class="h-100 w-50">
        <a *ngFor="let sesion of disenoMenu.column_1" href="{{(sesion.link_to != null ? sesion.link_to : '#')}}">
          <img src="{{sesion.url_imagen}}" class="w-100" alt="">
        </a>
      </div>
      <div class="h-100 w-50" class="menu-column">
        <a *ngFor="let sesion of disenoMenu.column_2" href="{{(sesion.link_to != null ? sesion.link_to : '#')}}">
          <img src="{{sesion.url_imagen}}" class="w-90" alt="">
        </a>
      </div>
    </div>
  </div>
</mat-menu>-->
<!-- Menu cuenta -->
<mat-menu #belowMenu="matMenu">
  <div style="width: 150px;">
    <button class="btn-menu" mat-menu-item (click)="router.navigate(['/login']);" *ngIf="usuario == null">
      <span>Iniciar sesión</span>
      <mat-icon aria-hidden="false" class="icon-list-menu" aria-label="Icon">keyboard_arrow_right</mat-icon>
    </button>
    <button class="btn-menu" mat-menu-item  [routerLink]="usuario?'/perfil':'/login'" >
      Mi cuenta
      <mat-icon aria-hidden="false" class="icon-list-menu" aria-label="Icon">keyboard_arrow_right</mat-icon>
    </button>
    <button class="btn-menu" mat-menu-item  [routerLink]="usuario?'/pedidos':'/login'">
      Mis pedidos
      <mat-icon aria-hidden="false" class="icon-list-menu" aria-label="Icon">keyboard_arrow_right</mat-icon>
    </button>
    <button class="btn-menu" mat-menu-item [routerLink]="usuario?'/resenas':'/login'">
      Mis reseñas
      <mat-icon aria-hidden="false" class="icon-list-menu" aria-label="Icon">keyboard_arrow_right</mat-icon>
    </button>
    <button class="btn-menu" mat-menu-item [routerLink]="usuario?'/cupones':'/login'" >
      Mis cupones
      <mat-icon aria-hidden="false" class="icon-list-menu" aria-label="Icon">keyboard_arrow_right</mat-icon>
    </button>
    <button class="btn-menu" mat-menu-item [routerLink]="usuario?'/direcciones':'/login'" >
      Mis direcciones
      <mat-icon aria-hidden="false" class="icon-list-menu" aria-label="Icon">keyboard_arrow_right</mat-icon>
    </button>
    <button class="btn-menu" mat-menu-item [routerLink]="usuario?'/favoritos':'/login'" >
      Mis favoritos
      <mat-icon aria-hidden="false" class="icon-list-menu" aria-label="Icon">keyboard_arrow_right</mat-icon>
    </button>
    <button class="btn-close-sesion" mat-menu-item (click)="cerrarSesion()" *ngIf="usuario != null">
      Cerrar sesión
    </button>
  </div>

</mat-menu>

<!-- Espaciado para que el contenido no quede debajo del fixed -->
<div style="margin-top: 96px;"></div>



<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
