<footer class="color-gray">
    <div class="container mrg-top-20">
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <div>
          <p class="text-pink mrg-0 font-sz-20 bold">Suscríbette a nuestro Newsletter</p>
        </div>
        <div class="padg-lat-10 mrg-top-20 mrg-botn-20 w-100-xs">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo electrónico">
          </mat-form-field>
          <mat-checkbox  color="primary">Declaro que he leído y acepto la nueva <span class="text-pink">Política de
              Privacidad y  <br> los Términos y Condiciones</span> de Linio.</mat-checkbox>
        </div>
        <div>
          <button mat-raised-button color="primary" class="mrg-right-5">Suscríbete</button>
          <button mat-raised-button color="primary" class="mrg-left-5">Promociones</button>
        </div>
      </div>

      <!--  -->
      <mat-divider style=" margin-left: 20%; margin-right: 20%;"></mat-divider>

      <div fxLayout="row wrap" class="mrg-top-20" fxLayout.xs="column" fxLayoutAlign="space-evenly">
          <div class="w-15 h-100 w-100-xs txt-center-xs">
            <p class="title-footer">Información Legal</p>
            <ul class="list-footer">
              <li class="item-footer">Legales del día</li>
              <li class="item-footer">Términos y condiciones</li>
              <li class="item-footer">Términos de Martketplace</li>
              <li class="item-footer">Políticas de privacidad</li>
              <li class="item-footer">Políticas de información</li>
              <li class="item-footer">Notificaciones judiciales</li>
              <li class="item-footer">Política de venta de productos internacionales</li>
              <li class="item-footer">Derechos de retracto</li>
              <li class="item-footer">Política de tratamiento de datos personales</li>
            </ul>
          </div>

          <div class="w-15 h-100 w-100-xs txt-center-xs">
            <p class="title-footer">SERVICIO AL CLIENTE</p>
            <ul class="list-footer">
              <li class="item-footer">Preguntas Frecuentes</li>
              <li class="item-footer">Aplicar mi garantía</li>
              <li class="item-footer">Haz tu primera compra</li>
              <li class="item-footer">Nuestras Tiendas</li>
              <li class="item-footer">Medios de pago</li>
              <li class="item-footer">Métodos de entrega</li>
              <li class="item-footer">Nuestros productos</li>
              <li class="item-footer">Sugerencias y Reclamos</li>
              <li class="item-footer">Comunicaciones </li>
              <li class="item-footer">Contacto</li>
              <li class="item-footer"><a href="www.sic.gov.co" class="text-pink">www.sic.gov.co</a></li>
            </ul>
          </div> 

          <div class="w-15 h-100 w-100-xs txt-center-xs">
            <p class="title-footer">MAS SOBRE NOSOTROS</p>
            <ul class="list-footer">
              <li class="item-footer">¿Quiénes Somos?</li>
              <li class="item-footer">Mi Cuenta</li>
              <li class="item-footer">Trabaje con nosotros</li>
              <li class="item-footer">Responsabilidad Social</li>
              <li class="item-footer">Proveedores</li>
              <li class="item-footer">Directorio</li>
              <li class="item-footer">Programas de Lealtad (puntos)</li>
              <li class="item-footer">Vuélvete un Afiliado</li>
              <li class="item-footer">Canal de Integridad </li>
              <li class="item-footer">Protección de Propiedad Intelectual</li>
            </ul>
          </div>

          <div class="w-15 h-100  w-100-xs txt-center-xs border-right">
            <p class="title-footer">SERVICIOS</p>
            <ul class="list-footer">
              <li class="item-footer">Ventas Corporativas</li>
              <li class="item-footer">Paute con nosotros</li>
              <li class="item-footer">Garantía extendida</li>
              <li class="item-footer">Vende en (pagianweb.com)</li>
              <li class="item-footer">Compra y recoge</li>
            </ul>
          </div>

          <div class="w-30 h-100 w-100-xs txt-center-xs">
            <p class="title-footer txt-center">SIGUENOS</p>
            <div class="w-100 txt-center mrg-top-20">
              <img src="assets/img/icons/facebook.png" alt="">
              <img src="assets/img/icons/insta.png" class="mrg-left-10 mrg-right-10" alt="">
              <img src="assets/img/icons/youtube.png" alt="">
            </div>
            <div class="w-100 txt-center mrg-top-20">
              <img src="assets/img/icons/appstore.png" width="40%" alt="">
              <img src="assets/img/icons/playstore.png" width="40%" class="mrg-left-10" alt="">
            </div>
          </div>
      </div>
    </div>

    <div class="copy">
      <div class="container" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly">
          <div class="w-50">
            <div class="w-100">
              <p class="txt-derchos">Todos los derechos reservados @ ATLHETIC 2020 | ATHLETIC S.A.S. | NIT:
                900.005.001</p>
            </div>
          </div>
          <div class="w-50">
            <div class="w-100">
              <p class="txt-neuro">DISEÑADO Y DESARROLLADO POR <span class="bold">NEUROMEDIA DIGITAL AGENCY</span>
              </p>
            </div>
          </div>
      </div>
    </div>
  </footer>
