<footer class="color-gray2">
    <div class="container">
      <div class="row  mrg-botn-20 ing5-align-top">
        <div class="col-md-3 mrg-top-10 d-flex justify-content-center align-items-center">
          <p class="text-pink mrg-0 font-sz-20 bold" style="  letter-spacing: 0.72px;">SUSCRÍBETE A NUESTRO NEWSLETTER</p>
        </div>
        <div class="col-md-6 mrg-top-10">
          <mat-form-field class="w-100" appearance="outline" type="email" name="email">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo electrónico"  [(ngModel)]="filtro.suscripcion_email"  type="email" name="email" required>
          </mat-form-field>
          <!--<input type="email" class="form-control" [(ngModel)]="filtro.suscripcion_email">-->
          <mat-checkbox [(ngModel)]="filtro.terminos_condiciones" color="primary">Declaro que he leído y acepto la nueva <span class="text-pink">Política de
              Privacidad y  <br> los Términos y Condiciones</span> de Athletic Air.</mat-checkbox>
        </div>
        <!-- <div class="padg-lat-10 mrg-top-20 mrg-botn-20 w-100-xs">
        </div> -->
        <div class="col-md-3 mrg-top-10 d-flex justify-content-center align-items-center">
          <button mat-raised-button color="primary" class="mrg-right-3 ing5-btn-suscribete" (click)="crearSuscripcion()">Suscríbete</button>
          <!--<button mat-raised-button color="primary" class="mrg-left-5 ing5-btn-promociones">Promociones</button>-->
        </div>
      </div>

      <!--  -->
      <mat-divider style=" margin-left: 20%; margin-right: 20%;"></mat-divider>

      <div class="row mrg-top-20">
        <div class="col-md-8 col-xs-12 row mrg-top-20">

          <div class="col-md-4 col-xs-12 txt-center-xs">
            <p class="title-footer">Información Legal</p>
            <ul class="list-footer">
              <li class="item-footer"><a href="#">Términos y condiciones</a></li>
              <li class="item-footer"><a href="#">Políticas de privacidad</a></li>
              <li class="item-footer"><a href="#">Políticas de información</a></li>
              <li class="item-footer"><a href="#">Notificaciones judiciales</a></li>
              <li class="item-footer"><a href="#">Política de tratamiento de datos personales</a></li>
            </ul>
          </div>

          <div class="col-md-4 col-xs-12 w-100-xs txt-center-xs">
            <p class="title-footer">SERVICIO AL CLIENTE</p>
            <ul class="list-footer">
              <li class="item-footer"><a href="#">Preguntas Frecuentes</a></li>
              <li class="item-footer"><a href="#">Medios de pago</a></li>
              <li class="item-footer"><a href="#">Métodos de entrega</a></li>
              <li class="item-footer"><a href="#">Contacto y sugerencia</a></li>
              <li class="item-footer"><a href="www.sic.gov.co" class="text-pink">www.sic.gov.co</a></li>


            </ul>
          </div>

          <div class="col-md-4 col-xs-12 w-100-xs txt-center-xs">
            <p class="title-footer">MAS SOBRE NOSOTROS</p>
            <ul class="list-footer">
              <li class="item-footer"><a href="#">¿Quiénes Somos?</a></li>
              <li class="item-footer"><a [routerLink]="usuario?'/perfil':'/login-movil'">Mi Cuenta</a></li>
              <li class="item-footer"><a href="#">Protección de Propiedad Intelectual</a></li>

             <!-- <li class="item-footer"><a href="#">Trabaje con nosotros</a></li>
              <li class="item-footer"><a href="#">Responsabilidad Social</a></li>
              <li class="item-footer"><a href="#">Proveedores</a></li>
              <li class="item-footer"><a href="#">Directorio</a></li>
              <li class="item-footer"><a href="#">Programas de Lealtad (puntos)</a></li>
              <li class="item-footer"><a href="#">Vuélvete un Afiliado</a></li>
              <li class="item-footer"><a href="#">Canal de Integridad</a></li>-->

            </ul>
          </div>

         <!-- <div class="col-md-3 col-xs-12  w-100-xs txt-center-xs brd-right">
            <p class="title-footer">SERVICIOS</p>
            <ul class="list-footer">
              <li class="item-footer"><a href="#">Ventas Corporativas</a></li>
              <li class="item-footer"><a href="#">Paute con nosotros</a></li>
              <li class="item-footer"><a href="#">Garantía extendida</a></li>
              <li class="item-footer"><a href="#">Vende en (pagianweb.com)</a></li>
              <li class="item-footer"><a href="#">Compra y recoge</a></li>
            </ul>
          </div>-->
        </div>

        <div class="col-md-4 col-xs-12 d-flex mrg-top-20">
          <div class="w-100-xs txt-center-xs">
            <p class="title-footer txt-center">SIGUENOS</p>
            <div class="w-100 txt-center mrg-top-20">
              <img src="assets/img/icons/facebook.svg" alt="">
              <img src="assets/img/icons/insta.svg" class="mrg-left-10 mrg-right-10" alt="">
              <img src="assets/img/icons/youtube.svg" alt="">
            </div>
            <div class="w-100 txt-center mrg-top-20 mrg-botn-20">
              <img src="assets/img/icons/appstore.svg" width="40%" alt="">
              <img src="assets/img/icons/playstore.svg" width="40%" class="mrg-left-10" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="txt-derchos txt-center-xs">Todos los derechos reservados @ ATLHETIC 2020 | ATHLETIC S.A.S. | NIT: 900.005.001</p>
          </div>
          <div class="col-md-6">
            <p class="txt-neuro txt-center-xs">DISEÑADO Y DESARROLLADO POR <span class="bold">NEUROMEDIA DIGITAL AGENCY</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
