<footer class="color-gray2">
    <div class="container">
      <div class="row  mrg-botn-20 ing5-align-top">
        <div class="col-md-3 mrg-top-10 d-flex justify-content-center align-items-center">
          <p class="text-pink mrg-0 font-sz-20 bold" style="  letter-spacing: 0.72px;">SUSCRÍBETE A NUESTRO NEWSLETTER</p>
        </div>
        <div class="col-md-5 mrg-top-10">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="Correo electrónico">
          </mat-form-field>
          <mat-checkbox  color="primary">Declaro que he leído y acepto la nueva <span class="text-pink">Política de
              Privacidad y  <br> los Términos y Condiciones</span> de Linio.</mat-checkbox>
        </div>
        <!-- <div class="padg-lat-10 mrg-top-20 mrg-botn-20 w-100-xs">
        </div> -->
        <div class="col-md-4 mrg-top-10 d-flex justify-content-center align-items-center">
          <button mat-raised-button color="primary" class="mrg-right-5 ing5-btn-suscribete">Suscríbete</button>
          <button mat-raised-button color="primary" class="mrg-left-5 ing5-btn-promociones">Promociones</button>
        </div>
      </div>

      <!--  -->
      <mat-divider style=" margin-left: 20%; margin-right: 20%;"></mat-divider>

      <div class="row mrg-top-20">
        <div class="col-md-8 col-xs-12 row mrg-top-20">
          <div class="col-md-3 col-xs-12 txt-center-xs">
            <p class="title-footer">Información Legal</p>
            <ul class="list-footer">
              <li class="item-footer">Legales del día</li>
              <li class="item-footer">Términos y condiciones</li>
              <li class="item-footer">Términos de Martketplace</li>
              <li class="item-footer">Políticas de privacidad</li>
              <li class="item-footer">Políticas de información</li>
              <li class="item-footer">Notificaciones judiciales</li>
              <li class="item-footer">Política de venta de productos internacionales</li>
              <li class="item-footer">Derechos de retracto</li>
              <li class="item-footer">Política de tratamiento de datos personales</li>
            </ul>
          </div>

          <div class="col-md-3 col-xs-12 w-100-xs txt-center-xs">
            <p class="title-footer">SERVICIO AL CLIENTE</p>
            <ul class="list-footer">
              <li class="item-footer">Preguntas Frecuentes</li>
              <li class="item-footer">Aplicar mi garantía</li>
              <li class="item-footer">Haz tu primera compra</li>
              <li class="item-footer">Nuestras Tiendas</li>
              <li class="item-footer">Medios de pago</li>
              <li class="item-footer">Métodos de entrega</li>
              <li class="item-footer">Nuestros productos</li>
              <li class="item-footer">Sugerencias y Reclamos</li>
              <li class="item-footer">Comunicaciones </li>
              <li class="item-footer">Contacto</li>
              <li class="item-footer"><a href="www.sic.gov.co" class="text-pink">www.sic.gov.co</a></li>
            </ul>
          </div> 

          <div class="col-md-3 col-xs-12 w-100-xs txt-center-xs">
            <p class="title-footer">MAS SOBRE NOSOTROS</p>
            <ul class="list-footer">
              <li class="item-footer">¿Quiénes Somos?</li>
              <li class="item-footer">Mi Cuenta</li>
              <li class="item-footer">Trabaje con nosotros</li>
              <li class="item-footer">Responsabilidad Social</li>
              <li class="item-footer">Proveedores</li>
              <li class="item-footer">Directorio</li>
              <li class="item-footer">Programas de Lealtad (puntos)</li>
              <li class="item-footer">Vuélvete un Afiliado</li>
              <li class="item-footer">Canal de Integridad </li>
              <li class="item-footer">Protección de Propiedad Intelectual</li>
            </ul>
          </div>

          <div class="col-md-3 col-xs-12  w-100-xs txt-center-xs brd-right">
            <p class="title-footer">SERVICIOS</p>
            <ul class="list-footer">
              <li class="item-footer">Ventas Corporativas</li>
              <li class="item-footer">Paute con nosotros</li>
              <li class="item-footer">Garantía extendida</li>
              <li class="item-footer">Vende en (pagianweb.com)</li>
              <li class="item-footer">Compra y recoge</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-xs-12 d-flex mrg-top-20">
          <div class="w-100-xs txt-center-xs">
            <p class="title-footer txt-center">SIGUENOS</p>
            <div class="w-100 txt-center mrg-top-20">
              <img src="assets/img/icons/facebook.png" alt="">
              <img src="assets/img/icons/insta.png" class="mrg-left-10 mrg-right-10" alt="">
              <img src="assets/img/icons/youtube.png" alt="">
            </div>
            <div class="w-100 txt-center mrg-top-20 mrg-botn-20">
              <img src="assets/img/icons/appstore.png" width="40%" alt="">
              <img src="assets/img/icons/playstore.png" width="40%" class="mrg-left-10" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="txt-derchos txt-center-xs">Todos los derechos reservados @ ATLHETIC 2020 | ATHLETIC S.A.S. | NIT: 900.005.001</p>
          </div>
          <div class="col-md-6">
            <p class="txt-neuro txt-center-xs">DISEÑADO Y DESARROLLADO POR <span class="bold">NEUROMEDIA DIGITAL AGENCY</span>
          </div>
        </div>          
      </div>
    </div>
  </footer>
