<div class="content-account">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Mis datos personales</h2>



				<mat-card>

				        <div class="d-flex mrg-top-20 mrg-botn-20">
				            <div class="col-md-6">
				                <mat-form-field class="w-100" appearance="outline">
				                    <mat-label>Nombres</mat-label>
				                    <input name="nombres" [(ngModel)]="usuario.nombres" matInput placeholder="Nombres"  autocomplete="off">
				                </mat-form-field>
				            </div>
				            <div class="col-md-6">
				                <mat-form-field class="w-100" appearance="outline">
				                    <mat-label>Apellidos</mat-label>
				                    <input name="Apellidos" [(ngModel)]="usuario.apellidos" matInput placeholder="Apellidos"  autocomplete="off">
				                </mat-form-field>
				            </div>
				        </div>
				        <div class="d-flex mrg-top-20 mrg-botn-20">
				            <div class="col-md-12">
				                <mat-form-field class="w-100" appearance="outline">
				                    <mat-label>Correo electrónico</mat-label>
				                    <input name="email_reg" [(ngModel)]="usuario.email" matInput placeholder="Correo electrónico"  autocomplete="off">
				                </mat-form-field>
				            </div>
				        </div>
				        <div class="d-flex mrg-top-20 mrg-botn-20">
				            <div class="col-md-6">
				                <mat-form-field class="w-100" appearance="outline">
				                    <mat-label>Contraseña</mat-label>
				                    <input name="password_reg" [(ngModel)]="usuario.password" matInput [type]="hide ? 'password' : 'text'"  autocomplete="off">
				                    <button style="color: #666;" mat-icon-button matSuffix (click)="hide = !hide"
				                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				                    </button>
				                </mat-form-field>
				            </div>
				            <div class="col-md-6">
				                <mat-form-field class="w-100" appearance="outline">
				                    <mat-label>Confirmacion de contraseña</mat-label>
				                    <input name="password_conf" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmarClave"  autocomplete="off">
				                    <button style="color: #666;" mat-icon-button matSuffix (click)="hide = !hide"
				                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				                    </button>
				                </mat-form-field>
				            </div>
				        </div>

				        <div class="d-flex mrg-top-20 mrg-botn-20">
				            <div class="col-md-6">

                      <div class="form-group row">
                        <div class="col-12">
                          <input class="form-control" type="date" [(ngModel)]="usuario.fecha_nacimiento" placeholder="2011-08-19" id="example-date-input">
                        </div>
                      </div>

				            </div>
				            <div class="col-md-6 d-flex align-items-center">

				                <mat-radio-group color="primary" name="genero"  [(ngModel)]="usuario.genero" aria-label="Select an option">
				                    <mat-radio-button class="mrg-right-30" value="1">Masculino</mat-radio-button>
				                    <mat-radio-button value="2">Femenino</mat-radio-button>
				                </mat-radio-group>
				            </div>
                </div>
              <div class="d-flex justify-content-center mrg-top-20 mrg-botn-20">
                <button mat-raised-button color="primary" class="mrg-right-5 btn-page-register"
                        (click)="actualizarPerfil()">Actualizar
                </button>
              </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-flecha-arriba></app-flecha-arriba>
