<div class="color-gray">
    <div class="container detalles-producto-box">
        <div class="row">
            <nav aria-label="breadcrumb" class="mrg-left-30">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/productos">Producto</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{producto.name}}</li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col-md-9 content-images h-xs-300px detalle-slider">
                <ngx-gallery class="w-100" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
            <div class="col-md-3 mrg-top-10 detalle-info">
                <div class="detalle-puntaje-valoracion">
                    <div class="puntaje">
                        <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                        <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                        <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                        <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                        <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                    </div>
                    <div class="valoracion">
                        <p>12 valoraciones</p>
                    </div>
                </div>
                <div class="content-strech mrg-botn-30">
                    <p class="prod-subtitle">{{producto.marca}}</p>
                    <p class="prod-title">{{producto.name}}</p>
                </div>
                <div class="content-strech mrg-botn-15">
                    <p class="title-ref">{{producto.category}}</p>
                    <p class="ref">Ref: {{producto.referencia}}</p>
                </div>
                <div class="content-strech mrg-botn-15">
                    <p class="price">{{producto.price |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                    <p class="price-des" *ngIf="valor_ant != null">{{producto.precio_ant |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                </div>
                <div class="content-strech content-cuotas">
                    <p class="cuotas">Hasta 12 cuotas de <span class="txt-dark-bold">$13.345</span></p>
                </div>
                <div class="content-strech mrg-botn-15" *ngIf="descuento != null">
                    <p class="txt-descuento">Aplica descuento de {{producto.descuento * 100}}%</p>
                    <a href="#" class="link-terminos">Ver términos y condiciones</a>
                </div>
                <div class="w-80">
                    <!-- <select class="form-control bold mrg-botn-10 btn-select" placeholder="Elige tu talla" id="talla"> -->
                    <div class="box-select-talla">
                        <i class="flecha-select">▼</i>
                        <select class="my-own-form-control" placeholder="Elige tu talla" id="talla">
                            <option selected value="">Elige tu talla</option>
                            <option *ngFor="let item of tallas;" value="{{item.id}}" >{{item.name}}</option>
                        </select>
                    </div>
                    <div class="cantidad mrg-botn-10 btn-select">
                        <label for="input-cant" class="lbl-cant">Cantidad</label>
                        <input id="input-cant" class="mrg-botn-10 input-cant"  [ngModel]="cantidad" type="number">
                        <button id="inc-button" (click)="changeCantidad(true)" mat-fab color="primary" class="spinner-button">
                            +
                        </button>
                        <button id="dec-button"  (click)="changeCantidad(false)" mat-fab color="primary" class="spinner-button">
                            -
                        </button>
                    </div>
                    <button mat-raised-button class="btn-full-view mrg-botn-10" color="primary">
                        <mat-icon class="icon-small">work</mat-icon>Añadir pedido
                    </button>
                </div>
            </div>
        </div>
        
        <!-- <mat-tab-group class="mrg-top-20">

            <mat-tab label="Descripcion">
                <div class="content-tab d-block d-sm-flex p-top-50  mrg-botn-20">
                    <div class="col-md-6 col-xs-12">
                        <div class="content-strech mrg-botn-30">
                            <p class="prod-subtitle">{{producto.marca}}</p>
                            <p class="prod-title">{{producto.name}}</p>
                        </div>
                        <div>
                            <p class="text-pink font-w-500">{{producto.resumen}}</p>
                            <p class="text-dart font-w-500">{{producto.descripcion}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 d-flex justify-content-center">
                        <img src="assets/img/home/zap-9.png" class="w-80" alt="">
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Detalle">
                <div class="content-tab mrg-top-20">
                    <div class="col-md-12 mrg-botn-30">
                        <p class="prod-title">Detalle</p>
                    </div>
                    <div class="d-block d-sm-flex">
                        <div class="col-md-4 col-xs-12">
                            <ul>
                                <li class="mrg-botn-10 text-dark font-w-500">Sistema de amarre de cordones</li>
                                <li class="mrg-botn-10 text-dark font-w-500">Exterior tejido con refuerzos de TPU</li>
                                <li class="mrg-botn-10 text-dark font-w-500">Diseño ajustado y elástico</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <ul>
                                <li class="mrg-botn-10 text-dark font-w-500">Sistema de amarre de cordones</li>
                                <li class="mrg-botn-10 text-dark font-w-500">Exterior tejido con refuerzos de TPU</li>
                                <li class="mrg-botn-10 text-dark font-w-500">Diseño ajustado y elástico</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <ul>
                                <li class="mrg-botn-10 text-dark font-w-500">Sistema de amarre de cordones</li>
                                <li class="mrg-botn-10 text-dark font-w-500">Exterior tejido con refuerzos de TPU</li>
                                <li class="mrg-botn-10 text-dark font-w-500">Diseño ajustado y elástico</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Valoraciones & Sugerencias">
                <div class="d-block d-sm-flex mrg-top-20">
                    <div class="col-md-4 content-tab mrg-botn-20">
                        <div class="content-strech mrg-botn-30">
                            <p class="prod-title">Valoraciones</p>
                            <p class="prod-subtitle">18 comentarios</p>
                        </div>
                        <div class="d-flex">
                            Barra de progreso
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 content-tab mrg-botn-20">
                        <div class="content-strech mrg-botn-30">
                            <p class="prod-title">Comentarios</p>
                            <p class="prod-subtitle">12 comentarios</p>
                        </div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group> -->



        <div class="row">
            <div class="col-sm-12">
                <ul class="mas-detalle">
                    <li><a href="#godescripcion" (click)="goDescripcion()" routerLinkActive="active-link">Descripción</a></li>
                    <li><a href="#godetalle" (click)="goDetalle()">Detalle</a></li>
                    <li><a href="#govaloracion" (click)="goValoracion()">Valoraciones</a></li>
                    <li><a href="#gosugerencias" (click)="goSugerencias()">Sugerencias</a></li>
                </ul>
                <hr class="separador-mas-detalle">
            </div>
        </div>

        <div class="row" *ngIf="productos_relac.length > 0">
            <div class="col-md-12">
                <mat-divider class="divider-black mrg-top-40 mrg-botn-40"></mat-divider>
                <div class="title mrg-top-40 mrg-botn-40 w-100 txt-center">
                    <p>Productos relacionados</p>
                </div>
            </div>
        </div>

        <div id="gallery" class="carousel slide" data-ride="carousel" *ngIf="productos_relac.length > 0">
            <div class="carousel-inner ">
                <div *ngFor="let col of productos_relac; let i = index" [class]="(i == 0) ? 'carousel-item active' : 'carousel-item' ">
                    <div class="row justify-content-center mrg-botn-20">
                        <div class="col-md-2 d-block justify-content-center"  *ngFor="let item of col">
                            <div class="content-img" (click)="router.navigate(['/detalle-producto/' + item.id]);">
                                <img src="{{item.img}}" class="border-rad-mild" alt="">
                                <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
                            </div>
                            <p class="font-sz-9 text-dark bold" style="line-height: initial;">{{item.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
                <mat-icon aria-hidden="false" class="icon-lg">navigate_before</mat-icon>
            </a>
        
            <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
                <mat-icon aria-hidden="false" class="icon-lg">navigate_next</mat-icon>
            </a>
        </div>

        <div id="godescripcion" class="container descripcion-producto">
            <div class="row">
                <div class="col-md-7">
                    <p class="descripcion">Descripción</p>
                    <h2 class="titulo-descripcion">Fres Foam Arishi</h2>

                    <p class="text-cta">TENIS NEW BALANCE QUE COMBINAN DETALLES RETRO CON LO ÚLTIMO EN TECNOLOGÍA</p>
                    
                    <p class="parrafo producto">
                        NMD toma lo mejor de la tecnología de running de adidas y lo incorpora en un distintivo calzado urbano.  Estos tenis NMD lucen detalles inspirados en modelos clásicos de los archivos de adidas. Lucen las distintivas inserciones en color de contraste en la mediasuela.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="assets/img/home/zap-9.png" alt="">
                </div>
            </div>
        </div>

        <section id="godetalle" class="container detalles-producto">
            <div class="row">
                <div class="col-md-12">
                    <h2>DETALLES</h2>
                </div>

                <div class="col-md-4">
                    <ul>
                        <li>Sistema de amarre de cordones</li>
                        <li>Exterior tejido con refuerzo de TPU</li>
                        <li>Diseño ajustado y elástico</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul>
                        <li>mediasuela receptiva Boost</li>
                        <li>Suela de caucho</li>
                        <li>Número de artículo: EF4268</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <ul>
                        <li>Tenis urbanos icónicos</li>
                        <li>Color de artículo: Core Black</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="govaloracion" class="container valoraciones-comentarios">
            <div class="row">
                <div class="col-md-3 valoraciones">
                    <h2>Valoraciones</h2>
                    <p>18 valoraciones</p>

                    <div class="puntane-barra">
                        <div class="puntaje">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                        </div>
                        <div class="barra">
                            <div class="box-porcentaje">
                                <div class="porcentaje-color-82"></div>
                            </div>
                        </div>
                        <small>2 valoraciones</small>
                    </div>

                    <div class="puntane-barra">
                        <div class="puntaje">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                        </div>
                        <div class="barra">
                            <div class="box-porcentaje">
                                <div class="porcentaje-color porcentaje-color-90"></div>
                            </div>
                        </div>
                        <small>2 valoraciones</small>
                    </div>

                    <div class="puntane-barra">
                        <div class="puntaje">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                        </div>
                        <div class="barra">
                            <div class="box-porcentaje">
                                <div class="porcentaje-color porcentaje-color-30"></div>
                            </div>
                        </div>
                        <small>2 valoraciones</small>
                    </div>

                    <div class="puntane-barra">
                        <div class="puntaje">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                        </div>
                        <div class="barra">
                            <div class="box-porcentaje">
                                <div class="porcentaje-color porcentaje-color-10"></div>
                            </div>
                        </div>
                        <small>0 valoraciones</small>
                    </div>

                    <div class="puntane-barra">
                        <div class="puntaje">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                        </div>
                        <div class="barra">
                            <div class="box-porcentaje">
                                <div class="porcentaje-color porcentaje-color-2"></div>
                            </div>
                        </div>
                        <small>1 valoraciones</small>
                    </div>

                    <div class="valorar-escribir">
                        <p>Valorar y escribir un comentario</p>
                    </div>

                </div>
                <div class="col-md-8 comentarios">
                    <h2>Comentarios</h2>
                    <p class="small-comment">12 comentarios</p>

                    <div class="box-comment">
                        <h3>Excelentes zapatillas</h3>
                        <div class="estrellas-comentarios">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                        </div>
                        <p class="resena">Las sillas son bastante lindas y el paquete cuenta con las herramientas necesarias para armarlas. El único detalle que no es completamente favorable es el acabado de las bases de madera, no cuenta con un barniz por lo que la madera se ensucia fácilmente.
                        </p>
                        <p class="persons">Primera prueba</p>
                    </div>

                    <div class="box-comment">
                        <h3>Entrega sin demora</h3>
                        <div class="estrellas-comentarios">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                            <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                        </div>
                        <p class="resena">Las sillas son bastante lindas y el paquete cuenta con las herramientas necesarias para armarlas. El único detalle que no es completamente favorable es el acabado de las bases de madera, no cuenta con un barniz por lo que la madera se ensucia fácilmente.
                        </p>
                        <p class="persons">Primera prueba</p>
                    </div>

                    <a class="ver-mas-comentarios" href="">Ver más</a>
                </div>
            </div>
        </section>

        <hr class="separador-detalle">

        <section id="gosugerencias" class="producto-relacionados-detalle">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="text-center">Productos Relacionados</h2>
                </div>

                <owl-carousel [options]="optionSlideDestacados" [items]="carouselDescatadosUno" [carouselClasses]="['owl-carousel', 'owl-theme']" > 
                    <div class="content-item-product" *ngFor="let img of carouselDescatadosUno">
                        <div class="item-product">
                            <div class="content-img">
                                <img src="{{img.img}}" alt="">
                                <img *ngIf="img.descuento" src="assets/img/home/descuento.png" class="img-descuento" alt="">
                                <div></div>
                            </div>
                            <div class="content-product">
                                <p class="subtitle-prod">Adidas</p>
                                <p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
                                <div>
                                    <p class="price-prod">$300,000</p>
                                    <p class="price-prod-desc"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </owl-carousel> 
                
            </div>
        </section>


        
    </div>
</div>