<div class="agregar-carrito-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12">
                  <p class="bolsa-compra">Bolsa de compras</p>
                  <h3 class="producto-anadido">Producto añadido satisfactoriamente</h3>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7">
                  <img [src]="producto?producto['imagen_destacada']:''" alt="">
                </div>
                <div class="col-md-5">
                  <small class="marca">{{producto ? producto['name_marca'] : '' }}</small>
                  <h2 class="nombre">{{producto ? producto['name_prod'] : '' }}</h2>
                  <p class="tipo">Deportivas</p>
                  <p class="ref">Ref: {{producto ? producto['referencia'] : '' }}</p>
                  <p class="valor-total">Total:</p>
                  <div class="precio" *ngIf="producto">{{producto['precio'] | currency}}</div>
                  <div class="precio" *ngIf="!producto">{{0 | currency}}</div>
                </div>
              </div>
            </div>
          <div class="col-md-3">
            <h2 class="articulos">{{producto ? producto['name_tienda'] : '' }}</h2>
            <small class="total-producto">Total productos:</small>
            <p class="costo-envio-valor" *ngIf="producto">{{producto['precio'] | currency}}</p>
            <p class="costo-envio-valor" *ngIf="!producto">{{0 | currency}}</p>
            <small class="costo-envio">Costos de envío</small>
            <p class="costo-envio-valor" *ngIf="producto">{{producto['precio'] | currency}}</p>
            <p class="costo-envio-valor" *ngIf="!producto">{{0 | currency}}</p>
            <small class="total-articulo">Total:</small>
            <p class="precio-total" *ngIf="producto">{{producto['precio'] | currency}}</p>
            <p class="precio-total" *ngIf="!producto">{{0 | currency}}</p>

            <a style="cursor: pointer" (click)="onNoClick()" class="continuar-compra">Continuar comprando</a>
            <a style="cursor: pointer" (click)="canastaDeCompra()" class="ir-a-bolsa">Ir a la bolsa de compras</a>
          </div>
        </div>
    </div>
</div>
