<div class="agregar-carrito-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <p class="bolsa-compra">Bolsa de compras</p>
                        <h3 class="producto-anadido">Producto añadido satisfactoriamente</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <img src="assets/img/productos/producto-interna.png" alt="">
                    </div>
                    <div class="col-md-5">
                        <small class="marca">New Balance</small>
                        <h2 class="nombre">Tenis Adidas Hombre Moda Superstar</h2>
                        <p class="tipo">Deportivas</p>
                        <p class="ref">Ref: atk-1030492390f</p>
                        <p class="valor-total">Total:</p>
                        <div class="precio">$230.000</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="articulos">Tienes 1 artículo en la bolsa de compras</h2>
                <small class="total-producto">Total productos:</small>
                <p class="total-producto-valor">$230.000</p>
                <small class="costo-envio">Costos de envío</small>
                <p class="costo-envio-valor">$230.000</p>
                <small class="total-articulo">Total:</small>
                <p class="precio-total">$230.000</p>

                <a href="#" class="continuar-compra">Continuar comprando</a>
                <a href="#" class="ir-a-bolsa">Ir a la bolsa de compras</a>
            </div>
        </div>
    </div>
</div>