<div class="content-account">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Favoritos</h2>
				<div class="row">
					<div class="col-md-3 mrg-botn-20" *ngFor="let i of [].constructor(8)">
						<app-item-producto [id]="21" [nuevo]="true" [image]="'http://pruebasneuro.co/N-1007/api/images/products/21/26?ws_key=JQAET8SZT35N4G8HHDG7XJF7BS6PCCNW'" [subtitle]="'New balance'"
						[title]="'New Balance'" [price]="320000" [favorites]="true" [small]="true" [showButtons]="true">
						</app-item-producto>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>