<div class="content-account">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Favoritos</h2>
				<div class="row favorites-account">

					<!-- <div class="col-md-3 mrg-botn-20 favorites-account" *ngFor="let i of [].constructor(8)">
						<app-item-producto [id]="21" [nuevo]="true" [image]="'http://pruebasneuro.co/N-1007/api/images/products/21/26?ws_key=JQAET8SZT35N4G8HHDG7XJF7BS6PCCNW'" [subtitle]="'New balance'"
						[title]="'New Balance'" [price]="320000" [favorites]="true" [small]="true" [showButtons]="true">
						</app-item-producto>
					</div> -->

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/uno.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt="" (click)="agregarProductosAlCarrito()"> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/dos.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""  (click)="agregarProductosAlCarrito()"> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/tres.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/cuatro.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/uno.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/dos.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/tres.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/cuatro.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/uno.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/dos.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/tres.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

					<div class="col-md-3 content-item-products">
						<div class="item-product">
							<div class="content-img">
								<img class="tag-new" src="assets/img/home/nuevo.png" alt="">
								<img class="producto" src="assets/img/zapatillas/cuatro.jpg">
								<div></div>
							</div>
							<div class="content-product">
								<p class="subtitle-prod">Adidas</p>
								<p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTART</p>
								<div>
									<p class="precio-descuento">$230.000</p>
									<p class="precio-normal">$280.000</p>
								</div>
							</div>
						</div>
						<div class="cta-item-product">
							<div class="add-item">
								<img class="add-item-img" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
							</div>
							<div class="remove-item">
								<img class="remove-item-trash" src="assets/img/icons/trash.svg" alt=""> Eliminar
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
