<div class="content-account">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Mis reseñas <a class="escribir-resena" [routerLink]="['/resena-detalle']">Escribir reseña</a></h2>
				<div class="row row-resena">
					<div class="col-md-12">
						<a [routerLink]="['/resena-detalle']"><img src="assets/img/icons/lapiz.svg" alt=""></a>
						<h2 class="title-resena">No has realizado una reseña</h2>
						<p>Cuando hagas una reseña podrás verla aquí, valorar productos y editar reseñas.</p>
					</div>
				</div>
				<div class="box-button-shop">
					<a href="">
						<span class="circle-img-shop">
							<img src="assets/img/icons/inactive.png" alt="">
						</span>
						Ir a la tienda
					</a>
				</div>
			</div>
		</div>
	</div>
</div>