<mat-dialog-content class="dialog-lg vista-previa">
  <div class="row">
    <div class="col-md-12">
    <button class="boton-salir" (click)="onNoClick()">
        X
      </button>
    </div>

  </div>

    <div class="d-flex" style="padding-bottom: 2em;">
        <div class="col-md-8 content-images h-xs-300px">
            <ngx-gallery class="w-100" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
        <div class="col-md-4 mrg-top-10">
            <div class="content-strech mrg-botn-30">
                <p class="prod-subtitle">{{producto ? producto.name_marca : '' }}</p>
                <p class="prod-title">{{producto ? producto.name_prod : '' }}</p>
            </div>
            <div class="content-strech mrg-botn-15">
                <p class="title-ref">{{producto ? producto.last_categoria : '' }}</p>
                <p class="ref">Ref: {{producto ? producto.referencia : '' }}</p>
            </div>
            <div class="content-strech mrg-botn-15">
                <p class="price">{{producto? (producto.precio |currency:'COP':'symbol-narrow' :'1.0-0'): ''}}</p>
                <!--<p class="price-des" *ngIf="producto && producto.valor_descuento != null">{{producto? (producto.precio_impuesto |currency:'COP':'symbol-narrow' :'1.0-0') : ''}}</p>-->
              <p> 
                <span class="price-prod-desc-full price-des"  *ngIf="producto && producto.valor_descuento != null">
                  {{producto? (producto.precio_impuesto |currency:'COP':'symbol-narrow' :'1.0-0') : ''}} 
                </span> 
                <span class="porcentaje-descuento" *ngIf="producto.valor_descuento">
                  {{ " - " + producto.valor_descuento+"%"}}
                </span>
              </p>
            </div>

            <div class="box-select-talla">

                <select *ngIf="almacenColores?.length > 0" class="my-own-form-control" placeholder="Elige tu talla" id="color"
                    (change)="checkColores($event.target.value)">
              <option selected [value]="null" *ngIf="!colorBool" class="color-talla">Color</option>
              <option class="color-talla"
                      *ngFor="let item of  almacenColores"  value="{{item.valor_id}}">
                {{item.valor}}
              </option>
            </select>


            <select *ngIf="almacenColores?.length > 0" [(ngModel)]="opcionSeleccionado" class="my-own-form-control" id="talla" placeholder="Elige tu talla"
                    id="talla" (change)="checkearTalla($event.target.value)">
              <option selected [value]="null" id="talla-default" *ngIf="!tallaBool" class="color-talla">Talla</option>
              <ng-container *ngFor="let value of  almacenTalla">
              <option  *ngIf="value.grupo_id === 2" value="{{value.valor}}" class="color-talla">
                      <span>
                        {{value.valor}}
                      </span>
              </option>
            </ng-container>
            </select>

            <select *ngIf="opcionSabanas?.length > 0" [(ngModel)]="opcionSelecionadaSabanas" class="my-own-form-control" placeholder="Elige tu talla" id="color"
              (change)="checkSabanas($event.target.value)">
              <option selected [value]="null" *ngIf="!sabanasBool" class="color-talla">Sabanas</option>
              <option class="color-talla"
                      *ngFor="let item of  opcionSabanas"  value="{{item.valor}}">
                {{item.valor}}
              </option>
            </select>

            <select *ngIf="opcionTallas?.length > 0" [(ngModel)]="opcionSelecionadaTallas" class="my-own-form-control" placeholder="Elige tu talla" id="color"
              (change)="checkTallas($event.target.value)">
              <option selected [value]="null" class="color-talla">Tallas</option>
              <option class="color-talla"
                      *ngFor="let item of  opcionTallas"  value="{{item.valor}}">
                {{item.valor}}
              </option>
            </select>
                <div class="cantidad mrg-botn-10 btn-select">
                    <label for="input-cant" class="lbl-cant">Cantidad</label>
                    <input id="input-cant" class="mrg-botn-10 input-cant"  [ngModel]="cantidadProductos" type="number">
                    <button id="inc-button" (click)="changeCantidad(true)" mat-fab color="primary" class="spinner-button">
                        +
                    </button>
                    <button id="dec-button" (click)="changeCantidad(false)" mat-fab color="primary" class="spinner-button">
                        -
                    </button>
                </div>
                <button mat-raised-button class="btn-full-view mrg-botn-10" color="primary" (click)="agregarProductosAlCarrito()">
                    <img class="bolsa-modal-producto" src="assets/img/icons/inactive.png" alt=""> Añadir a la bolsa
                </button>
            </div>
        </div>
    </div>

    <!-- <div class="row" *ngIf="productos_relac.length > 0"> -->
    <div class="row vista-previa-relacionados" *ngIf="carouselDescatadosUno.length > 0">
        <div class="col-md-12">
            <div class="title mrg-top-30 mrg-botn-40 w-100 txt-center">
                <p>Productos relacionados</p>
            </div>

            <owl-carousel [options]="optionSlideDestacados" [items]="carouselDescatadosUno" [carouselClasses]="['owl-carousel', 'owl-theme']" >
                <div class="content-item-product" *ngFor="let img of carouselDescatadosUno">
                    <div class="item-product">
                        <div class="content-img">
                          <img [src]="img['img']" alt="" routerLink="/detalle-producto/{{img['id_producto2']}}" (click)="onNoClick()">
                            <img *ngIf="img.descuento" src="assets/img/home/descuento.png" class="img-descuento" alt="">
                            <div></div>
                        </div>
                        <div class="content-product">
                            <p class="subtitle-prod">{{img['name_cat']}}</p>
                          <p class="title-prod">{{img['name_prod']}}</p>
                          <p class="price-prod">{{img['precio_general'] |currency}}</p>

                        </div>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </div>

    <div id="gallery" class="carousel slide" data-ride="carousel" *ngIf="productos_relac.length > 0">
        <div class="carousel-inner ">
            <div *ngFor="let col of productos_relac; let i = index" [class]="(i == 0) ? 'carousel-item active' : 'carousel-item' ">
                <div class="row justify-content-center mrg-botn-20">
                    <div class="col-md-2 d-block justify-content-center"  *ngFor="let item of col">
                        <div class="content-img" (click)="router.navigate(['/detalle-producto/' + item.id]);">
                            <img src="{{item.img}}" class="border-rad-mild" alt="">
                            <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
                        </div>
                        <p class="font-sz-9 text-dark bold" style="line-height: initial;">{{item.name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
            <mat-icon aria-hidden="false" class="icon-lg">navigate_before</mat-icon>
        </a>

        <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
            <mat-icon aria-hidden="false" class="icon-lg">navigate_next</mat-icon>
        </a>
    </div>
    <!-- <button class="btn-icon-close" mat-mini-fab disabled>
        <mat-icon>home</mat-icon>
    </button>    -->
</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->
