<div class="scroll">
<div class="color-gray">
  <div class="container detalles-producto-box">
      <div class="row">
          <div class="col-md-8 content-images h-xs-300px detalle-slider" style="height: 10px !important;" (mouseout)="ocultarZoom()" >

            <div class="img-zoom-container" id="contenedor-imagen">
              <img id="myimage" *ngIf="imagenesView || imagenCambbiar"
                   (mouseover)="imageZoom('myimage', 'myresult')"
                   [src]="imagenCambbiar?imagenCambbiar:imagenesView[0].img">

              <div id="myresult" class="img-zoom-result mover-div" >

              </div>

            </div>

            <div class="contenedor-fotos-mini mt-3">

                <img  *ngFor="let data of imagenesView"
                      [src]="data['img']" height="100"
                      (mouseover)="cambiarImagen(data['img'])">

            </div>

            <!--<ngx-gallery id="myimage" (mouseover)="imageZoom('ngx-gallery-image', 'myresult')"  class="w-100 ngx-gallery-100" [options]="galleryOptions" [images]="galleryImages">
                      </ngx-gallery>-->



        </div>


      <div class="col-md-4 mrg-top-10 detalle-info">
              <div class="content-strech mrg-botn-30">
                  <p class="prod-subtitle" *ngIf="producto">{{producto.name_marca}}</p>
                  <p class="prod-title" *ngIf="producto">{{producto.name_prod}}</p>
              </div>
              <div class="content-strech mrg-botn-15">
                  <p class="title-ref" *ngIf="producto">{{producto.last_categoria}}</p>
                  <p class="ref">Ref: {{producto?producto.referencia : ''}}</p>
              </div>
          <div class="content-strech mrg-botn-15">
            <p class="price">{{producto ? (producto.precio |currency:'COP':'symbol-narrow' :'1.0-0') : 0 }}</p>
            <p>
                   <span class="price-des" *ngIf="producto && producto.valor_descuento != null">
                      {{producto.precio_impuesto |currency:'COP':'symbol-narrow' :'1.0-0'}}
                   </span>
              <span class="porcentaje-descuento" *ngIf="producto && producto.valor_descuento">
                       {{ " - " + producto.valor_descuento + "%" }}
                     </span>
            </p>
          </div>
               <span *ngIf="!returnEstadoProducto" style="color: #FF596A">Actualmente no hay inventario</span>
              <div class="w-80">
                <div class="box-select-talla">

                  <select *ngIf="almacenColores?.length > 0" class="my-own-form-control" placeholder="Elige tu talla" id="color"
                          (change)="checkColores($event.target.value)">
                    <option selected value="" *ngIf="!colorBool" class="color-talla">Color</option>
                    <option class="color-talla"
                            *ngFor="let item of  almacenColores"  value="{{item.valor_id}}">
                      {{item.valor}}
                    </option>
                  </select>


                  <select *ngIf="almacenColores?.length > 0" [(ngModel)]="opcionSeleccionado" class="my-own-form-control" id="talla" placeholder="Elige tu talla"
                          id="talla" (change)="checkearTalla($event.target.value)">
                    <option selected [value]="null" id="talla-default" *ngIf="!tallaBool" class="color-talla">Talla</option>
                    <ng-container *ngFor="let value of  almacenTalla">
                    <option  *ngIf="value.grupo_id === 2" value="{{value.valor}}" class="color-talla">
                            <span>
                              {{value.valor}}
                            </span>
                    </option>
                  </ng-container>
                  </select>

                  <select *ngIf="opcionSabanas?.length > 0" class="my-own-form-control" placeholder="Elige tu talla" id="color"
                    (change)="checkColores($event.target.value)">
                    <option selected value="" *ngIf="!colorBool" class="color-talla">Color</option>
                    <option class="color-talla"
                            *ngFor="let item of  opcionSabanas"  value="{{item.valor}}">
                      {{item.valor}}
                    </option>
                  </select>

                  <select *ngIf="opcionTallas?.length > 0" class="my-own-form-control" placeholder="Elige tu talla" id="color"
                    (change)="checkColores($event.target.value)">
                    <option selected value="" *ngIf="!colorBool" class="color-talla">Color</option>
                    <option class="color-talla"
                            *ngFor="let item of  opcionTallas"  value="{{item.valor}}">
                      {{item.valor}}
                    </option>
                  </select>

                </div>

                  <div class="cantidad mrg-botn-10 btn-select">
                      <label for="input-cant" class="lbl-cant">Cantidad</label>
                      <input id="input-cant" class="mrg-botn-10 input-cant" [ngModel]="cantidadProductos" type="number">
                      <button id="inc-button" (click)="changeCantidad(true)" mat-fab color="primary"
                          class="spinner-button">
                        +
                      </button>
                    <button id="dec-button" (click)="changeCantidad(false)" mat-fab color="primary"
                            class="spinner-button">
                      -
                    </button>
                  </div>
                <button (click)="agregarProductosAlCarrito() " [disabled]="!returnEstadoProducto"
                        class="btn-full-view mrg-botn-10 btn-bolsa-favoritos" color="primary"
                        mat-raised-button>
                  <div class="favoritos-bolsa">
                    <div class="img-bolsa">
                      <img alt="" src="assets/img/icons/inactive.png">
                    </div>
                    <p >Añadir a la bolsa</p>
                  </div>
                </button>
              </div>
          </div>
      </div>

      <section id="gosugerencias" class="producto-relacionados-detalle" *ngIf="carouselDescatadosUno && carouselDescatadosUno.length > 0">
          <div class="container">
              <div class="col-md-12">
                  <h2 class="text-center">Productos Relacionados</h2>
              </div>

            <owl-carousel [options]="optionSlideDestacados" [items]="carouselDescatadosUno"
                          [carouselClasses]="['owl-carousel', 'owl-theme']" style="height: 310px;">
              <div class="content-item-product" *ngFor="let img of carouselDescatadosUno">
                <div class="item-product relacionados" (click)="cambiarProductoRelacionado(img.id_producto)">
                  <div class="content-img" style="margin-top: -100px;">
                    <img [src]="img['img']" alt="">
                    <img *ngIf="img.descuento" src="assets/img/home/descuento.png" class="img-descuento"
                         alt="">
                    <div></div>
                  </div>
                  <div class="content-product">
                    <p class="subtitle-prod">{{img['name_cat']}}</p>
                    <p class="title-prod">{{img['name_prod']}}</p>
                    <div>
                      <p class="price-prod">{{img['precio_impuesto'] |currency}}</p>
                      <p class="price-prod-desc"></p>
                    </div>
                  </div>
                      </div>
              </div>
            </owl-carousel>

          </div>
      </section>
  </div>
</div>
</div>
<app-flecha-arriba></app-flecha-arriba>