.txt-login{
    color: #969696;
    font-size: 14px;
    letter-spacing: 0.03px;
    line-height: 17.6px;
}

.border-btn{
    border-bottom: 1px solid #eeeeee;
}

.mat-error{
    color: #f44336 !important;
}


.ingresar-login{
    border-radius: 25px;
    background-color: #FF596A;
    font-size: 12px;
    font-weight: 700;
    padding: 0em 3em;
    transition: all .6 ease;
}

.ingresar-login:hover{
    background-color: #e44f5d;
}