/* .txt-login{
    color: #969696;
    font-size: 14px;
    letter-spacing: 0.03px;
    line-height: 17.6px;
}

.border-btn{
    border-bottom: 1px solid #eeeeee;
}

.mat-error{
    color: #f44336 !important;
} */
