<div class="content-account">
	<div class="container">
		<div class="row">
			<div class="col-md-3 aside-account-column">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9 content-detail">
				<h2 class="account-title">Mis pedidos</h2>

				<div class="row-box-pedidos">
					<div class="info-estado">
						<div class="pedido-info">
							<p>Pedido No. 123456</p>
							<p>Fecha de compra 19/04/2020</p>
							<p>Total: $380.000</p>
						</div>
						<div class="pedido-estado cerrado">Estado: <span>Cerrado</span></div>
					</div>
					<div class="items">

						<div class="flex-items-prod">

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

				<div class="row fila-boton">
					<div class="col-md-12">
						<a class="detalle" href="">Ver detalles</a>
					</div>
				</div>

				<div class="row-box-pedidos">
					<div class="info-estado">
						<div class="pedido-info">
							<p>Pedido No. 123456</p>
							<p>Fecha de compra 19/04/2020</p>
							<p>Total: $380.000</p>
						</div>
						<div class="pedido-estado cerrado">Estado: <span>Cerrado</span></div>
					</div>
					<div class="items">

						<div class="flex-items-prod">

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

				<div class="row fila-boton">
					<div class="col-md-12">
						<a class="detalle" href="">Ver detalles</a>
					</div>
				</div>

				<div class="row-box-pedidos">
					<div class="info-estado">
						<div class="pedido-info">
							<p>Pedido No. 123456</p>
							<p>Fecha de compra 19/04/2020</p>
							<p>Total: $380.000</p>
						</div>
						<div class="pedido-estado abierto">Estado: <span>Abierto</span></div>
					</div>
					<div class="items">

						<div class="flex-items-prod">

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

							<div class="item col-md-4">
								<div class="item-two-col">
									<div class="col-6 item-photo">
										<img src="assets/img/zapatillas/z-01.png" alt="">
									</div>
									<div class="col-6 item-detail">
										<h3>Fresh Foam Arishi</h3>
										<h4>New Balance</h4>
										<p>Ref: atk: 1030492390f</p>
										<a href="">Reseña</a>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

				<div class="row fila-boton">
					<div class="col-md-12">
						<a class="detalle" href="">Ver detalles</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>