<div class="content-account">
  <div class="container">
    <div class="row">
      <div class="col-md-3 aside-account-column">
        <app-aside-account></app-aside-account>
      </div>
      <div class="col-md-9 content-detail">
        <h2 class="account-title">Detalle del pedido</h2>

        <div class="montar-pedido">
          <div class="row-box-pedidos">
            <div class="info-estado">
              <div class="pedido-info">
                <div class="row row-pedido-info ">
                  <div class="col-md-3">
                    <p>Origen. {{ encabezado['origen']}}</p>
                  </div>
                  <div class="col-md-3">
                    <p>Destino. {{ encabezado['destino']}}</p>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="encabezado && encabezado['transportadora_tiempoestimado']">estimado de entrega. de {{ encabezado['transportadora_tiempoestimado']}}</p>
                  </div>
                </div>
              </div>
              <div class="pedido-estado cerrado">Estado: <span>{{encabezado['pedido_estado']}}</span></div>
            </div>
            <div class="items">


                <div class="row centrar-informcion"*ngFor="let item of detalle">
                  <div class="col-md-2">
                    <img [src]="url+'/'+item['img']" alt="">
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 name" >{{item['producto_nombre']}}</div>
                      <div class="col-md-12 marca">{{item['marca']}}</div>
                      <div class="col-md-12 referencia" >{{item['referencia']}} </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-12 valor-inicial">
                        {{item['itempedido_valorunitario'] |currency}} /Unitario
                      </div>
                      <div class="col-md-12 cantidad">
                        {{item['itempedido_cantidad']}} / Cantidad
                      </div>
                      <div class="col-md-12 valor-total">
                        {{item['itempedido_valorunitario'] * item['itempedido_cantidad'] |currency}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-12 name">
                        {{item['ciudad']+'/'+item['departamento']}}
                      </div>
                      <div class="col-md-12 cantidad">
                        {{item['direccion_barrio']}}
                      </div>
                      <div class="col-md-12 cantidad">
                        {{item['direccion_ubicacion'] }}
                      </div>
                    </div>
                  </div>
                </div>


            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<app-flecha-arriba></app-flecha-arriba>
