<div class="content-item-product">
    <div (click)="router.navigate(['/detalle-producto/' + id]);" [class]="(small) ? 'item-product item-small' : 'item-product'">
        <div [class]="(small) ? 'content-img cont-small' : 'content-img'">
            <img [src]="image" alt="">
            <img src="assets/img/home/nuevo.png" *ngIf="nuevo" class="img-nuevo" alt="">
            <div [class]="(small) ? 'descuento-small' : 'descuento'" *ngIf="descuento">{{"-"+descuento+"%"}}</div>
        </div>
        <div class="content-product">
            <p [class]="(small) ? 'subtitle-prod-small' : 'subtitle-prod'">{{subtitle}}</p>
            <p [class]="(small) ? 'title-prod-small' : 'title-prod'">{{title}}</p>
            <div [class]="(small) ? 'cont-price-prod-small' : 'cont-price-prod'">
                <p class="price-prod">{{price |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                <p class="price-prod-desc" *ngIf="price_ant">{{price_ant |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
            </div>
        </div>
    </div>

    <div class="cont-btn-prod  w-100 justify-content-between mrg-top-10" *ngIf="small">
        <div class="w-60">
            <button mat-raised-button class="btn-bolsa-small" color="primary">
                <mat-icon class="icon-small">work</mat-icon>Añadir a la bolsa
            </button>
        </div>
        <div class="w-40">
            <button mat-stroked-button class="btn-vista-small" color="primary" *ngIf="!favorites">
                <mat-icon class="icon-small">visibility</mat-icon>Vista rápida
            </button>
            <button mat-stroked-button class="btn-vista-small" color="primary" *ngIf="favorites">
                <mat-icon class="icon-small">delete</mat-icon>Eliminar
            </button>
        </div>
        
    </div>

    <div class="row mrg-top-10 cont-btn-prod" *ngIf="!small">
        <div class="col-md-6">
            <button mat-raised-button class="btn-bolsa" color="primary">
                <mat-icon class="icon-small">work</mat-icon>Añadir a la bolsa
            </button>
        </div>
        <div class="col-md-6">
            <button (click)="openVistaPrevia()" mat-stroked-button class="btn-vista" color="primary">
                <mat-icon class="icon-small">visibility</mat-icon>Vista rápida
            </button>
        </div>
    </div>
</div>