<div class="content-account">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Mis direcciones</h2>
				<div class="form-direcciones" action="">

					<div class="row row-direcciones">

            <div class="col-md-6"  style="margin-bottom: 15px;">
              <select class="form-control"  (change)="onchangeCiudades()" [(ngModel)]="codigoDepartamento">
                <option [value]="null">Seleccione un departamento</option>
                <option  *ngFor="let item of departamentos" [value]="item['id']" >{{item['nombre']}}</option>
              </select>
              <span class="separador" *ngIf="!codigoDepartamento">Ingrese el departamento</span>

            </div>
            <div class="col-md-6"  style="margin-bottom: 15px;">
              <select class="form-control" [(ngModel)]="direcciones.ciudad_codigo">
                <option [value]="null" *ngIf="ciudades">Seleccione una ciudad</option>
                <option *ngFor="let data of ciudades" [value]="data['id_ciudad']">{{data['nombre']}}</option>
              </select>
              <span class="separador" *ngIf="!direcciones.ciudad_codigo">Ingrese la ciudad</span>

            </div>

            <!--<div class="col-md-6">
							<div class="form-group">
                <label >Departamento</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    [data]="departamentos"
                    [searchKeyword]="keywordDepartamento"
                    [(ngModel)]="codigoDepartamento"
                    (selected)='selectEventDepartamento($event)'
                    (inputChanged)='onChangeSearchDepartamento($event)'
                    (inputFocused)='onFocusedDepartamento($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.nombre"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
                <label >Ciudad</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    [data]="ciudades"
                    [searchKeyword]="keywordCiudad"
                    [(ngModel)]="codigoCiudad"
                    (selected)='selectEventCiudad($event)'
                    (inputChanged)='onChangeSearchCiudad($event)'
                    (inputFocused)='onFocusedCiudad($event)'
                    [itemTemplate]="itemTemplate1"
                    [notFoundTemplate]="notFoundTemplate1">
                  </ng-autocomplete>

                  <ng-template #itemTemplate1 let-item>
                    <a [innerHTML]="item.nombre"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate1 let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
							</div>
            </div>-->

            <div class="col-md-6">
							<div class="form-group">
								<label >Barrio</label>
								<input type="tel" [(ngModel)]="direcciones.direccion_barrio" class="form-control">
                <span *ngIf="!direcciones.direccion_barrio">Ingrese el barrio</span>
							</div>
						</div>

            <div class="col-md-6">
              <div class="form-group">
                <label >Dirección</label>
                <input type="text"  [(ngModel)]="direcciones.direccion_ubicacion" class="form-control" >
                <span *ngIf="!direcciones.direccion_ubicacion">Ingrese la dirección</span>
              </div>
            </div>

						<div class="col-md-6">
							<div class="form-group">
								<label >Nombre</label>
								<input type="text"  [(ngModel)]="direcciones.usuario_nombre" class="form-control">
                <span *ngIf="!direcciones.usuario_nombre">Ingrese el nombre</span>
							</div>
            </div>

            <div class="col-md-6">
							<div class="form-group">
								<label >Apellido</label>
								<input type="text" class="form-control"  [(ngModel)]="direcciones.usuario_apellido" >
                <span *ngIf="!direcciones.usuario_apellido"> Ingrese el apellido</span>
							</div>
						</div>

            <div class="col-md-6">
              <div class="form-group">
                <label >Teléfono de contacto </label>
                <input type="number" class="form-control"  [(ngModel)]="direcciones.direccion_celular" >
                <span *ngIf="!direcciones.direccion_celular">Ingrese telefono de contacto</span>
              </div>
            </div>

						<div class="col-md-6">
							<div class="form-group">
								<label >Datos adicionales</label>
								<input type="text"  [(ngModel)]="direcciones.direccion_nombre" class="form-control" >
                <span *ngIf="!direcciones.direccion_nombre">Ingrese dato adicionales</span>
							</div>
            </div>

            <div class="col-md-6">
              <div class="form-group">

                <mat-radio-group aria-label="Select an option" [(ngModel)]="direcciones.direccion_lugar">
                  <mat-radio-button [value]="1"   [checked]="true" style=" color: black !important;" >Trabajo</mat-radio-button>
                  <mat-radio-button [value]="2"   [checked]="true" style=" color: black !important;" >Residencia</mat-radio-button>
                </mat-radio-group>
                <p>
                  <span *ngIf="!direcciones.direccion_lugar">Ingrese lugar de entrega</span>
                </p>
              </div>
            </div>



            <div class="col-md-12">
              <mat-checkbox [(ngModel)]="direcciones.usuario_recibir_informacion" class="recibir-info">Quiero recibir información sobre promociones y anuncios por <strong>whatsapp</strong></mat-checkbox>
            </div>

						<div class="col-md-12">
              <p>
                <mat-checkbox  [(ngModel)]="direcciones.direccion_estado" class="direccion-predeterminada">Definir como dirección predeterminada</mat-checkbox>
              </p>
						</div>

					</div>
				</div>

				<div class="row row-save-adress" >
					<button class="save-adrres" (click)="crearDirecciones()" *ngIf="!codigo"  [disabled]="validarCampos() === false" >Guardar dirección</button>
          <button class="save-adrres" (click)=" actualizarDirecciones()" *ngIf="codigo"  [disabled]="validarCampos() === false" >Actualizar dirección</button>
				</div>
			</div>
		</div>
	</div>
</div>
