<div class="content-account">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Mis direcciones</h2>
				<div class="form-direcciones" action="">
					<div class="row row-direcciones">

            <div class="col-md-6">
							<div class="form-group">
                <label for="">Departamento</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    [data]="departamentos"
                    [searchKeyword]="keywordDepartamento"
                    [(ngModel)]="codigoDepartamento"
                    (selected)='selectEventDepartamento($event)'
                    (inputChanged)='onChangeSearchDepartamento($event)'
                    (inputFocused)='onFocusedDepartamento($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.nombre"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
                <label for="">Ciudad</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    [data]="ciudades"
                    [searchKeyword]="keywordCiudad"
                    [(ngModel)]="codigoCiudad"
                    (selected)='selectEventCiudad($event)'
                    (inputChanged)='onChangeSearchCiudad($event)'
                    (inputFocused)='onFocusedCiudad($event)'
                    [itemTemplate]="itemTemplate1"
                    [notFoundTemplate]="notFoundTemplate1">
                  </ng-autocomplete>

                  <ng-template #itemTemplate1 let-item>
                    <a [innerHTML]="item.nombre"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate1 let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
							</div>
            </div>
            <div class="col-md-6">
							<div class="form-group">
								<label for="">Barrio</label>
								<input type="tel" [(ngModel)]="direcciones.direccion_barrio" class="form-control" id="">
							</div>
						</div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="">Direccion</label>
                <input type="text"  [(ngModel)]="direcciones.direccion_ubicacion" class="form-control" id="">
              </div>
            </div>


						<div class="col-md-12">
							<mat-checkbox class="recibir-info">Quiero recibir información sobre promociones y anuncios por <strong>whatsapp</strong></mat-checkbox>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="">Telefono</label>
								<input type="text"  [(ngModel)]="direcciones.direccion_telefono" class="form-control" id="">
							</div>
            </div>

            <div class="col-md-6">
							<div class="form-group">
								<label for="">Celular</label>
								<input type="text" class="form-control"  [(ngModel)]="direcciones.direccion_celular" id="">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="">Nombre direccion</label>
								<input type="text"  [(ngModel)]="direcciones.direccion_nombre" class="form-control" id="">
							</div>
            </div>

						<div class="col-md-12">
							<mat-checkbox class="direccion-predeterminada">Definir como dirección predeterminada</mat-checkbox>
						</div>

					</div>
				</div>

				<div class="row row-save-adress" >
					<a class="save-adrres" (click)="crearDirecciones()" *ngIf="!codigo">Guardar dirección</a>
          <a class="save-adrres" (click)=" actualizarDirecciones()" *ngIf="codigo">Actualizar dirección</a>
				</div>
			</div>
		</div>
	</div>
</div>
