<mat-sidenav-container class="white">
    <!-- Header -->
    <app-header (openBolsa)="openBolsa($event)"></app-header>
    <!-- Home -->
    <router-outlet></router-outlet>
    <!-- <app-content [deviceXs]="deviceXs"></app-content> -->
    <!-- Footer -->
      <app-footer></app-footer>

      <!-- Bolsa -->
    <mat-sidenav [(opened)]="bolsa" mode="over" position="end" [fixedInViewport]="true">
      <div class="header-bolsa">
        <a href=""><span class="material-icons">highlight_off</span></a>
        <h1 style="padding: 20px;">Contenido de la Bolsa</h1>
      </div>
      <div class="filtro-bolsa">
        <p>ORDENAR SEGÚN:</p> <select name="" id=""></select>
      </div>

      <div class="items-productos-bolsa">
        <div class="imagen-producto">
          <img src="assets/img/zapatillas/z-01.png" alt="" class="foto-producto">
          <img src="assets/img/productos/si.png" alt="" class="descuento-producto">
        </div>
        <div class="detalle-producto">
          <h2>Fresh Foam Arishi</h2>
          <h3>New Balance</h3>
          <p>Ref: atk: 1030492390f</p>
        </div>
        <div class="precio-acciones">
          <p class="precio-descuento">$230.000</p>
          <p class="precio-normal">$280.000</p>
          <div class="acciones-cantidad">
            <span class="material-icons trash">delete</span>
            <input class="form-control cantidad" type="number" name="" id="">
            <span class="material-icons plus">control_point</span>
          </div>
        </div>
      </div>

      <div class="items-productos-bolsa">
        <div class="imagen-producto">
          <img src="assets/img/zapatillas/z-01.png" alt="" class="foto-producto">
          <img src="assets/img/productos/si.png" alt="" class="descuento-producto">
        </div>
        <div class="detalle-producto">
          <h2>Fresh Foam Arishi</h2>
          <h3>New Balance</h3>
          <p>Ref: atk: 1030492390f</p>
        </div>
        <div class="precio-acciones">
          <p class="precio-descuento">$230.000</p>
          <p class="precio-normal">$280.000</p>
          <div class="acciones-cantidad">
            <span class="material-icons less">remove_circle_outline</span>
            <input class="form-control cantidad" type="number" name="" id="">
            <span class="material-icons plus">control_point</span>
          </div>
        </div>
      </div>

      <div class="items-productos-bolsa">
        <div class="imagen-producto">
          <img src="assets/img/zapatillas/z-01.png" alt="" class="foto-producto">
          <img src="assets/img/productos/si.png" alt="" class="descuento-producto">
        </div>
        <div class="detalle-producto">
          <h2>Fresh Foam Arishi</h2>
          <h3>New Balance</h3>
          <p>Ref: atk: 1030492390f</p>
        </div>
        <div class="precio-acciones">
          <p class="precio-descuento">$230.000</p>
          <p class="precio-normal">$280.000</p>
          <div class="acciones-cantidad">
            <span class="material-icons less">remove_circle_outline</span>
            <input class="form-control cantidad" type="number" name="" id="">
            <span class="material-icons plus">control_point</span>
          </div>
        </div>
      </div>

      <div class="items-productos-bolsa">
        <div class="imagen-producto">
          <img src="assets/img/zapatillas/z-01.png" alt="" class="foto-producto">
          <img src="assets/img/productos/si.png" alt="" class="descuento-producto">
        </div>
        <div class="detalle-producto">
          <h2>Fresh Foam Arishi</h2>
          <h3>New Balance</h3>
          <p>Ref: atk: 1030492390f</p>
        </div>
        <div class="precio-acciones">
          <p class="precio-descuento">$230.000</p>
          <p class="precio-normal">$280.000</p>
          <div class="acciones-cantidad">
            <span class="material-icons less">remove_circle_outline</span>
            <input class="form-control cantidad" type="number" name="" id="">
            <span class="material-icons plus">control_point</span>
          </div>
        </div>
      </div>

      <div class="items-productos-bolsa">
        <div class="imagen-producto">
          <img src="assets/img/zapatillas/z-01.png" alt="" class="foto-producto">
          <img src="assets/img/productos/si.png" alt="" class="descuento-producto">
        </div>
        <div class="detalle-producto">
          <h2>Fresh Foam Arishi</h2>
          <h3>New Balance</h3>
          <p>Ref: atk: 1030492390f</p>
        </div>
        <div class="precio-acciones">
          <p class="precio-descuento">$230.000</p>
          <p class="precio-normal">$280.000</p>
          <div class="acciones-cantidad">
            <span class="material-icons less">remove_circle_outline</span>
            <input class="form-control cantidad" type="number" name="" id="">
            <span class="material-icons plus">control_point</span>
          </div>
        </div>
      </div>

      <div class="items-productos-bolsa">
        <div class="imagen-producto">
          <img src="assets/img/zapatillas/z-01.png" alt="" class="foto-producto">
          <img src="assets/img/productos/si.png" alt="" class="descuento-producto">
        </div>
        <div class="detalle-producto">
          <h2>Fresh Foam Arishi</h2>
          <h3>New Balance</h3>
          <p>Ref: atk: 1030492390f</p>
        </div>
        <div class="precio-acciones">
          <p class="precio-descuento">$230.000</p>
          <p class="precio-normal">$280.000</p>
          <div class="acciones-cantidad">
            <span class="material-icons less">remove_circle_outline</span>
            <input class="form-control cantidad" type="number" name="" id="">
            <span class="material-icons plus">control_point</span>
          </div>
        </div>
      </div>

      <div class="footer-bolsa">
        <div class="total">
          <p>Total aproximado</p>
          <p>$380.000</p>
        </div>
        <div class="call-to-action-bolsa">
          
        </div>
      </div>

    </mat-sidenav>

</mat-sidenav-container>