<mat-toolbar color="warn" class="toolbar-small">
  <mat-toolbar-row class="container toolbar-small">
    <span class="spacer"></span>
    <mat-icon class="icon-small" aria-hidden="false">local_phone</mat-icon>
    <span>3154559876/3154559876</span>
    <span class="separator"></span>
    <mat-icon class="icon-small" aria-hidden="false">local_shipping</mat-icon>
    <span>Envíos a todo el país</span>
    <span class="separator"></span>
    <mat-icon class="icon-small" aria-hidden="false">compare_arrows</mat-icon>
    <span>Política de devoluciones</span>
    <span class="separator"></span>
    <mat-icon class="icon-small" aria-hidden="false">pin_drop</mat-icon>
    <span>¿Necesita ayuda?</span>
  </mat-toolbar-row>
</mat-toolbar>
<!--  -->
<mat-toolbar color="accent" class="toolbar-default">
  <mat-toolbar-row class="container toolbar-default">
    <span class="item-menu">
      <img src="assets/img/icons/menu.png">
      <p class="text-menu">Categorias</p>
    </span>
    <span style="display: flex;">
      <img src="assets/img/logo_fondo_negro.png">
    </span>
    <span style="display: flex;">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Correo electrónico">
      </mat-form-field> -->
    </span>
    <span class="spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
    <span class="item-menu">
      <img src="assets/img/icons/load-carriage.png">
      <p class="text-menu">Mis pedidos</p>
    </span>
    <span class="item-menu">
      <!-- <img src="assets/img/load-carriage.png"> -->
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite_outline</mat-icon>
      <p class="text-menu">Mis favoritos</p>
    </span>
    <span class="item-menu">
      <!-- <img src="assets/img/user_inactive.png"> -->
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">person_outline</mat-icon>
      <p class="text-menu">Mi cuenta</p>
    </span>
    <span class="item-menu">
      <img src="assets/img/icons/bolsa_inactive.png">
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">shopping_bag_outline</mat-icon> -->
      <p class="text-menu">Bolsa</p>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Contenido 1 -->
<div class="container mrg-top-20">
  <mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <img src="assets/img/home/img-1.png" alt="">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <img src="assets/img/home/img-2.png" width="469px" height="219px" alt="">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <img src="assets/img/home/img-3.png" width="469px" height="219px" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- Contenido 2 -->
<div class="container mrg-top-40 mrg-botn-20">
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile>
      <img src="assets/img/home/rapida_entrega.png" alt="">
      <span class="txt-icon-home">Rápida entrega <p>Nivel nacional</p> </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/img/home/pagos_electronicos.png" alt="">
      <span class="txt-icon-home">Rápida entrega <p>Nivel nacional</p> </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/img/home/Bitmap.png" alt="">
      <span class="txt-icon-home">Rápida entrega <p>Nivel nacional</p> </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/img/home/asistencia.png" alt="">
      <span class="txt-icon-home">Rápida entrega <p>Nivel nacional</p> </span>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/img/home/download_app.png" alt="">
      <span class="txt-icon-home">Rápida entrega <p>Nivel nacional</p> </span>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Contenido 3 -->
<div class="container mrg-top-40 mrg-botn-20">
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile>
      <img src="assets/img/home/img-4.png" class="border-rad-mild" width="271px" height="272px" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/img/home/img-yellow.png" class="border-rad-mild" width="380px" height="272px" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/img/home/img-6.png" class="border-rad-mild" width="272px" height="272px" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Contenido 4 - Destacados -->
<div class="color-gray">
  <div class="container mrg-top-40 mrg-botn-20">
    <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile class="title-home">
        <p>Productos destacados </p>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="450px" class="mrg-top-20">
      <mat-grid-tile>
        <div class="item-product">
          <div class="content-img">
            <img src="assets/img/home/zap-1.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod">Adidas Original</p>
            <p class="title-prod">TENIS ADIDAS ORIGINALS HOMBRE MODA NMD_R1</p>
            <div class="cont-price-prod">
              <p class="price-prod">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product">
          <div class="content-img">
            <img src="assets/img/home/zap-2.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod">Adidas Original</p>
            <p class="title-prod">TENIS MODA PUMA HOMBRES SF STORM</p>
            <div class="cont-price-prod">
              <p class="price-prod">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product">
          <div class="content-img">
            <img src="assets/img/home/zap-3.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
            <div class="descuento">-30%</div>
          </div>
          <div class="content-product">
            <p class="subtitle-prod">Adidas Original</p>
            <p class="title-prod">FRESH FOAM ARISHI</p>
            <div class="cont-price-prod">
              <p class="price-prod">$230.000</p>
              <p class="price-prod-desc">$280.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product">
          <div class="content-img">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod">Adidas Original</p>
            <p class="title-prod">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod">
              <p class="price-prod">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<!-- Contenido 5 -->
<div class="container mrg-botn-20">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <img src="assets/img/home/img-5.png" class="border-rad-mild" width="500px" height="272px" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/img/home/img-yellow.png" class="border-rad-mild" width="500px" height="272px" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>


<!-- Contenido 6 - Destacados -->
<div class="color-gray">
  <div class="container mrg-top-40 mrg-botn-20">
    <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile class="title-home">
        <p>Productos destacados </p>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="350px" class="mrg-top-20">
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-1.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS ORIGINALS HOMBRE MODA NMD_R1</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img  cont-small">
            <img src="assets/img/home/zap-2.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS MODA PUMA HOMBRES SF STORM</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-3.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
            <div class="descuento-small">-30%</div>
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">FRESH FOAM ARISHI</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
              <p class="price-prod-desc font-sz-12">$280.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <!-- br -->
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-1.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS ORIGINALS HOMBRE MODA NMD_R1</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img  cont-small">
            <img src="assets/img/home/zap-2.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS MODA PUMA HOMBRES SF STORM</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-3.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
            <div class="descuento-small">-30%</div>
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">FRESH FOAM ARISHI</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
              <p class="price-prod-desc font-sz-12">$280.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


<!-- Contenido 7 -->
<div class="container mrg-botn-20">
  <mat-grid-list cols="1" rowHeight="250px">
    <mat-grid-tile>
      <img src="assets/img/home/img-7.png" class="border-rad-mild" height="200px" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>


<!-- Contenido 8 - Destacados -->
<div class="color-gray">
  <div class="container mrg-top-40 mrg-botn-20">
    <mat-grid-list cols="1" rowHeight="150px">
      <mat-grid-tile>
        <div class="content-btn-cate">
          <div class="btn-home-cate-act">
            <mat-icon svgIcon="woman" class="mrg-top-15p">woman</mat-icon>
            <p>Prueba texto</p>
          </div>

          <div class="btn-home-cate">
            <mat-icon svgIcon="woman" class="mrg-top-15p">woman</mat-icon>
            <p>Prueba texto</p>
          </div>

          <div class="btn-home-cate">
            <mat-icon svgIcon="woman" class="mrg-top-15p">woman</mat-icon>
            <p>Prueba texto</p>
          </div>
          <div class="btn-home-cate">
            <mat-icon svgIcon="woman" class="mrg-top-15p">woman</mat-icon>
            <p>Prueba texto</p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="350px" class="mrg-top-20">
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-1.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS ORIGINALS HOMBRE MODA NMD_R1</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img  cont-small">
            <img src="assets/img/home/zap-2.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS MODA PUMA HOMBRES SF STORM</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-3.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
            <div class="descuento-small">-30%</div>
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">FRESH FOAM ARISHI</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
              <p class="price-prod-desc font-sz-12">$280.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <!-- br -->
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-1.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS ORIGINALS HOMBRE MODA NMD_R1</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img  cont-small">
            <img src="assets/img/home/zap-2.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS MODA PUMA HOMBRES SF STORM</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-3.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
            <div class="descuento-small">-30%</div>
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">FRESH FOAM ARISHI</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
              <p class="price-prod-desc font-sz-12">$280.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="item-product item-small">
          <div class="content-img cont-small">
            <img src="assets/img/home/zap-4.png" alt="">
            <img src="assets/img/home/nuevo.png" class="img-nuevo-small" alt="">
          </div>
          <div class="content-product">
            <p class="subtitle-prod-small">Adidas Original</p>
            <p class="title-prod-small">TENIS ADIDAS HOMBRE MODA SUPERSTAR</p>
            <div class="cont-price-prod-small">
              <p class="price-prod font-sz-12">$230.000</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<!-- Contenido 9 -->
<div class="container mrg-botn-20">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <div style="width: 100%; background: #353435; padding: 5px; border-radius: 10px;">
        <p style="color: #FFFFFF;
        font-size: 31px;
        font-weight: 400;
        letter-spacing: 3.98px;
        line-height: 38.97px;
        text-align: center;">Envíos nacionales gratis en temporada</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Contenido 10 -->
<div class="container color-gray mrg-botn-20">
  <mat-grid-list cols="7" rowHeight="220px" class="mrg-top-20">
    <mat-grid-tile [colspan]="2">
      <div class="w-100">
        <p class="font-sz-20 text-pink bold">Las más populares de la semana </p>
        <p class="font-sz-16 text-dark">Estas son las zapatillas mejor puntuadas esta semana</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="content-img">
          <img src="assets/img/home/zap-1.png" class="border-rad-mild" alt="">
          <img src="assets/img/home/nuevo.png" class="img-nuevo" alt="">
        </div>
        <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda Nmd_R1</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="content-img">
          <img src="assets/img/home/zap-2.png" class="border-rad-mild" alt="">
        </div>
        <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda Nmd_R1</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="content-img">
          <img src="assets/img/home/zap-3.png" class="border-rad-mild" alt="">
        </div>
        <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda Nmd_R1</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="content-img">
          <img src="assets/img/home/zap-4.png" class="border-rad-mild" alt="">
        </div>
        <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda Nmd_R1</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <div class="content-img">
          <img src="assets/img/home/zap-4.png" class="border-rad-mild" alt="">
        </div>
        <p class="font-sz-9 text-dark bold" style="line-height: initial;">Tenis Adidas Originals Hombre Moda Nmd_R1</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Contenido 10 -->
<div class="container mrg-top-40">
  <owl-carousel [options]="mySlideOptions" [carouselClasses]="['owl-theme']">
    <div class="item" *ngFor="let image of myCarouselImages;let i = index">
      <div>
        <img src={{image}} />
      </div>
    </div>
  </owl-carousel>
</div>


<!-- Contenido 11 - Destacados -->
<div class="color-gray">
  <div class="container mrg-top-40 mrg-botn-20">

    <mat-grid-list cols="3" rowHeight="400px" class="mrg-top-20">

      <mat-grid-tile [colspan]="2">
        <img src="assets/img/home/img-8.png" class="w-100 border-rad-mild" alt="">
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/img/home/img-9.png" style="width: 63%;" class="border-rad-mild" alt="">
      </mat-grid-tile>
      
    </mat-grid-list>
  </div>
</div>

<!-- Contenido 12 -->
<div class="container mrg-top-40 mrg-botn-40">
  <mat-grid-list cols="3" rowHeight="120px" class="mrg-top-20">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="mes-home" style="background-color: #4800a1;">
        <p>JUNIO 2020</p>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <img src="assets/img/home/img-10.png" class="w-100" alt="">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="mes-home" style="background-color: #002f6d;">
        <p>JULIO 2020</p>
      </div>
    </mat-grid-tile>
  
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="mes-home" style="background-color: #ad00d6;">
        <p>TEMPORADA</p>
      </div>
    </mat-grid-tile>
  
  </mat-grid-list>
</div>

<!-- Contenido 11 - Destacados -->
<footer class="color-gray">
  <div class="container mrg-top-20">
      <mat-grid-list cols="7" rowHeight="120px" class="mrg-top-10 mrg-botn-20">
        <mat-grid-tile [colspan]="2">
          <div class="w-100">
            <p class="text-pink mrg-0 font-sz-20 bold">Suscríbette a nuestro Newsletter</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
          <div class="padg-lat-10 w-100">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Correo electrónico</mat-label>
              <input matInput placeholder="Correo electrónico">
            </mat-form-field>
            <mat-checkbox color="primary">Declaro que he leído y acepto la nueva <span class="text-pink">Política de Privacidad y <br> los Términos y Condiciones</span> de Linio.</mat-checkbox>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <button mat-raised-button color="primary" class="w-100 mrg-right-5">Suscríbete</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <button mat-raised-button color="primary" class="w-100 mrg-left-5">Promociones</button>
        </mat-grid-tile>
        
      </mat-grid-list>
      <!--  -->
      <mat-divider style=" margin-left: 20%; margin-right: 20%;"></mat-divider>
      <mat-grid-list cols="6" rowHeight="330px" class="mrg-top-20">
        <mat-grid-tile [colspan]="1">
          <div class="w-100 h-100">
            <p class="title-footer">Información Legal</p>
            <ul class="list-footer">
              <li class="item-footer">Legales del día</li>
              <li class="item-footer">Términos y condiciones</li>
              <li class="item-footer">Términos de Martketplace</li>
              <li class="item-footer">Políticas de privacidad</li>
              <li class="item-footer">Políticas de información</li>
              <li class="item-footer">Notificaciones judiciales</li>
              <li class="item-footer">Política de venta de productos internacionales</li>
              <li class="item-footer">Derechos de retracto</li>
              <li class="item-footer">Política de tratamiento de datos personales</li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" >
          <div class="w-100 h-100">
            <p class="title-footer">SERVICIO AL CLIENTE</p>
            <ul class="list-footer">
              <li class="item-footer">Preguntas Frecuentes</li>
              <li class="item-footer">Aplicar mi garantía</li>
              <li class="item-footer">Haz tu primera compra</li>
              <li class="item-footer">Nuestras Tiendas</li>
              <li class="item-footer">Medios de pago</li>
              <li class="item-footer">Métodos de entrega</li>
              <li class="item-footer">Nuestros productos</li>
              <li class="item-footer">Sugerencias y Reclamos</li>
              <li class="item-footer">Comunicaciones </li>
              <li class="item-footer">Contacto</li>
              <li class="item-footer"><a href="www.sic.gov.co" class="text-pink">www.sic.gov.co</a></li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <div class="w-100 h-100">
            <p class="title-footer">MAS SOBRE NOSOTROS</p>
            <ul class="list-footer">
              <li class="item-footer">¿Quiénes Somos?</li>
              <li class="item-footer">Mi Cuenta</li>
              <li class="item-footer">Trabaje con nosotros</li>
              <li class="item-footer">Responsabilidad Social</li>
              <li class="item-footer">Proveedores</li>
              <li class="item-footer">Directorio</li>
              <li class="item-footer">Programas de Lealtad (puntos)</li>
              <li class="item-footer">Vuélvete un Afiliado</li>
              <li class="item-footer">Canal de Integridad </li>
              <li class="item-footer">Protección de Propiedad Intelectual</li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <div class="w-100 h-100 border-right">
            <p class="title-footer">SERVICIOS</p>
            <ul class="list-footer">
              <li class="item-footer">Ventas Corporativas</li>
              <li class="item-footer">Paute con nosotros</li>
              <li class="item-footer">Garantía extendida</li>
              <li class="item-footer">Vende en (pagianweb.com)</li>
              <li class="item-footer">Compra y recoge</li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <div class="w-100 h-100">
            <p class="title-footer txt-center">SIGUENOS</p>
            <div class="w-100 txt-center mrg-top-20">
              <img src="assets/img/icons/facebook.png" alt="">
              <img src="assets/img/icons/insta.png" class="mrg-left-10 mrg-right-10" alt="">
              <img src="assets/img/icons/youtube.png" alt="">
            </div>
            <div class="w-100 txt-center mrg-top-20">
              <img src="assets/img/icons/appstore.png" width="40%" alt="">
              <img src="assets/img/icons/playstore.png" width="40%" class="mrg-left-10" alt="">
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="background: #D8D8D8;">
      <div class="container">
        <mat-grid-list cols="2" rowHeight="50px">
          <mat-grid-tile>
            <div class="w-100">
              <p class="txt-derchos">Todos los derechos reservados @ ATLHETIC 2020 | ATHLETIC S.A.S. | NIT: 900.005.001</p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="w-100">
              <p class="txt-neuro">DISEÑADO Y DESARROLLADO POR <span class="bold">NEUROMEDIA DIGITAL AGENCY</span></p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        </div>
    </div>
</footer>