<ul class="aside-account">
	<li><a [routerLink]="['/pedidos']" routerLinkActive="active-link">Mis pedidos</a></li>
	<li><a [routerLink]="['/resenas']" routerLinkActive="active-link">Mis reseñas</a></li>
	<li><a [routerLink]="['/cupones']" routerLinkActive="active-link">Mis cupones</a></li>
	<hr>
	<li><a [routerLink]="['/perfil']" routerLinkActive="active-link">Mis datos personales</a></li>
	<li><a [routerLink]="['/direcciones']" routerLinkActive="active-link">Mis direcciones</a></li>
	<hr>
	<li><a [routerLink]="['/favoritos']" routerLinkActive="active-link">Mis favoritos</a></li>

	<a class="ing5-cerrar-sesion" href="#">Cerrar sesión</a>
</ul>