<div class="color-gray producto-component">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb" class="mrg-left-30">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Producto</li>
                </ol>
            </nav>
        </div>
        <div class="d-flex">
            <div class="d-none d-md-block mrg-top-20">
                <mat-card *ngFor="let item of filtros; let i of index" class="card-filter col-md-12 mrg-botn-20">
                    <p class="title-filter">{{item.name}}</p>
                    <div class="row dbl-fila-filter">
                        <div class="col-md-6" *ngFor="let value of item.valores" style="padding-right: 3px;">
                            <mat-checkbox class="check-filter">{{value.name}}</mat-checkbox>
                        </div>
                    </div>
                </mat-card>

                <!-- <mat-card class="col-md-12" style="width: 200px;">
                    <p class="title-filter">Talla</p>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="input-desde" class="mrg-0">Desde</label>
                            <select class="custom-select mr-sm-2 bold" id="input-desde">
                                <option selected>38</option>
                                <option value="1">39</option>
                                <option value="2">40</option>
                                <option value="3">41</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="input-hasta" class="mrg-0">Hasta</label>
                            <select class="custom-select mr-sm-2 bold" id="input-hasta">
                                <option selected>38</option>
                                <option value="1">39</option>
                                <option value="2">40</option>
                                <option value="3">41</option>
                            </select>
                        </div>
                    </div>
                </mat-card> -->

                <mat-card class="col-md-12 mrg-top-20 card-filter clase-marca">
                    <p class="title-filter">Marca</p>
                    <div class="row dbl-fila-filter">
                        <div class="col-md-6" *ngFor="let marca of marcas;" style="padding-right: 3px;">

                            <mat-checkbox
                              (change)="changeMarca($event, marca.id_marca?marca.id_marca:checkMarcas)"
                                          class="check-filter">{{marca.name_marca}}</mat-checkbox>
                        </div>
                        <!-- <div class="col-md-6 d-block p-0">
                            <mat-checkbox class="check-filter">New Balance</mat-checkbox>
                        </div> -->
                    </div>
                </mat-card>

                <mat-card class="col-md-12 mrg-top-20 card-filter">
                    <p class="title-filter">Categoria</p>
                    <div *ngFor="let categoria of categorias_prin">
                        <mat-checkbox (change)="changeCategorie($event, categoria.id_categoria)" class="check-filter">{{categoria.name_cat}}</mat-checkbox>
                    </div>
                </mat-card>

              <mat-card class="col-md-12 mrg-top-20 card-filter">
                <p class="title-filter">Estado del producto</p>
                <div *ngFor="let item of estadoProducto">
                  <mat-checkbox (change)="productosNuevos($event, item.id)" class="check-filter">{{item.nombre}}</mat-checkbox>
                </div>
              </mat-card>

              <mat-card class="col-md-12 mrg-top-20 card-filter">
                <p class="title-filter">Descuento</p>
                <div *ngFor="let item of descuentosProductos">
                  <mat-checkbox (change)="productosDescuentos($event, item.id)" class="check-filter">{{item.nombre}}</mat-checkbox>
                </div>
              </mat-card>

                <mat-card class="col-md-12 mrg-top-20 mrg-botn-40 card-filter">
                    <p class="title-filter">Precio</p>
                    <div class="row">
                        <div class="col-md-12">
                            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="min" class="mrg-0">Min</label>
                            <input class="form-control form-control-sm" id="min" type="text" [(ngModel)]="minValue">
                        </div>
                        <div class="col-md-6">
                            <label for="max" class="mrg-0">Max</label>
                            <input class="form-control form-control-sm" id="max" type="text"  [(ngModel)]="maxValue">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mrg-top-10">
                        <button (click)="addPrice()" class="mrg-right-10 btn-filter" mat-raised-button color="primary">
                            Filtrar
                        </button>
                        <button mat-stroked-button class="btn-filter" (click)="clearPrice()" color="primary">
                            Borrar
                        </button>
                    </div>
                </mat-card>

                <!-- <mat-card class="col-md-12 mrg-top-20" style="width: 200px;">
                    <p class="title-filter">Puntaje</p>
                    <div><mat-checkbox>5</mat-checkbox></div>
                    <div><mat-checkbox>4</mat-checkbox></div>
                    <div><mat-checkbox>3</mat-checkbox></div>
                    <div><mat-checkbox>2</mat-checkbox></div>
                    <div><mat-checkbox>1</mat-checkbox></div>
                </mat-card> -->
            </div>

            <div class="d-block mrg-top-20">
                <div class="d-none d-md-block row w-100" style="margin-left: 10px !important;">
                    <div class="col-md-12 clase-banner" routerLink="/productos/05/nuevo" *ngIf="disenoHome && disenoHome[0]['url_imagen']">
                      <img [src]="imagenCategorias?imagenCategorias: ''" class="w-100 border-rad-mild" alt="" *ngIf="imagenCategorias">
                      <img [src]="disenoHome[0]['url_imagen']" class="w-100 border-rad-mild" alt="" *ngIf="!imagenCategorias">

                    </div>
                </div>
                <div class="d-none d-md-block row w-100 mrg-top-20" style="margin-left: 10px !important;">
                    <div class="col-md-12">
                        <div class="d-flex prod-pagination w-100">
                            <div class="d-flex align-items-center mrg-right-10">
                                <label for="order" class="label-select w-auto">Ordenar Por</label>
                                <select (change)="orderPrice($event)" class="form-control form-control-sm w-auto" id="order">
                                    <option value="" selected>Seleccione...</option>
                                    <option value="ASC">De menor a mayor precio</option>
                                    <option value="DESC">De mayor a menor precio</option>
                                </select>
                            </div>
                            <div class="d-flex align-items-center">
                                <label for="page" class="label-select w-auto">Productos por página</label>
                                <select [ngModel]="10" (ngModelChange)="changePaginate($event)" class="form-control form-control-sm w-auto" id="page">
                                    <option [value]="10">10</option>
                                    <option [value]="25">25</option>
                                    <option [value]="50">50</option>
                                    <option [value]="100">100</option>
                                </select>
                            </div>
                            <div class="d-flex ml-auto align-items-center">
                                <p class="label-select">Vistas:</p>
                                <button (click)="changeView(1)" mat-icon-button aria-label="">
                                    <img src="assets/img/icons/vistas/rejilla_active.svg" *ngIf="view_active == 1" alt="" srcset="">
                                    <img src="assets/img/icons/vistas/rejilla.svg" *ngIf="view_active != 1" alt="" srcset="">
                                </button>
                                <button (click)="changeView(2)" mat-icon-button  aria-label="">
                                    <img src="assets/img/icons/vistas/bloques_active.svg" *ngIf="view_active == 2" alt="" srcset="">
                                    <img src="assets/img/icons/vistas/bloques.svg" *ngIf="view_active != 2" alt="" srcset="">
                                </button>
                                <button (click)="changeView(3)" mat-icon-button  aria-label="">
                                    <img src="assets/img/icons/vistas/lista_active.svg" *ngIf="view_active == 3" alt="" srcset="">
                                    <img src="assets/img/icons/vistas/lista.svg" *ngIf="view_active != 3" alt="" srcset="">
                                </button>
                                <nav aria-label="...">
                                    <ul class="pagination pagination-sm">
                                        <li class="page-item mrg-right-5">
                                            <a class="text-pink" (click)="changePage(null, true)">
                                                <mat-icon class="center-icon">chevron_left</mat-icon>
                                            </a>
                                        </li>
                                        <!-- <li class="page-item active" aria-current="page">
                                            <span class="page-link">1<span class="sr-only">(current)</span></span>
                                        </li> -->
                                        <li *ngFor="let item of [].constructor(pages.max_pages); let i = index" [class]="(pages.first_page+i == page_number) ? 'page-item active' : 'page-item'">
                                            <a class="page-link text-gray" (click)="changePage(pages.first_page+i)">{{pages.first_page+i}}</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="text-pink" (click)="changePage(null, false, true)">
                                                <mat-icon class="center-icon">chevron_right</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="content-productos content-productos-2" *ngIf="productos.length < 1">

                <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
                  <p>Ningun producto disponible</p>
                </div>
              </div>
                <div class="row mrg-top-20 w-100" style="margin-left: 10px !important;">
                <!--    <ng-container *ngIf="productos.length == 0">
                        <div class="not-product">
                            <p>Ningun producto disponible </p><mat-icon style="color: #ff596a;">sentiment_very_dissatisfied</mat-icon>
                        </div>
                    </ng-container>-->



                    <ng-container *ngIf="view_active == 1">
                      <div *ngFor="let item of productos | paginate:page_size:page_number"
                           class="col-md-3 mrg-botn-20 grid-cuadros">
                        <app-item-producto
                          [data]="productos"
                          [descuento]="item.valor_descuento"
                          [id]="item.id_producto"
                          [image]="item.imagen_portada.img"
                          [nuevo]="item.nuevo"
                          [price]="(item.precio_descuento != null) ? item.precio_descuento : item.precio_impuesto"
                          [price_ant]="item.precio_general" [showButtons]="true"
                          [small]="true"
                          [subtitle]="item.name_marca"
                          [title]="item.name_prod">
                        </app-item-producto>
                      </div>
                    </ng-container>

                  <ng-container *ngIf="view_active == 2">
                    <div *ngFor="let item of productos | paginate:page_size:page_number"
                         class="col-md-4 mrg-botn-20 grid-cuadro">
                      <app-item-producto
                        [data]="productos"
                        [descuento]="item.valor_descuento"
                        [id]="item.id_producto"
                        [image]="item.imagen_portada.img"
                        [nuevo]="item.nuevo"
                        [price]="(item.precio_descuento != null) ? item.precio_descuento : item.precio_impuesto"
                        [price_ant]="item.precio_general"
                        [showButtons]="true"
                        [subtitle]="item.name_marca"
                        [title]="item.name_prod">
                      </app-item-producto>
                    </div>
                  </ng-container>

                    <ng-container *ngIf="view_active == 3">
                        <div class="col-md-12 mrg-botn-20 grid-fila" *ngFor="let item of productos | paginate:page_size:page_number">
                            <div class="content-item-product">
                                <div class="item-product d-flex">
                                    <div class="content-img col-md-4">
                                        <img [src]="item.imagen_portada.img" alt="">
                                      <img *ngIf="item.nuevo" alt="" class="img-nuevo" src="assets/img/home/nuevo.png">
                                        <!--<div class="descuento" *ngIf="item.valor_descuento">{{"-"+item.valor_descuento+"%"}}</div>-->
                                    </div>
                                    <div class="content-product col-md-4 mrg-top-10">
                                        <div class="puntaje-valoracion">
                                            <div class="puntaje">
                                                <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                                                <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                                                <img src="assets/img/icons/iconos_internastar_active.svg" alt="">
                                                <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                                                <img src="assets/img/icons/star_inactiveiconos_interna.svg" alt="">
                                            </div>
                                            <div class="valoracion">
                                              <p>{{ todas ? todas['todas'] : 0 }} valoraciones</p>
                                            </div>
                                        </div>
                                        <p class="subtitle-prod-full">{{item.name_marca}}</p>
                                        <p class="title-prod-full">{{item.name_prod}}</p>
                                        <div class="cont-price-prod-full">
                                            <p class="price-prod-full" *ngIf="item && item.precio_descuento">{{item.precio_descuento  |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                                            <p class="price-prod-full" *ngIf="item && !item.precio_descuento">{{item.precio_impuesto  |currency:'COP':'symbol-narrow' :'1.0-0'}}</p>
                                           <p> <span class="price-prod-desc-full" *ngIf="item.precio_descuento">{{item.precio_impuesto |currency:'COP':'symbol-narrow' :'1.0-0'}} </span> <span class="porcentaje-descuento" *ngIf="item.valor_descuento">{{ " - " + item.valor_descuento+"%"}}</span></p>
                                            <a class="ver-detalle" routerLink="/detalle-producto/{{item.id_producto}}">Ver Detalles →</a>
                                        </div>
                                    </div>
                                    <div class="content-product col-md-3 mrg-top-10 remove-margin">
                                        <div>
                                          <select (change)="checkearTalla($event.target.value)" class="my-own-form-control bold mrg-botn-10 btn-select" id="talla" placeholder="Elige tu talla">
                                            <option selected value="">Elige tu talla</option>
                                            <option *ngFor="let atri of item.atributo" value="{{atri.valor}}"  >{{atri.valor}}</option>
                                          </select>
                                            <div class="cantidad mrg-botn-10 btn-select">
                                                <label for="input-cant" class="lbl-cant">Cantidad</label>
                                                <input id="input-cant" class="mrg-botn-10 input-cant" [ngModel]="cantidad" type="number">
                                                <button id="inc-button" (click)="changeCantidad(true)" mat-fab color="primary" class="spinner-button">
                                                   +
                                                </button>
                                                <button id="dec-button" (click)="changeCantidad(false)" mat-fab color="primary" class="spinner-button">
                                                    -
                                                </button>
                                            </div>
                                          <button (click)="agregarProductosAlCarrito(item)"
                                                  class="btn-full-view mrg-botn-10 btn-bolsa-favoritos" color="primary"
                                                  mat-raised-button>
                                            <div class="favoritos-bolsa">
                                              <div class="img-bolsa">
                                                <img alt="" src="assets/img/icons/inactive.png">
                                              </div>
                                              <p>Añadir a la bolsa</p>
                                            </div>
                                          </button>
                                          <button (click)="usuario?agregarProductoFavorito(item): ingresar()" class="btn-full-view btn-corazon-favoritos"
                                                  color="primary"
                                                  mat-stroked-button>
                                            <div class="favoritos-productos">
                                              <div class="img-corazon">
                                                <mat-icon class="icon-small">favorite_border</mat-icon>
                                              </div>
                                              <p>Añadir a mis favoritos</p>
                                            </div>
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="row mrg-top-10 mrg-botn-20 w-100" style="margin-left: 10px !important;">
                    <div class="d-flex ml-auto">
                        <nav aria-label="...">
                            <ul class="pagination pagination-sm">
                                <li class="page-item mrg-right-5">
                                    <a class="text-pink" (click)="changePage(null, true)">
                                        <mat-icon class="center-icon">chevron_left</mat-icon>
                                    </a>
                                </li>
                                <!-- <li class="page-item active" aria-current="page">
                                    <span class="page-link">1<span class="sr-only">(current)</span></span>
                                </li> -->
                                <li *ngFor="let item of [].constructor(pages.max_pages); let i = index" [class]="(pages.first_page+i == page_number) ? 'page-item active' : 'page-item'">
                                    <a class="page-link text-gray" (click)="changePage(pages.first_page+i)">{{pages.first_page+i}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="text-pink" (click)="changePage(null, false, true)">
                                        <mat-icon class="center-icon">chevron_right</mat-icon>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-flecha-arriba></app-flecha-arriba>
<!-- <div class="loader">
    <mat-spinner></mat-spinner>
</div> -->
