.drawer-filter{
    padding: 0 20px 20px 20px;
    background-color: #f7f7f7;
    border: none;
}

.mat-drawer-container{
    background-color: #f7f7f7 !important;
}

.title-filter{
    font-size: 16px;
    color: #353435;
    font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.prod-pagination{
    background: #ffffff;
    padding: 5px;
}

.label-select{
    color: #353435;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03px;
    line-height: 17.6px;
    text-align: left;
    margin: 0;
    margin-right: 10px;
}

.pagination{
    margin: 0 !important;
    align-items: center;
}

.page-link {
    font-size: 9px !important;
    margin-right: 5px;
    border-radius: 3px;
}

.center-icon{
    display: flex;
    align-items: center;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #ff596a !important;
    border-color: #ff596a !important;
}

.page-link:hover {
    color: #ffffff !important;
    background-color: #ff596a !important;
    border-color: #ff596a !important;
}
a:hover{
    text-decoration: none !important;
}

.check-filter{
    font-size: 10px;
}

.ng5-slider .ng5-slider-pointer {
    width: 27px !important;
    height: 27px !important;
    background-color: #ffffff !important;
    box-shadow: 1px 3px 14px 0px rgba(165, 165, 165, 0.75) !important;
    border: 1px solid #f7f7f7 !important;
}

.active > a {
    color: #ffffff !important;
}

.page-item{
    cursor: pointer;
}

.view-inactive{
    color: #979797;
}

.view-active{
    color: #ff596a;
}
.btn-filter{
    border-radius: 20px;
    transform: scale(0.9);
    border: 1px solid #ff596a;
}

.card-filter{
    width: 200px;
    border-radius: 10px;
}


/* full vista */
.item-product{
  position: relative;
  background: #ffffff;
  width: 100%;
  border-radius: 10px;
}
.content-img{
  /* height: 250px; */
  margin: 5px;
}

.content-img img{
  width: 100%;
  height: 100%;
}

.img-nuevo{
  width: auto !important;
  height: auto !important;
  position: absolute;
  top: 0;
  left: -12px;
}

.subtitle-prod-full{
    font-size: 16px;
    color: #BBBBBB;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 0.03px;
}

  .title-prod-full{
    font-size: 24px;
    color: #353435;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 5px;
    height: auto;
}

.cont-price-prod-full{
  height: auto;
  line-height: initial;
  /* position: absolute;
  bottom: 20px; */
}

.price-prod-full{
  font-size: 27px;
  color: #ff596a;
  margin-left: 10px;
  letter-spacing: 0.05px;
  font-weight: 700;
  margin-bottom: 0px;
}

.price-prod-desc-full{
  font-size: 21px;
  color: #979797;
  margin-left: 10px;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 0.04px;
  text-decoration: line-through;
}

.btn-select{
  border-radius: 25px;
  height: 45px !important;
  font-size: 12px !important;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-appearance: none;
}

.cantidad{
  width: 100%;
  border-radius: 25px;
  border: 1px solid #BBBBBB;
}

.input-cant::-webkit-inner-spin-button,
.input-cant::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-cant {
  position: absolute;
  right: 40px;
  top: 10px;
  width: 27px;
  height: 20px;
  padding: 0px;
  font-size: 12px;
  border: solid 0.5px #ccc;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
.input-cant:focus{
  outline: none;
}
.spinner-button {
  position: absolute;
  margin: 0px;
  transform: scale(0.3);
  font-size: 50px;
}

#inc-button {
  right: 0;
  top: -8px;
}

#dec-button {
  left: 80px;
  top: -8px;
}

.lbl-cant{
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
  font-weight: 700;
}

.btn-full-view{
  width: 100%;
  height: 45px;
  border-radius: 25px;
  border: 1px solid #ff596a;
}

.dbl-fila-filter .col-md-6:nth-child(even){
  padding-left: 5px !important;
}

.descuento{
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  padding: 10px 8px 10px 8px;
  border-radius: 25px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  background: #ff596a;
  color: #ffffffff;
}

.not-product{
  display: flex;
  justify-content: center;
  width: 100%;
}

.not-product p{
  margin: 0;
  font-size: 16px;
  color: #707070;
  position: relative;
  top: 3px;
}

.loader{
  position: absolute;
  background: #eeeeee8c;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 1;
}



/* Estilos adicionales */
.puntaje-valoracion{
  display: flex;
  padding: 0em 10px;
  justify-content: space-between;
}

.puntaje-valoracion .valoracion{
  color: #969696;
}

.ver-detalle{
  color: #F94D5F;
  text-transform: uppercase;
  padding: 0px 10px;
  margin-top: 15px;
  display: inline-block;
  font-size: 12px;
}

.btn-full-view{
  position: relative;
  transition: all .6s ease;
}

.btn-bolsa-favoritos:hover{
  background: #e44b5a;
}

.favoritos-bolsa,
.favoritos-productos{
  display: flex;
  justify-content: center;
}

.favoritos-bolsa .img-bolsa{
  background: #F94D5F;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.favoritos-bolsa p{
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 10px;
  font-weight: 800;
}

.favoritos-productos .img-corazon{
  border: 1px solid #F94D5F;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.btn-corazon-favoritos:hover{
  background: #FF596A;
  color: white;
}

.btn-corazon-favoritos:hover .img-corazon{
  border: 1px solid white;
}

.img-corazon .icon-small{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favoritos-productos p{
  font-size: 10px;
  font-weight: 800;
  margin-left: 30px;
  margin-bottom: 0px;
}

.grid-fila .content-product{
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.grid-fila  .remove-margin{
  margin: 0 !important;
}


.porcentaje-descuento {
  margin-left: 7px;
  font-weight: 400;
  font-size: 16px;
}
.my-own-form-control {

  border: 1px solid #D3D3D3;
  border-radius: 25px;
  width: 251px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-weight: 800;
}

.clase-marca {
  margin-top:  1px !important;
}

.clase-banner {
  height: 110px;
}
.clase-banner img {
  height: 110px;
}

.content-productos-2 span {
  color: #FF596A;
  font-size: 250px;
  opacity: 0.3;
}

.icono-triste {

  text-align: center;
  justify-content: center;
  align-items: center;
}
