<div class="content-account guardar-direcciones">
    <div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Mis direcciones <a class="agregar-mas-direcciones" [routerLink]="['/direcciones']">Agregar más direcciones</a></h2>
				<div class="row ">

                    <div class="col-md-4 mb-20 tarjetas" *ngFor="let data of cargarDirecciones">
                      <div class="direccion-box">
                        <p class="nombre-direccion">{{data['direccion_nombre']}}</p>
                        <p class="direccion">{{data['departamento']}}</p>
                        <p class="direccion">{{data['ciudad']}}</p>
                        <p class="direccion">{{data['direccion_ubicacion']}}</p>
                        <p class="barrio-direccion">{{data['direccion_barrio']}}</p>
                        <p class="telefono-direccion">{{data['direccion_celular']}}</p>
                        <div class="botones">
                          <a class="editar" (click)="editarDireccion(data['direccion_codigo'])">Editar</a>
                          <a class="eliminar" (click)="removerDirecciones(data['direccion_codigo'])">Eliminar</a>
                        </div>
                      </div>
                    </div>


        </div>
      </div>
    </div>
    </div>
</div>
