<div class="content-account guardar-direcciones">
    <div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Mis direcciones <a class="agregar-mas-direcciones" [routerLink]="['/direcciones']">Agregar más direcciones</a></h2>
				<div class="row ">

                    <div class="col-md-4 mb-20">
                        <div class="direccion-box">
                            <h3 class="nombre">Nombre prueba</h3>
                            <p class="direccion">Carrera 1 # 2 - 33</p>
                            <p class="barrio">EL Diamante, Cali, Valle del Cauca</p>
                            <p class="telefono">Teléfono: 3212223344</p>
                            <p class="direccion-predeterminada">Dirección predeterminada</p>
                            <div class="botones">
                                <a class="editar" href="#">Editar</a>
                                <a class="eliminar" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4 mb-20">
                        <div class="direccion-box">
                            <h3 class="nombre">Nombre prueba</h3>
                            <p class="direccion">Carrera 1 # 2 - 33</p>
                            <p class="barrio">EL Diamante, Cali, Valle del Cauca</p>
                            <p class="telefono">Teléfono: 3212223344</p>
                            <p class="actualizar-direccion">Actualizar dirección</p>
                            <div class="botones">
                                <a class="editar" href="#">Editar</a>
                                <a class="eliminar" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-20">
                        <div class="direccion-box">
                            <h3 class="nombre">Nombre prueba</h3>
                            <p class="direccion">Carrera 1 # 2 - 33</p>
                            <p class="barrio">EL Diamante, Cali, Valle del Cauca</p>
                            <p class="telefono">Teléfono: 3212223344</p>
                            <p class="actualizar-direccion">Actualizar dirección</p>
                            <div class="botones">
                                <a class="editar" href="#">Editar</a>
                                <a class="eliminar" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-20">
                        <div class="direccion-box">
                            <h3 class="nombre">Nombre prueba</h3>
                            <p class="direccion">Carrera 1 # 2 - 33</p>
                            <p class="barrio">EL Diamante, Cali, Valle del Cauca</p>
                            <p class="telefono">Teléfono: 3212223344</p>
                            <p class="direccion-predeterminada">Dirección predeterminada</p>
                            <div class="botones">
                                <a class="editar" href="#">Editar</a>
                                <a class="eliminar" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4 mb-20">
                        <div class="direccion-box">
                            <h3 class="nombre">Nombre prueba</h3>
                            <p class="direccion">Carrera 1 # 2 - 33</p>
                            <p class="barrio">EL Diamante, Cali, Valle del Cauca</p>
                            <p class="telefono">Teléfono: 3212223344</p>
                            <p class="actualizar-direccion">Actualizar dirección</p>
                            <div class="botones">
                                <a class="editar" href="#">Editar</a>
                                <a class="eliminar" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-20">
                        <div class="direccion-box">
                            <h3 class="nombre">Nombre prueba</h3>
                            <p class="direccion">Carrera 1 # 2 - 33</p>
                            <p class="barrio">EL Diamante, Cali, Valle del Cauca</p>
                            <p class="telefono">Teléfono: 3212223344</p>
                            <p class="actualizar-direccion">Actualizar dirección</p>
                            <div class="botones">
                                <a class="editar" href="#">Editar</a>
                                <a class="eliminar" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>

				</div>
			</div>
		</div>
	</div>    
</div>