<div class="content-account guardar-direcciones">
    <div class="container">
		<div class="row">
			<div class="col-md-3">
				<app-aside-account></app-aside-account>
			</div>
			<div class="col-md-9">
				<h2 class="account-title">Mis direcciones <a class="agregar-mas-direcciones" [routerLink]="['/direcciones']">Agregar más direcciones</a></h2>



        <div class="content-productos content-productos-2" *ngIf="cargarDirecciones.length < 1">

          <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
            <p>No has agregado tus direcciones </p>
          </div>
        </div>


        <div class="row ">
          <ng-container class="" *ngFor="let data of cargarDirecciones">
            <div class="mb-20 tarjetas col-md-4" *ngIf="data.direccion_visible == 1">
              <div class="direccion-box">
                <p class="nombre-direccion">{{data['direccion_nombre']}}</p>
                <p class="direccion">{{data['departamento']}}</p>
                <p class="direccion">{{data['ciudad']}}</p>
                <p class="direccion">{{data['direccion_ubicacion']}}</p>
                <p class="barrio-direccion">{{data['direccion_barrio']}}</p>
                <p class="telefono-direccion">{{data['direccion_celular']}}</p>
                <div class="botones">
                  <a class="editar" (click)="editarDireccion(data['direccion_codigo'])">Editar</a>
                  <a class="eliminar" (click)="removerDirecciones(data['direccion_codigo'])">Eliminar</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    </div>
</div>
