/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Contenedor central */
/* .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
} */
/* .container {
    margin-right: 100px !important;
    margin-left: 100px !important;
} */

/* Tamaños */
.w-100{ width: 100%; }
.w-90{ width: 90%; }
.w-80{ width: 80%; }
.w-70{ width: 70%; }
.w-60{ width: 60%; }
.w-50{ width: 50%; }
.w-45{ width: 45%; }
.w-40{ width: 40%; }
.w-35{ width: 35%; }
.w-30{ width: 30%; }
.w-20{ width: 20%; }
.w-25{ width: 25%; }
.w-15{ width: 15%; }
.w-10{ width: 10%; }
.w-auto{ width: auto !important; }

.h-100{ height: 100%; }

.font-sz-9{ font-size: 9px !important; }
.font-sz-12{ font-size: 12px !important; }
.font-sz-20{ font-size: 20px !important; }
.bold{ font-weight: 700 !important; }
.font-w-500{   font-weight: 500 !important; }
/* Flexbox */
.flx{ display: flex; }
.justify-center{ justify-content: center; }
.block{ display: block; }

/* Padding */
.padg-0{ padding: 0 !important; }
.padg-10{ padding: 10 !important; }
.padg-lat-10{ padding-left: 10px !important;  padding-right: 10px !important; } 
.p-top-50{ padding-top: 50px; }
/* Margenes */
.mrg-0{ margin: 0 !important;}
.mrg-10{ margin: 10px;}
.mrg-15{ margin: 15px;}
.mrg-20{ margin: 20px !important;}

.mrg-top-5{ margin-top: 5px; }
.mrg-top-10{ margin-top: 10px; }
.mrg-top-15{ margin-top: 15px !important; }
.mrg-top-20{ margin-top: 20px !important; }
.mrg-top-30{ margin-top: 30px; }
.mrg-top-40{ margin-top: 40px !important; }
.mrg-top-15-prc{ margin-top: 15%; }
.mrg-botn-5{ margin-bottom: 5px; }
.mrg-botn-10{ margin-bottom: 10px !important; }
.mrg-botn-15{ margin-bottom: 15px; }
.mrg-botn-20{ margin-bottom: 20px !important; }
.mrg-botn-30{ margin-bottom: 30px; }
.mrg-botn-40{ margin-bottom: 40px !important; }

.mrg-lat-50{ margin-left: 50px !important; margin-right: 50px !important; }

.mrg-left-5{ margin-left: 5px !important; }
.mrg-left-10{ margin-left: 10px; }
.mrg-left-15{ margin-left: 15px; }
.mrg-left-20{ margin-left: 20px; }
.mrg-left-30{ margin-left: 30px; }

.mrg-right-5{ margin-right: 5px !important; }
.mrg-right-10{ margin-right: 10px !important; }
.mrg-right-15{ margin-right: 15px ; }
.mrg-right-20{ margin-right: 20px; }
.mrg-right-30{ margin-right: 30px !important; }

.line-height-ini{ line-height: initial !important; }
/* End margenes */

/* Bordes */
.border-rad-mild{  border-radius: 10px; }
/* .border-rad-medium{  border-radius: 10px; } */

/* Colors */
.white{background: white !important;}
.color-gray{ background: #F7F7F7; }
.color-gray2{ background: #EEEEEE; }
.text-pink{ color: #FF596A !important; }
.text-dark{ color: #353435 !important; }
.text-gray{ color: #979797 !important; }
/*  Text Align */
.txt-center{ text-align: center;}
.txt-left{ text-align: left;}
.txt-right{ text-align: right;}

button:focus{ outline: none !important;}

.divider-black{
    border-top-width: 2px !important;
    border-top-color: #969696 !important;
}

/* Medias */
@media (max-width: 768px) {

    .mrg-top-20-xs{ margin-top: 20px !important; }
    .mrg-top-30-xs{ margin-top: 30px !important; }


    .w-100-xs{ width: 100% !important;}
    .w-60-xs{ width: 60% !important;}
    .w-50-xs{ width: 50% !important;}
    .w-80-xs{ width: 80% !important;}
    .txt-center-xs{ text-align: center !important;}

    .btn-home-cate{
        height: 80px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 16px !important;
    }
    .btn-home-cate-act{
        height: 80px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 16px !important;
    }
    .btn-home-cate-act:before{
        right: 32% !important;
        top: 79px !important;
        border-top: 14px solid #ff596a !important;
    }
    .h-xs-300px{ height: 300px !important;}

}
@media (max-width: 992px) {

    .mrg-top-20-xs{ margin-top: 20px !important; }
    .mrg-top-30-xs{ margin-top: 30px !important; }

    .w-100-xs{ width: 100% !important;}
    .w-60-xs{ width: 60% !important;}
    .txt-center-xs{ text-align: center !important;}

    .btn-home-cate{
        height: 80px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 16px !important;
    }
    .btn-home-cate-act{
        height: 80px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 16px !important;
    }
    .btn-home-cate-act:before{
        right: 32% !important;
        top: 79px !important;
        border-top: 14px solid #ff596a !important;
    }

    .h-xs-300px{ height: 300px !important;}
    /* Carousel */

}


/*
STYLE CUSTOM.
*/

/* Carousel */
.owl-carousel .owl-nav button.owl-next{
    font: initial !important;
    background: transparent !important;
    color: inherit !important;
    position: absolute !important;
    bottom: 30% !important;
    right: 0 !important;
    height: auto !important;
    width: auto !important;
    font-size: 60px !important;
    text-align: right;
}

.owl-stage-outer{
    margin-left: 30px;
    margin-right: 30px;
}

.owl-carousel .owl-nav button.owl-prev{
    font: initial !important;
    background: transparent !important;
    color: inherit !important;
    position: absolute !important;
    bottom: 30% !important;
    left: 0 !important;
    height: auto !important;
    width: auto !important;
    font-size: 60px !important;
    text-align: left;
}

.owl-carousel .owl-stage{
    display: flex;
    align-items: center;
}

button.owl-next:focus {
    outline: none;
}

button.owl-prev:focus {
    outline: none;
}

.mat-form-field-wrapper{
    padding: 0 !important;
}

/* Menu */
.menu-categories{
    max-width: none !important;
    min-width: 100% !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
    opacity: 1 !important;
}

.cdk-overlay-backdrop{
    background: #00000042;
}

.mat-drawer-inner-container{
    overflow: visible !important;
}

/* Checkbox azul */
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background: #007BFF !important;
}
/* Slider */
.ng5-slider .ng5-slider-pointer {
    width: 27px !important;
    height: 27px !important;
    background-color: #ffffff !important;
    box-shadow: 1px 3px 14px 0px rgba(165, 165, 165, 0.75) !important;
    border: 1px solid #f7f7f7 !important;
}

.ng5-slider .ng5-slider-pointer:after{
    content: none !important;
}

.ng5-slider .ng5-slider-pointer:focus{
    outline: none !important;
}

.ng5-slider .ng5-slider-bubble{
    display: none !important;
}

.ng5-slider{
    margin: 20px 0 15px !important;
}

/* estilos galeria de imagenes */
.ngx-gallery-layout.thumbnails-bottom > ngx-gallery-image{
    z-index: 1 !important;
}
.ngx-gallery-icon{
    color: #353435 !important;
}
.mat-tab-label .mat-tab-label-content {
    font-weight: 700;
    color: #000000;
}


.breadcrumb{
    background-color: #f7f7f7 !important;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.breadcrumb-item{
    font-size: 10px !important;
}

.breadcrumb-item a{
    text-decoration: none !important;
    color: #969696 !important;
}

.breadcrumb-item.active{
    color: #FF596A !important;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #f44336 !important;
}

.mat-form-field-invalid .mat-input-element{
    caret-color: #f44336 !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: #f44336;
}

.fa-times-circle:before {
    content: "\f057";
    color: #fff;
}

/* Scroll */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff596a;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }