<div class="color-gray" xmlns="">
  <div class="container detalles-producto-box">

    <div class="row">
      <nav aria-label="breadcrumb" class="mrg-left-30">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/productos">Producto</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detalle de la compra</li>
        </ol>
      </nav>
    </div>

    <div class="row">

      <div class="col-md-8 content-detail">
        <div class="row-box-pedidos row-box-pedidos-superior" *ngIf="!usuario">
          <div class="items items-disenio">
            <div class="progress">
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra1" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra2" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra3" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra4" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra5" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="numero-1" [style]="'background-color:'+circulo1 " (click)="pasarSguiente(1)"></div>
            <div class="numero-2" [style]="'background-color:'+circulo2 " (click)="pasarSguiente(2)"></div>
            <div class="numero-3" [style]="'background-color:'+circulo3 " (click)="pasarSguiente(3)"></div>
            <div class="numero-4" [style]="'background-color:'+circulo4 " (click)="pasarSguiente(2)"></div>

            <div class="titulo-numero-1">
              <span [style]="'color:'+texto1" (click)="pasarSguiente(1)">1 Resumen</span>
            </div>
            <div class="titulo-numero-2">
              <span [style]="'color:'+texto2" (click)="pasarSguiente(2)">2 Registro</span>
            </div>
            <div class="titulo-numero-3" (click)="pasarSguiente(3)">
              <span [style]="'color:'+texto4">3 Dirección de entrega</span>
            </div>
            <div class="titulo-numero-4">
              <span [style]="'color:'+texto4" (click)="pasarSguiente(4)">4 Pago</span>
            </div>

          </div>
        </div>
        <div class="row-box-pedidos row-box-pedidos-superior" *ngIf="usuario">
          <div class="items items-disenio">
            <div class="progress">
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra11" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra33" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra44" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra55" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="numero-11" [style]="'background-color:'+circulo11 " (click)="pasarSguiente2(1)"></div>
            <div class="numero-33" [style]="'background-color:'+circulo33 " (click)="pasarSguiente2(3)"></div>
            <div class="numero-44" [style]="'background-color:'+circulo44 " (click)="pasarSguiente2(4)"></div>

            <div class="titulo-numero-11">
              <span [style]="'color:'+texto1" (click)="pasarSguiente2(1)">1 Resumen</span>
            </div>
            <div class="titulo-numero-33" (click)="pasarSguiente2(3)">
              <span [style]="'color:'+texto3">2 Dirección de entrega</span>
            </div>
            <div class="titulo-numero-44">
              <span [style]="'color:'+texto4" (click)="pasarSguiente2(4)">3 Pago</span>
            </div>

          </div>
        </div>

        <div class="row-box-pedidos row-box-pedidos-superior ">
          <div class="items">
            <div class="flex-items-prod">

              <div class="contenedor-registro-local" *ngIf="habilita1">
                <div class="content-productos content-productos-2" *ngIf="!carritoAnterior?.length">

                  <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
                    <p>No tienes pedidos realizados</p>
                  </div>
                </div>

                <div class="" *ngIf="carritoAnterior">

                  <div class="row items-productos-bolsa" *ngFor="let data of carritoAnterior; let indices = index ">
                    <div class="imagen-producto col-md-3">
                      <img
                        [src]="data['imagen_destacada'] ? data['imagen_destacada'] : data['imagen_portada']['img']">
                    </div>
                    <div class="detalle-producto col-md-3">
                      <div class="row">
                        <div class="col-md-12">
                          <p class="nombre-pro">{{data['name_prod']}}</p>
                          <p class="marca-pro">{{data['name_marca']}}</p>
                          <p class="referencia-pro">{{data['referencia']}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="precio-acciones col-md-3">
                      <div>
                        <span class="precio-descuento" *ngIf="data.stock">{{data['precio_descuento'] * data.stock.cantidad | currency}}</span>
                        <p class="precio-normal" *ngIf="data['valor_descuento'] && data.stock">{{data['precio_impuesto'] * data.stock.cantidad | currency}}</p>
                      </div>
                    <div *ngFor="let item of data.combinaciones">
                      <span class="precio-descuento" *ngIf="item.stock && data.color == item.variation[0].valor">{{data['precio'] * item.stock.cantidad | currency}}</span>
                      <p class="precio-normal" *ngIf="data['valor_descuento'] && item.stock && data.color == item.variation[0].valor">{{data['precio_impuesto'] * item.stock.cantidad | currency}}</p>
                      </div>
                      <p><span class="porcentaje-descuento" *ngIf="data['valor_descuento']"> {{ " - " + data['valor_descuento'] + "%" }} </span>
                      </p>
                      <div *ngIf="data['talla']" class="talla">
                        Talla : {{data['talla']}}
                      </div>
                      <div *ngIf="data['color']" class="talla">
                        Color : {{data['color']}}
                      </div>
                    </div>

                    <div class="precio-acciones col-md-3 contenedor-campos-finales">
                      <div class="alinear-cantidad"><strong>Cantidad</strong></div>
                      <div class="manejo-iconos">
                        <div><img class="material-icons  imagen-eliminar"  src="assets/img/icons/trash.svg" alt="" (click)="quitarItemCarrito(data, indices)"></div>
                        <div><span class="material-icons " (click)="aumentarDisminuir(data, indices, 0)">remove_circle</span></div>
                        <div *ngFor="let item of data.combinaciones"><input class="form-control campo-cantidad " disabled type="number" *ngIf="item.stock && data.color == item.variation[0].valor" [value]="item.stock.cantidad"  name="" ></div>
                        <div><input class="form-control campo-cantidad " disabled type="number" *ngIf="data.stock" [value]="data.stock.cantidad"  name=""></div>
                        <div><span class="material-icons "  (click)="aumentarDisminuir(data, indices, 1)">add_circle</span></div>
                      </div>
                    </div>

                    <hr class="hr-separador-productos">
                  </div>
                </div>
              </div>

              <div class="contenedor-registro" *ngIf="habilita2" style="justify-content: center;">
                <app-registro-form *ngIf="!usuario"></app-registro-form>
              </div>

              <div class="contenedor-registro-direcciones" *ngIf="habilita3">

                <div class="centrar-titulo-botones">
                  <div class="contenedor-title"><span class="span-tuitulo">Mis direcciones</span></div>
                  <div> <button mat-raised-button color="primary"
                                class="agregar-direccion-boton"
                                (click)="usuario ? openDialogNuevo() : pasarSguiente(2)">Agregar más  direcciones
                  </button></div>
                </div>

                <div class="content-productos content-productos-2" *ngIf="!usuario && cargarDirecciones.length === 0">

                  <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
                    <p>Debes iniciar sesión</p>
                  </div>
                </div>

                <div class="content-productos content-productos-2" *ngIf="usuario && cargarDirecciones.length === 0">

                  <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
                    <p>No has agregado tus direcciones</p>
                  </div>
                </div>


                <div class="row" *ngIf="cargarDirecciones">
                  <div class="col-md-4 mb-20 tarjetas ng-star-inserted  clas-contenedor-direccion"
                       *ngFor="let data of cargarDirecciones ; let indices = index">
                    <div class="campo-direcciones direccion-box">
                      <p class="nombre-direccion">{{data['direccion_nombre']}}</p>
                      <p class="direccion">{{data['departamento']}}</p>
                      <p class="direccion">{{data['ciudad']}}</p>
                      <p class="direccion">{{data['direccion_ubicacion']}}</p>
                      <p class="barrio-direccion">{{data['direccion_barrio']}}</p>
                      <p class="telefono-direccion">{{data['direccion_celular']}}</p>
                      <div class="predeterminada-direccion">

                        <mat-radio-group aria-label="Select an option"
                                         (change)="direccionChequeada(data['direccion_codigo'], data)"
                                         (click)="direccionChequeada(data['direccion_codigo'], data)">
                          <div class="row">
                            <div class="col-12">
                              <mat-radio-button
                                [value]="
                                data['direccion_estado'] === 1?
                                true :
                                false"
                                [checked]="campoRadio?
                                campoRadio:
                                data['direccion_estado'] === 1?
                                true :
                                false"
                              >Dirección predeterminada
                              </mat-radio-button>
                            </div>
                          </div>
                        </mat-radio-group>
                      </div>

                      <div class="row fila-boton-2">
                        <div class="col-md-5"><a class="detalle" (click)="editarDireccion(data['direccion_codigo'])">Editar</a>
                        </div>
                        <div class="col-md-5"><a class="detalle" (click)="removerDirecciones(data['direccion_codigo'])">Eliminar</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="contenedor-registro-pagos" *ngIf="habilita4">
                <div class="row titulo-secciones titulo-row titulo-secciones">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12 " style="right: -19px;">
                        <span class="span-tuitulo">Realizar pago</span>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-12">
                    <div id="accordion">
                      <div class="" >
                        <div class="card-header" id="headingTwo"   [style]="'background-color:' +colorDelosTapUno+';color:'+colorDelosTitulosTapUno">
                          <h5 class="mb-0">
                            <a id="desplegar-credito" (click)="validarTipoPago(1)"
                               class="btn btn-link collapsed decoracion-texto"
                               data-toggle="collapse"
                               data-target="#collapseTwo"
                               aria-expanded="false"
                               aria-controls="collapseTwo">
                              <img src="./assets/img/colapse/credito.png" class="pago-electronico">
                              <span class="d-sm-inline color-titulo-menu"> Tarjeta de crédito</span>
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body" style="padding: 1px !important;">
                            <a>
                              <div class="row">
                                <div class="row metos-pagos-tarjeta" style="margin-top: 17px;">
                                  <div style="margin-right: 10px;  margin-left: 10px;">
                                    <p>Pago seguro mediante:</p>
                                  </div>
                                  <div>
                                    <img src="assets/img/secundarios/pasarela2.png">
                                  </div>
                                  <div>
                                    <img src="assets/img/secundarios/Visa.png">
                                  </div>
                                  <div>
                                    <img src="assets/img/secundarios/Mastercard.png">
                                  </div>
                                  <div>
                                    <img src="assets/img/secundarios/america.png">
                                  </div>
                                  <div>
                                    <img src="assets/img/secundarios/dci_logo.png">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-6">
                                  <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Nombre del titular</mat-label>
                                      <input matInput placeholder="Nombre del titular" [(ngModel)]="cargarInfoCredito.Nombre">
                                    </mat-form-field>
                                    <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Nombre">Para continuar ingrese su nombre</mat-hint>
                                  </p>

                                </div>
                                <div class="col-6">
                                  <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Apellido del titular</mat-label>
                                      <input matInput placeholder="Apellido del titular" [(ngModel)]="cargarInfoCredito.Apellido">
                                    </mat-form-field>
                                    <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Apellido">Para continuar ingrese su apellido</mat-hint>
                                  </p>

                                </div>
                                <div class="col-6">

                                  <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Número de documento del titular</mat-label>
                                      <input matInput placeholder="Número de documento del titular" type="number" [(ngModel)]="cargarInfoCredito.Documento">
                                    </mat-form-field>
                                    <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Documento">
                                      Ingrese su documento
                                    </mat-hint>
                                  </p>
                                </div>

                                <div class="col-6">

                                  <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Número de celular</mat-label>
                                      <input matInput placeholder="Número de celular" type="number"  [(ngModel)]="cargarInfoCredito.Celular">
                                    </mat-form-field>
                                    <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Celular">Ingrese
                                      su celular
                                    </mat-hint>
                                  </p>

                                </div>
                              </div>


                              <div class="row">
                                <div class="col-md-6">
                                  <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Número de la tarjeta</mat-label>
                                      <input matInput placeholder="Número de la tarjeta" type="text"
                                             minlength="16" maxlength="16"
                                             (ngModelChange)="devolverImagenBancarias(cargarInfoCredito.campo1)"
                                             [(ngModel)]="cargarInfoCredito.campo1">
                                    </mat-form-field>
                                    <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo1">Número
                                      de la tarjeta
                                    </mat-hint>
                                  </p>
                                </div>

                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <p>
                                        <mat-form-field appearance="outline">
                                          <mat-label>CVV</mat-label>
                                          <input matInput placeholder="CVV" type="password" required
                                                 minlength="3" maxlength="3"
                                                 [(ngModel)]="cargarInfoCredito.campo2">
                                        </mat-form-field>
                                        <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo2">
                                          ingrese codigo CVV
                                        </mat-hint>
                                      </p>
                                    </div>
                                    <div class="col-md-6 tarjetas-pago">
                                      <div *ngIf="devolverImagenTarjeta == 4">
                                        <img src="assets/img/iconos/credito/visaPNG.png">
                                      </div>
                                      <div *ngIf="devolverImagenTarjeta == 5">
                                        <img src="assets/img/iconos/credito/mastercardPNG.png">
                                      </div>
                                      <div *ngIf="devolverImagenTarjeta == 6">
                                        <img src="assets/img/iconos/credito/american.png">
                                      </div>
                                      <div *ngIf="devolverImagenTarjeta == 7">
                                        <img src="assets/img/iconos/credito/dinersPNG.png">
                                      </div>
                                      <span *ngIf="tarjetanoHabilitada">
                                        {{tarjetanoHabilitada}}
                                      </span>

                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-3 anio-expiracion">
                                  <p>
                                    <select class="form-control select-nuevo"  [(ngModel)]="cargarInfoCredito.campo4" >
                                      <option  [value]="null">Mes de expiración</option>
                                      <option  *ngFor="let me of mes" [value]="me['id']">{{me['prefijo']}}</option>
                                    </select>
                                  </p>

                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo4">Para continuar ingrese año Exp.</mat-hint>
                                </div>

                                <div class="col-md-3  mes-expiracion ">

                                  <p>
                                    <select class="form-control select-nuevo "
                                            [(ngModel)]="cargarInfoCredito.campo3">
                                      <option [value]="null">Año de expiración</option>
                                      <option *ngFor="let ani of aniotarjeta" [value]="ani">{{ani}}</option>
                                    </select>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo3">Para continuar ingrese mes de Exp</mat-hint>

                                </div>

                                <div class="col-6 numero-cuotas">
                                  <p>
                                    <select class="form-control select-nuevo"   [(ngModel)]="cargarInfoCredito.campo5">
                                      <option  [value]="null">Número de cuotas</option>
                                      <option  *ngFor="let cuota of numeroCuotasPagos" [value]="cuota">{{cuota}}</option>
                                    </select>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo5">Ingrese cantidad de cuotas</mat-hint>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="" >
                        <div class="card-header" id="headingThree"   [style]="'background-color:' +colorDelosTapDos">
                          <h5 class="mb-0">
                            <a id="desplegar-pse" (click)="validarTipoPago(2)" class="btn btn-link collapsed decoracion-texto" data-toggle="collapse" data-target="#collapseThree"
                               aria-expanded="false" aria-controls="collapseThree">
                              <img src="assets/img/principales/pse.svg" class="pago-electronico">
                              <span class="d-sm-inline color-titulo-menu">Pago con débito</span>
                            </a>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordion">
                          <div class="card-body">
                            <a>
                              <div class="row">

                                <div class="col-6">

                                  <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Nombre del titular</mat-label>
                                      <input matInput placeholder="Nombre del titular" [(ngModel)]="cargarInfoDebito.Nombre">
                                    </mat-form-field>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Nombre">Para continuar ingrese su nombre</mat-hint>
                                </div>
                                <div class="col-6">
                                  <p>
                                    <mat-form-field appearance="outline">
                                      <mat-label>Apellido del titular</mat-label>
                                      <input matInput placeholder="Apellido del titular"  [(ngModel)]="cargarInfoDebito.Apellido">
                                    </mat-form-field>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Apellido">Para continuar ingrese su apellido</mat-hint>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <p>
                                    <select class="form-control select-nuevo"   [(ngModel)]="cargarInfoDebito.campo3">
                                      <option  [value]="null">Tipo de persona</option>
                                      <option  [value]="'0'">Natural</option>
                                      <option  [value]="'1'">Juridica</option>
                                    </select>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.campo3">Para continuar ingrese Tipo de persona</mat-hint>

                                </div>
                                <div class="col-md-6">

                                  <p>
                                    <select class="form-control select-nuevo"  id="banco" (change)="oncheckBanco()" >
                                      <option  [value]="null">Seleccionar banco</option>
                                      <option   *ngFor="let ban of dataBancos"
                                                [value]="ban['codigoBanco']">{{ban['nombreBanco']}}</option>
                                    </select>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.campo1">Para continuar ingrese el banco</mat-hint>

                                </div>
                              </div>
                              <div class="row select-nuevo2">
                                <div class="col-md-6">
                                  <p >
                                    <mat-form-field appearance="outline" >
                                      <mat-label>Documento de identificación</mat-label>
                                      <input matInput placeholder="Documento de identificación"  [(ngModel)]="cargarInfoDebito.Documento">
                                    </mat-form-field>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Documento">Para continuar ingrese su documento</mat-hint>

                                </div>

                                <div class="col-6">
                                  <p >
                                    <mat-form-field appearance="outline">
                                      <mat-label>Número celular</mat-label>
                                      <input matInput placeholder="Número celular"  [(ngModel)]="cargarInfoDebito.Celular">
                                    </mat-form-field>
                                  </p>
                                  <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Celular">Para continuar
                                    ingrese su celular
                                  </mat-hint>

                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                </div>


            </div>
          </div>
        </div>


      </div>
      <div class="col-md-4 aside-account-column">
        <ul class="aside-account">

          <h3 class="resumen-del-pedido">Resumen del pedido</h3>

          <p class="cantidad-productos">
            {{cantidadProductoReales ? cantidadProductoReales : 0 }} Productos
          </p>
          <div class="row">
            <div class="col-md-7 precio-original" *ngIf="carritoAnterior && valorTotalAnterior > valorTotal">Precio original</div>
            <div class="col-md-5 valor-precio-original" style="text-decoration: line-through;"  *ngIf="valorTotalAnterior && valorTotalAnterior > valorTotal">{{valorTotalAnterior | currency}}</div>
            <div class="col-md-5 valor-precio-original" style="text-decoration: line-through;" *ngIf="!valorTotalAnterior && valorTotalAnterior > valorTotal">{{ 0 | currency}}</div>
          </div>
          <div class="row">
            <div class="col-md-7 precio-con-descuento">Precio con descuento</div>
            <div class="col-md-5 valor-precio-con-descuento" *ngIf="carritoAnterior">{{valorTotal | currency}}</div>
            <div class="col-md-5 valor-precio-con-descuento" *ngIf="!carritoAnterior">{{0| currency}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-7 total-del-producto">Total del producto</div>
            <div class="col-md-5 valor-total-del-producto" *ngIf="carritoAnterior">{{valorTotal | currency}}</div>
            <div class="col-md-5 valor-total-del-producto" *ngIf="!carritoAnterior">{{ 0 | currency}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-7 gastos-envio">Gastos por envio</div>
            <div class="col-md-5 valor-gastos-envio" *ngIf="gastosEnvio">{{gastosEnvio| currency}}</div>
            <div class="col-md-5 valor-gastos-envio" *ngIf="!gastosEnvio">{{ 0| currency}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-7 valor-total ">TOTAL</div>
            <div class="col-md-5 precio-valor-total"
                 *ngIf="carritoAnterior">{{(valorTotal + gastosEnvio) | currency}}</div>
            <div class="col-md-5 precio-valor-total" *ngIf="!carritoAnterior">{{ 0 | currency}}</div>
          </div>
          <hr>

          <div class="row" *ngIf="valorConcupon">
            <div class="col-md-7 gastos-envio  ">Descuento</div>
            <div class="col-md-5 valor-gastos-envio">{{ dataInfoCupones['cupon_porcentaje'] }} %</div>
          </div>
          <hr *ngIf="valorConcupon">
          <div class="row" *ngIf="valorConcupon">
            <div class="col-md-7 valor-total ">Valor a cancelar</div>
            <div class="col-md-5 precio-valor-total"
                 *ngIf="carritoAnterior ">{{((valorTotal + gastosEnvio) - (valorConcupon)) | currency}}</div>
            <div class="col-md-5 precio-valor-total" *ngIf="!carritoAnterior">{{ 0 | currency}}</div>
          </div>

        </ul>

        <ul class="aside-account aside-account-text">

          <div class="contenedor-title-pagos" style="display: flex">
            <div class="title">
              <p>Pago seguro mediante:</p>
            </div>
            <div class="pasarela">
              <img src="assets/img/principales/pasarela2.png">
            </div>
          </div>
          <p>Métodos de pago</p>
          <div class="row metos-pagos">
            <img src="assets/img/principales/pse.svg">
            <img src="assets/img/principales/visa.png">
            <img src="assets/img/principales/master.png">
            <img src="assets/img/secundarios/america.png">
            <img src="assets/img/secundarios/dci_logo.png">
          </div>
        </ul>


        <ul class="cupones-descuento ">
          <mat-expansion-panel class="cupones-descuento">
            <mat-expansion-panel-header>
              <span class="material-icons">loyalty</span><h4> Tengo un cupón de descuento</h4>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>


              <div class="container" style="display: flex" *ngIf="usuario">
                <div>
                  <input
                     type="text"
                     style="width: 89% !important;"
                     class="form-control tengo-cupo"
                     [(ngModel)]="codigoCupon"
                     placeholder="Escribe o pega el código"
                     aria-describedby="validationTooltipUsernamePrepend"
                     required>
                </div>

                  <div class="buscar-cupones"
                    style=""
                    (click)="buscarCuponDisponibles()">
                    <span
                      class="material-icons"
                      style="color: #FFFFFF;  margin-top: 10px;">search</span>
                  </div>

              </div>

              <!--<div *ngIf="usuario">
                <p for="validationTooltipUsername">Cupón</p>
                <div class="">
                  <input style="width: 80% !important;" type="text" class="form-control tengo-cupo"
                         [(ngModel)]="codigoCupon"
                         id="validationTooltipUsername"
                         placeholder="Escribe o pega el código"
                         aria-describedby="validationTooltipUsernamePrepend"
                         required>

                  <div class="lupa" (click)="buscarCuponDisponibles()">
                    <img src="assets/img/blanco.svg" alt="">
                  </div>

                </div>
              </div>-->
              <div *ngIf="!usuario">
                <p for="validationTooltipUsername">Para usar un cupón, primero debes iniciar sesión</p>
                <button class="pay-now-iniciar" routerLink="/login">
                  Iniciar sesión
                </button>
              </div>
            </ng-template>
          </mat-expansion-panel>

        </ul>

        <div class="call-to-action-bolsa">
          <button class="pay-now" *ngIf="habilitarBotonPago <= 3 " (click)="continuarBoton(1)">
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Continuar
          </button>

          <button class="pay-now" *ngIf="habilitarBotonPago === 4 && validarQuePagoSeRealizara === 1"
                  [disabled]="cargarInfoCredito.Nombre === '' || cargarInfoCredito.Nombre === null ||
                              cargarInfoCredito.Apellido === '' || cargarInfoCredito.Apellido === null ||
                              cargarInfoCredito.Documento === '' || cargarInfoCredito.Documento === null ||
                              cargarInfoCredito.Celular === '' || cargarInfoCredito.Celular === null ||
                              cargarInfoCredito.campo1 === '' || cargarInfoCredito.campo1 === null ||
                              cargarInfoCredito.campo2 === '' || cargarInfoCredito.campo2 === null ||
                              cargarInfoCredito.campo3 === '' || cargarInfoCredito.campo3 === null ||
                              cargarInfoCredito.campo4 === '' || cargarInfoCredito.campo4 === null ||
                              cargarInfoCredito.campo5 === '' || cargarInfoCredito.campo5 === null
                            "

                  (click)="usuario ? realizarPedidos() : pasarSguiente(2)">
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Pagar ahora
          </button>

          <button class="pay-now" *ngIf="habilitarBotonPago === 4 && validarQuePagoSeRealizara === 2"

                  [disabled]="cargarInfoDebito.Nombre === '' || cargarInfoDebito.Nombre === null ||
                              cargarInfoDebito.Apellido === '' || cargarInfoDebito.Apellido === null ||
                              cargarInfoDebito.campo3 === '' || cargarInfoDebito.campo3 === null ||
                              cargarInfoDebito.Documento === ''  || cargarInfoDebito.Documento === null ||
                              cargarInfoDebito.Celular === '' || cargarInfoDebito.Celular === null ||
                              cargarInfoDebito.campo1 ===  '' || cargarInfoDebito.campo1 === null
                            "

                  (click)="usuario ? realizarPedidos() : pasarSguiente(2)">
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Pagar ahora
          </button>

          <button class="pay-now" *ngIf="habilitarBotonPago == 4 && validarQuePagoSeRealizara === 0" >
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Pagar ahora
          </button>

        </div>

      </div>
    </div>
  </div>


</div>


<div class="loading" *ngIf="condicionarLoadig">
  <div class="row">

    <div class="col-md-12">
      <!-- <mat-spinner></mat-spinner>-->
      <img src="assets/img/principales/pasarela2.png">
    </div>

    <div class="col-md-12">
      <p class="mensaje-proceso">
        Estamos procesando tu pago
        <br>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </p>
    </div>

  </div>


</div>




<app-flecha-arriba></app-flecha-arriba>


