<div class="color-gray" xmlns="">
  <div class="container detalles-producto-box">

    <div class="row">
      <nav aria-label="breadcrumb" class="mrg-left-30">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/productos">Producto</a></li>
          <li class="breadcrumb-item active" aria-current="page">Detalle de la compra</li>
        </ol>
      </nav>
    </div>

    <div class="row">

      <div class="col-md-8 content-detail">
        <div class="row-box-pedidos row-box-pedidos-superior" *ngIf="!usuario">
          <div class="items items-disenio">
            <div class="progress">
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra1" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra2" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra3" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra4" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 20%; background-color:'+barra5" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="numero-1" [style]="'background-color:'+circulo1 " (click)="pasarSguiente(1)"></div>
            <div class="numero-2" [style]="'background-color:'+circulo2 " (click)="pasarSguiente(2)"></div>
            <div class="numero-3" [style]="'background-color:'+circulo3 " (click)="pasarSguiente(3)"></div>
            <div class="numero-4" [style]="'background-color:'+circulo4 " (click)="pasarSguiente(4)"></div>

            <div class="titulo-numero-1">
              <span [style]="'color:'+texto1" (click)="pasarSguiente(1)">1 Resumen</span>
            </div>
            <div class="titulo-numero-2">
              <span [style]="'color:'+texto2" (click)="pasarSguiente(2)">2 Registro</span>
            </div>
            <div class="titulo-numero-3" (click)="pasarSguiente(3)">
              <span [style]="'color:'+texto4">3 Dirección de entrega</span>
            </div>
            <div class="titulo-numero-4">
              <span [style]="'color:'+texto4" (click)="pasarSguiente(4)">4 Pago</span>
            </div>

          </div>
        </div>
        <div class="row-box-pedidos row-box-pedidos-superior" *ngIf="usuario">
          <div class="items items-disenio">
            <div class="progress">
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra11" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra33" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra44" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
              <div class="" role="progressbar" [style]="'width: 25%; background-color:'+barra55" aria-valuenow="20"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <div class="numero-11" [style]="'background-color:'+circulo11 " (click)="pasarSguiente2(1)"></div>
            <div class="numero-33" [style]="'background-color:'+circulo33 " (click)="pasarSguiente2(3)"></div>
            <div class="numero-44" [style]="'background-color:'+circulo44 " (click)="pasarSguiente2(4)"></div>

            <div class="titulo-numero-11">
              <span [style]="'color:'+texto1" (click)="pasarSguiente2(1)">1 Resumen</span>
            </div>
            <div class="titulo-numero-33" (click)="pasarSguiente2(3)">
              <span [style]="'color:'+texto3">2 Dirección de entrega</span>
            </div>
            <div class="titulo-numero-44">
              <span [style]="'color:'+texto4" (click)="pasarSguiente2(4)">3 Pago</span>
            </div>

          </div>
        </div>

        <div class="row-box-pedidos row-box-pedidos-superior ">
          <div class="items">
            <div class="flex-items-prod">

              <div class="contenedor-registro-local" *ngIf="habilita1">
                <div class="content-productos content-productos-2" *ngIf="!carritoAnterior.length">

                  <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
                    <p>No tienes pedidos realizados</p>
                  </div>
                </div>

                <div class="" *ngIf="carritoAnterior">

                  <div class="row items-productos-bolsa" *ngFor="let data of carritoAnterior; let indices = index ">
                    <div class="imagen-producto col-md-3">
                      <img
                        [src]="data['imagen_destacada'] ? data['imagen_destacada'] : data['imagen_portada']['img']">
                    </div>
                    <div class="detalle-producto col-md-3">
                      <div class="row">
                        <div class="col-md-12">
                          <p class="nombre-pro">{{data['name_prod']}}</p>
                          <p class="marca-pro">{{data['name_marca']}}</p>
                          <p class="referencia-pro">{{data['referencia']}}</p>
                        </div>
                        <!--<div class="col-md-12">
                          <div class="row separador-separanes ">
                            <div class="col-md-6">
                              <div class="row fila-boton-3">
                                <a class="detalle-eliminar" (click)=" quitarItemCarrito(data, indices)">Eliminar</a>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row fila-boton-3">
                                <a class="detalle" routerLink="/detalle-producto/{{data['id_producto'] }}"
                                   target="_blank">Editar</a>
                              </div>
                            </div>
                          </div>
                        </div>-->
                      </div>
                    </div>
                    <div class="precio-acciones col-md-3">
                    <span class="precio-descuento">{{data['precio'] * data['cantidad'] | currency}}</span>
                      <p><span class="precio-normal" *ngIf="data['valor_descuento']">{{data['precio_general'] * data['cantidad'] | currency}}</span>
                        <span class="porcentaje-descuento" *ngIf="data['valor_descuento']"> {{ " - " + data['valor_descuento'] + "%" }} </span>
                      </p>
                      <div class="talla">
                        Talla : {{data['talla']}}
                      </div>
                    </div>

                    <div class="precio-acciones col-md-3 contenedor-campos-finales">
                      <div class="alinear-cantidad"><strong>Cantidad</strong></div>
                      <div class="manejo-iconos">
                        <div><img class="material-icons  imagen-eliminar"  src="assets/img/icons/trash.svg" alt="" (click)="quitarItemCarrito(data, indices)"></div>
                        <div><span class="material-icons " (click)="aumentarDisminuir(data, indices, 0)">remove_circle</span></div>
                        <div><input class="form-control campo-cantidad " disabled type="number" [value]="data['cantidad']"  name="" ></div>
                        <div><span class="material-icons "  (click)="aumentarDisminuir(data, indices, 1)">add_circle</span></div>
                      </div>

                      <!--<div class="row">

                        <div class="col-md-12 alignear-cantidad">
                          <span>Cantidad</span>
                        </div>

                        <div class="col-md-3 col-md-3-iconos">
                              <span class="material-icons"
                                    (click)="aumentarDisminuir(data, indices, 0)">remove_circle</span>
                        </div>
                        <div class="col-md-6">
                          <input class="form-control cantidad" type="number" [value]="data['cantidad']" name="">
                        </div>
                        <div class="col-md-3 col-md-3-iconos">
                              <span class="material-icons"
                                    (click)="aumentarDisminuir(data, indices, 1)">add_circle</span>
                        </div>
                      </div>-->
                    </div>

                    <hr class="hr-separador-productos">
                  </div>
                </div>
              </div>

              <div class="contenedor-registro" *ngIf="habilita2" style="justify-content: center;">

             <!--   <div class="row titulo-secciones">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6">
                        <span class="span-tuitulo">Registro</span>
                      </div>
                    </div>
                  </div>
                </div>-->
                <app-registro-form *ngIf="!usuario"></app-registro-form>
               <!-- <div class="row">
                  <div class="col-6">

                    <mat-form-field appearance="outline">
                      <mat-label>Nombre completo</mat-label>
                      <input matInput placeholder="Nombre completo" type="text" [(ngModel)]="datosRegistro.nombres">
                    </mat-form-field>

                  </div>
                  <div class="col-6">

                    <mat-form-field appearance="outline">
                      <mat-label>Correo electrónico</mat-label>
                      <input matInput placeholder="Correo electrónico" type="email" [(ngModel)]="datosRegistro.correo">
                    </mat-form-field>

                  </div>
                </div>
                <div class="row">
                  <div class="col-6">

                    <mat-form-field appearance="outline">
                      <mat-label>Contraseña</mat-label>
                      <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'"
                             [(ngModel)]="datosRegistro.clave">
                      <button style="color: #666;" mat-icon-button matSuffix (click)="hide = !hide"
                              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>

                  </div>
                  <div class="col-6">

                    <mat-form-field appearance="outline">
                      <mat-label>Confirmación de contraseña</mat-label>
                      <input matInput placeholder="Confirmación de contraseña" [type]="hide ? 'password' : 'text'"
                             [(ngModel)]="datosRegistro.confirmarClave">
                      <button style="color: #666;" mat-icon-button matSuffix (click)="hide = !hide"
                              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-label class="campo-formulario">Fecha de nacimiento</mat-label>
                    <div class="row">
                      <div class="col-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Año</mat-label>
                          <mat-select [(ngModel)]="datosRegistro.myAnio">
                            <mat-option *ngFor="let ani of anio" [value]="ani">{{ani}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Mes</mat-label>
                          <mat-select [(ngModel)]="datosRegistro.myMes">
                            <mat-option *ngFor="let me of mes" [value]="me['prefijo']">{{me['prefijo']}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-4">
                        <mat-form-field appearance="fill">
                          <mat-label>Dia</mat-label>
                          <mat-select [(ngModel)]="datosRegistro.myDia">
                            <mat-option *ngFor="let dia of dias" [value]="dia">{{dia}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="datosRegistro.genero">
                      <mat-label class="campo-formulario">Genero</mat-label>
                      <div class="row">
                        <div class="col-6">
                          <mat-radio-button value="1">Masculino</mat-radio-button>
                        </div>
                        <div class="col-6">
                          <mat-radio-button value="2">Femenino</mat-radio-button>
                        </div>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row clase-row-formulario">
                  <div class="col-12">

                    <mat-checkbox color="primary" [(ngModel)]="datosRegistro.gustaria">
                      Me gustaría recibir comunicaciones promocionales (Recibirás un e-mail de confirmación)
                    </mat-checkbox>

                  </div>
                  <div class="col-12">

                    <mat-checkbox color="primary" [(ngModel)]="datosRegistro.declaro">
                      Declaro que he leído y acepto la nueva
                      <span>Política de Privacidad y los Términos y Condiciones </span> de Linio.
                    </mat-checkbox>

                  </div>
                </div>

                <div class="row clase-boto-seleccionar">
                  <div class="col-md-12">
                    <div class="justify-content-center align-items-center">
                      <button (click)="sendRegister()" mat-raised-button color="primary"
                              class="agregar-direccion-boton">Registrarme
                      </button>
                    </div>
                  </div>
                </div>-->
              </div>

              <div class="contenedor-registro-direcciones" *ngIf="habilita3">
               <!-- <div class="row titulo-secciones">
                  <div class="col-md-8">
                    <div class="row">


                      <div class="col-md-6">

                      </div>
                      <div class="col-md-6">
                        <div class="justify-content-center align-items-center">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->
                <!--<div class="row ">

                  <div class="col-md-4 mb-20 tarjetas" *ngFor="let data of cargarDirecciones">
                    <div class="direccion-box">
                      <p class="nombre-direccion">{{data['direccion_nombre']}}</p>
                      <p class="direccion">{{data['departamento']}}</p>
                      <p class="direccion">{{data['ciudad']}}</p>
                      <p class="direccion">{{data['direccion_ubicacion']}}</p>
                      <p class="barrio-direccion">{{data['direccion_barrio']}}</p>
                      <p class="telefono-direccion">{{data['direccion_celular']}}</p>
                      <div class="botones">
                        <a class="editar" (click)="editarDireccion(data['direccion_codigo'])">Editar</a>
                        <a class="eliminar" (click)="removerDirecciones(data['direccion_codigo'])">Eliminar</a>
                      </div>
                    </div>
                  </div>


                </div>-->

                <div class="centrar-titulo-botones">
                  <div class="contenedor-title"><span class="span-tuitulo">Mis direcciones</span></div>
                  <div> <button mat-raised-button color="primary"
                                class="agregar-direccion-boton"
                                (click)="usuario ? openDialogNuevo() : pasarSguiente(2)">Agregar más  direcciones
                  </button></div>
                </div>

                <div class="content-productos content-productos-2" *ngIf="!usuario && !cargarDirecciones">

                  <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
                    <p>Debes iniciar sesión</p>
                  </div>
                </div>

                <div class="content-productos content-productos-2" *ngIf="cargarDirecciones.length < 1">

                  <div class="icono-triste">
                    <span class="material-icons">
                    sentiment_very_dissatisfied
                    </span>
                    <p>No has agregado tus direcciones</p>
                  </div>
                </div>


                <div class="row" *ngIf="cargarDirecciones">
                  <div class="col-md-4 mb-20 tarjetas ng-star-inserted  clas-contenedor-direccion"
                       *ngFor="let data of cargarDirecciones ; let indices = index">
                    <div class="campo-direcciones direccion-box">
                      <p class="nombre-direccion">{{data['direccion_nombre']}}</p>
                      <p class="direccion">{{data['departamento']}}</p>
                      <p class="direccion">{{data['ciudad']}}</p>
                      <p class="direccion">{{data['direccion_ubicacion']}}</p>
                      <p class="barrio-direccion">{{data['direccion_barrio']}}</p>
                      <p class="telefono-direccion">{{data['direccion_celular']}}</p>
                      <div class="predeterminada-direccion">

                        <mat-radio-group aria-label="Select an option"
                                         (change)="direccionChequeada(data['direccion_codigo'], data)"
                                         (click)="direccionChequeada(data['direccion_codigo'], data)">
                          <div class="row">
                            <div class="col-12">
                              <mat-radio-button
                                [value]="
                                data['direccion_estado'] === 1?
                                true :
                                false"
                                [checked]="campoRadio?
                                campoRadio:
                                data['direccion_estado'] === 1?
                                true :
                                false"
                              >Dirección predeterminada
                              </mat-radio-button>
                            </div>
                          </div>
                        </mat-radio-group>
                      </div>

                      <div class="row fila-boton-2">
                        <div class="col-md-5"><a class="detalle" (click)="editarDireccion(data['direccion_codigo'])">Editar</a>
                        </div>
                        <div class="col-md-5"><a class="detalle" (click)="removerDirecciones(data['direccion_codigo'])">Eliminar</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="contenedor-registro-local contenedor-registro-pagos" style="height: 60vh" *ngIf="habilita4">
                <div class="row titulo-secciones">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6">
                        <span class="span-tuitulo">Realizar pago</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row otros-pagos">
                  <div class="col-md-12">
                    <mat-nav-list class="opciones-menu-lateral"  (click)="validarTipoPago(1)">

                      <a>
                        <ul class="nav flex-column flex-nowrap overflow-hidden">
                          <li class="nav-item clase-titulo-menu">

                            <a class="nav-link collapsed text-truncate link-rutas" href="#submenu3"
                               data-toggle="collapse" data-target="#submenu3">
                              <img src="./assets/img/iconos/titulos/credito-copyPNG.png" class="pago-electronico">
                              <span class="d-sm-inline color-titulo-menu"> Tarjeta de crédito</span>
                            </a>

                            <div class="collapse" id="submenu3" aria-expanded="false">
                              <ul class="flex-column pl-2 nav  otro-colo">

                                <li class="nav-item">
                                  <a>
                                    <div class="row">
                                      <hr class="separador">
                                      <div class="col-md-12 titulo-tarjeta-contactenos-columna">
                                         <span class="titulo-tarjeta-contactenos">
                                         Contamos con muchas opciones de pago.
                                        </span>
                                      </div>
                                      <div class="row metos-pagos-tarjeta">
                                        <img src="assets/img/iconos/credito/mastercardPNG.png">
                                        <img src="assets/img/iconos/credito/visaPNG.png">
                                        <img src="assets/img/iconos/credito/americanPNG.png">
                                        <img src="assets/img/iconos/credito/dinersPNG.png">
                                        <img src="assets/img/iconos/credito/fallabellaPNG.png">
                                        <img src="assets/img/iconos/credito/linioPNG.png">
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-6">
                                        <p>
                                          <mat-form-field appearance="outline">
                                            <mat-label>Nombre del titular</mat-label>
                                            <input matInput placeholder="Nombre del titular" [(ngModel)]="cargarInfoCredito.Nombre">
                                          </mat-form-field>
                                          <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Nombre">Para continuar ingrese su nombre</mat-hint>
                                        </p>

                                      </div>
                                      <div class="col-6">
                                        <p>
                                          <mat-form-field appearance="outline">
                                            <mat-label>Apellido del titular</mat-label>
                                            <input matInput placeholder="Apellido del titular" [(ngModel)]="cargarInfoCredito.Apellido">
                                          </mat-form-field>
                                          <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Apellido">Para continuar ingrese su apellido</mat-hint>
                                        </p>

                                      </div>
                                      <div class="col-6">

                                        <p>
                                          <mat-form-field appearance="outline">
                                            <mat-label>Número de documento del titular</mat-label>
                                            <input matInput placeholder="Número de documento del titular" type="number" [(ngModel)]="cargarInfoCredito.Documento">
                                          </mat-form-field>
                                          <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Documento">Para continuar ingrese su documento</mat-hint>
                                        </p>
                                        <!--<select class="form-control select-nuevo"  >
                                          <option  [value]="null">Tipo de documento</option>
                                          <option  [value]="'CC'">CC</option>
                                          <option  [value]="'CE'">CE</option>
                                        </select>-->
                                      </div>

                                      <div class="col-6">

                                        <p>
                                          <mat-form-field appearance="outline">
                                            <mat-label>Número de celular</mat-label>
                                            <input matInput placeholder="Número de celular" type="number"  [(ngModel)]="cargarInfoCredito.Celular">
                                          </mat-form-field>
                                          <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.Celular">Para continuar ingrese su celular</mat-hint>
                                        </p>

                                      </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-6">
                                        <p>
                                          <mat-form-field appearance="outline">
                                            <mat-label>Número de la tarjeta</mat-label>
                                            <input matInput placeholder="Número de la tarjeta" type="text"
                                                   minlength="16" maxlength="16"
                                                   [(ngModel)]="cargarInfoCredito.campo1">
                                          </mat-form-field>
                                          <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo1">Para continuar Número de la tarjeta</mat-hint>
                                        </p>
                                      </div>
                                      <div class="col-md-6">
                                        <p>
                                          <mat-form-field appearance="outline">
                                            <mat-label>CVV</mat-label>
                                            <input matInput placeholder="CVV"  type="password" required
                                                   minlength="3" maxlength="3" [(ngModel)]="cargarInfoCredito.campo2">
                                          </mat-form-field>
                                          <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo2">Para continuar ingrese codigo CVV</mat-hint>
                                        </p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-3 anio-expiracion">
                                        <p>
                                          <select class="form-control select-nuevo "  [(ngModel)]="cargarInfoCredito.campo3">
                                            <option  [value]="null">Año de expiración</option>
                                            <option  *ngFor="let ani of aniotarjeta" [value]="ani">{{ani}}</option>
                                          </select>
                                        </p>

                                        <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo3">Para continuar ingrese año Exp.</mat-hint>
                                      </div>

                                      <div class="col-md-3  mes-expiracion ">

                                        <p>
                                          <select class="form-control select-nuevo"  [(ngModel)]="cargarInfoCredito.campo4" >
                                            <option  [value]="null">Mes de expiración</option>
                                            <option  *ngFor="let me of mes" [value]="me['id']">{{me['prefijo']}}</option>
                                          </select>
                                        </p>
                                        <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo4">Para continuar ingrese mes de Exp</mat-hint>

                                      </div>

                                      <div class="col-6 numero-cuotas">
                                        <p>
                                          <select class="form-control select-nuevo"   [(ngModel)]="cargarInfoCredito.campo5">
                                            <option  [value]="null">Numero de cuotas</option>
                                            <option  *ngFor="let cuota of numeroCuotasPagos" [value]="cuota">{{cuota}}</option>
                                          </select>
                                        </p>
                                        <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoCredito.campo5">Para  ingrese cantidad de cuotas</mat-hint>
                                      </div>
                                    </div>
                                  <!--  <div class="row">
                                      <div class="col-6">
                                        <p>
                                          <mat-form-field appearance="outline">
                                            <mat-label>Número de celular</mat-label>
                                            <input matInput placeholder="Número de celular" type="number"  [(ngModel)]="cargarInfoCredito.Celular">
                                          </mat-form-field>
                                        </p>
                                      </div>
                                      <div class="col-6">
                                        <p>

                                        </p>
                                      </div>
                                    </div>-->
                                    <!--<div class="row clase-boto-seleccionar">
                                      <div class="col-md-12">
                                        <div class="justify-content-center align-items-center">
                                          <button mat-raised-button color="primary" class="agregar-direccion-boton">
                                            Seleccionar
                                          </button>
                                        </div>
                                      </div>
                                    </div>-->
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>

                        </ul>
                      </a>
                    </mat-nav-list>

                  </div>
                </div>

                <div class="row otros-pagos">

                  <div class="col-md-12">
                    <mat-nav-list class="opciones-menu-lateral"  (click)="validarTipoPago(2)">

                      <a>
                        <ul class="nav flex-column flex-nowrap overflow-hidden">
                          <li class="nav-item clase-titulo-menu">
                            <hr class="hr-separador-productos">
                            <a class="nav-link collapsed text-truncate link-rutas" href="#submenu2"
                               data-toggle="collapse" data-target="#submenu2">
                              <img src="./assets/img/iconos/titulos/debito-copyPNG.png" class="pago-electronico">
                              <span class="d-sm-inline color-titulo-menu">Pago con débito</span></a>
                            <div class="collapse" id="submenu2" aria-expanded="false">
                              <ul class="flex-column pl-2 nav  otro-colo">
                                <li class="nav-item">
                                  <ul class="flex-column pl-2 nav  otro-colo">
                                    <li class="nav-item">
                                      <a>
                                        <div class="row">

                                          <div class="col-md-12  titulo-tarjeta-contactenos-columna">
                                            <span class="titulo-tarjeta-contactenos">
                                         Contamos con muchas opciones de pago.
                                        </span>
                                          </div>

                                          <div class="col-6">

                                            <p>
                                              <mat-form-field appearance="outline">
                                                <mat-label>Nombre del titular</mat-label>
                                                <input matInput placeholder="Nombre del titular" [(ngModel)]="cargarInfoDebito.Nombre">
                                              </mat-form-field>
                                            </p>
                                            <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Nombre">Para continuar ingrese su nombre</mat-hint>
                                          </div>
                                          <div class="col-6">
                                            <p>
                                              <mat-form-field appearance="outline">
                                                <mat-label>Apellido del titular</mat-label>
                                                <input matInput placeholder="Apellido del titular"  [(ngModel)]="cargarInfoDebito.Apellido">
                                              </mat-form-field>
                                            </p>
                                            <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Apellido">Para continuar ingrese su apellido</mat-hint>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                           <p>
                                             <select class="form-control select-nuevo"   [(ngModel)]="cargarInfoDebito.campo3">
                                               <option  [value]="null">Tipo de persona</option>
                                               <option  [value]="'0'">Natural</option>
                                               <option  [value]="'1'">Juridica</option>
                                             </select>
                                           </p>
                                            <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.campo3">Para continuar ingrese Tipo de persona</mat-hint>

                                          </div>
                                          <div class="col-md-6">

                                              <p>
                                                <select class="form-control select-nuevo"  id="banco" (change)="oncheckBanco()" >
                                                  <option  [value]="null">Seleccionar banco</option>
                                                  <option   *ngFor="let ban of dataBancos"
                                                            [value]="ban['codigoBanco']">{{ban['nombreBanco']}}</option>
                                                </select>
                                              </p>
                                            <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.campo1">Para continuar ingrese el banco</mat-hint>

                                          </div>
                                        </div>
                                        <div class="row select-nuevo2">
                                          <div class="col-md-6">
                                            <p >
                                              <mat-form-field appearance="outline" >
                                                <mat-label>Documento de identificación</mat-label>
                                                <input matInput placeholder="Documento de identificación"  [(ngModel)]="cargarInfoDebito.Documento">
                                              </mat-form-field>
                                            </p>
                                            <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Documento">Para continuar ingrese su documento</mat-hint>

                                          </div>

                                          <div class="col-6">
                                            <p >
                                              <mat-form-field appearance="outline">
                                                <mat-label>Número celular</mat-label>
                                                <input matInput placeholder="Número celular"  [(ngModel)]="cargarInfoDebito.Celular">
                                              </mat-form-field>
                                            </p>
                                            <mat-hint class="campo-obligatorio" *ngIf="!cargarInfoDebito.Celular">Para continuar ingrese su celular</mat-hint>

                                          </div>
                                        </div>
                                        <!--<div class="row clase-boto-seleccionar">
                                          <div class="col-md-12">
                                            <div class="justify-content-center align-items-center">
                                              <button mat-raised-button color="primary"
                                                      class="agregar-direccion-boton">Seleccionar
                                              </button>
                                            </div>
                                          </div>
                                        </div>-->
                                      </a>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </a>
                    </mat-nav-list>
                  </div>

                  <div class="col-md-12">

                    <hr class="hr-separador-productos">
                   <mat-nav-list class="opciones-menu-lateral contra-entrega-opcion">
                     <mat-checkbox
                       class="pago-contraentregas"
                       (click)="validarTipoPago(3, $event)"
                       [(ngModel)]="marcarContraentrega"
                       color="primary">
                      <span class="">
                        Pago con efectivo a contra entrega
                      </span>
                     </mat-checkbox>

                     <!--  <a>
                        <ul class="nav flex-column flex-nowrap overflow-hidden">
                          <hr class="hr-separador-productos">
                          <li class="nav-item clase-titulo-menu">
                            <a class="nav-link collapsed text-truncate link-rutas" href="#submenu1"
                               data-toggle="collapse" data-target="#submenu1">
                              <img src="./assets/img/iconos/titulos/efectivo-copyPNG.png" class="pago-electronico">
                              <span class="d-sm-inline color-titulo-menu">Pago con efectivo a contra entrega</span></a>
                            <div class="collapse" id="submenu1" aria-expanded="false">
                              <ul class="flex-column pl-2 nav  otro-colo">
                                <li class="nav-item">
                                  <a>

                                    <div class="row">
                                      <div class="col-md-3"></div>
                                      <div class="col-md-6 div-pago-en-efectivo">
                                        <p class="pago-en-efectivo">
                                          Paga con efectivo
                                        </p>
                                      </div>
                                      <div class="col-md-3"></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-3"></div>
                                      <div class="col-md-6 div-contre-entrega">
                                        <p class="contre-entrega">
                                          Puedes pagar tu pedido a contraentrega en la dirección de entrega elegida
                                        </p>
                                      </div>
                                      <div class="col-md-3"></div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-3"></div>
                                      <div class="col-md-6">
                                        <div class="justify-content-center align-items-center centrar-boton">
                                          <button mat-raised-button color="primary" class="agregar-direccion-boton">
                                            Seleccionar
                                          </button>
                                        </div>
                                      </div>
                                      <div class="col-md-3"></div>
                                    </div>

                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </a>-->
                    </mat-nav-list>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-md-4 aside-account-column">
        <ul class="aside-account">

          <h3 class="resumen-del-pedido">Resumen del pedido</h3>

          <p class="cantidad-productos">
            {{cantidadProductoReales ? cantidadProductoReales : 0 }} Productos
          </p>
          <div class="row">
            <div class="col-md-7 precio-original" *ngIf="carritoAnterior && valorTotalAnterior > valorTotal">Precio original</div>
            <div class="col-md-5 valor-precio-original" style="text-decoration: line-through;"  *ngIf="valorTotalAnterior && valorTotalAnterior > valorTotal">{{valorTotalAnterior | currency}}</div>
            <div class="col-md-5 valor-precio-original" style="text-decoration: line-through;" *ngIf="!valorTotalAnterior && valorTotalAnterior > valorTotal">{{ 0 | currency}}</div>
          </div>
          <div class="row">
            <div class="col-md-7 precio-con-descuento">Precio con descuento</div>
            <div class="col-md-5 valor-precio-con-descuento" *ngIf="carritoAnterior">{{valorTotal | currency}}</div>
            <div class="col-md-5 valor-precio-con-descuento" *ngIf="!carritoAnterior">{{0| currency}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-7 total-del-producto">Total del producto</div>
            <div class="col-md-5 valor-total-del-producto" *ngIf="carritoAnterior">{{valorTotal | currency}}</div>
            <div class="col-md-5 valor-total-del-producto" *ngIf="!carritoAnterior">{{ 0 | currency}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-7 gastos-envio">Gastos por envio</div>
            <div class="col-md-5 valor-gastos-envio" *ngIf="gastosEnvio">{{gastosEnvio| currency}}</div>
            <div class="col-md-5 valor-gastos-envio" *ngIf="!gastosEnvio">{{ 0| currency}}</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-7 valor-total ">TOTAL</div>
            <div class="col-md-5 precio-valor-total"
                 *ngIf="carritoAnterior">{{(valorTotal + gastosEnvio) | currency}}</div>
            <div class="col-md-5 precio-valor-total" *ngIf="!carritoAnterior">{{ 0 | currency}}</div>
          </div>
          <hr>

          <div class="row" *ngIf="valorConcupon">
            <div class="col-md-7 gastos-envio  ">Descuento</div>
            <div class="col-md-5 valor-gastos-envio">{{ dataInfoCupones['cupon_porcentaje'] }} %</div>
          </div>
          <hr *ngIf="valorConcupon">
          <div class="row" *ngIf="valorConcupon">
            <div class="col-md-7 valor-total ">Valor a cancelar</div>
            <div class="col-md-5 precio-valor-total"
                 *ngIf="carritoAnterior ">{{((valorTotal + gastosEnvio) - (valorConcupon)) | currency}}</div>
            <div class="col-md-5 precio-valor-total" *ngIf="!carritoAnterior">{{ 0 | currency}}</div>
          </div>

        </ul>

        <ul class="aside-account aside-account-text">
          <p>Métodos de pago</p>
          <div class="row metos-pagos">
            <img src="assets/img/iconos/metodos/metodo1.png">
            <img src="assets/img/iconos/metodos/metodo2.png">
            <img src="assets/img/iconos/metodos/metodo3.png">
            <img src="assets/img/iconos/metodos/metodo4.png">
          </div>
        </ul>


        <ul class="cupones-descuento ">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <span class="material-icons">loyalty</span><h4> Tengo un cupón de descuento</h4>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

              <div *ngIf="usuario">
                <p for="validationTooltipUsername">Cupón</p>
                <!--<div class="input-group">-->
                <div class="contenedor-buscador-informacion">
                  <input style="width: 80% !important;" type="text" class="form-control tengo-cupo" [(ngModel)]="codigoCupon"
                         id="validationTooltipUsername"
                         placeholder="Escribe o pega el código"
                         aria-describedby="validationTooltipUsernamePrepend"
                         required>

                  <div class="lupa" (click)="buscarCuponDisponibles()">
                    <img src="assets/img/blanco.svg" alt="">
                  </div>

                </div>
              </div>
              <div *ngIf="!usuario">
                <p for="validationTooltipUsername">Para usar un cupón, primero debes iniciar sesión</p>
                <button class="pay-now-iniciar" routerLink="/login">
                  Iniciar sesión
                </button>
              </div>
            </ng-template>
          </mat-expansion-panel>

        </ul>

        <div class="call-to-action-bolsa">
          <button class="pay-now" *ngIf="habilitarBotonPago <= 3 " (click)="continuarBoton(1)">
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Continuar
          </button>

          <button class="pay-now" *ngIf="habilitarBotonPago === 4 && validarQuePagoSeRealizara === 1"
                  [disabled]="cargarInfoCredito.Nombre === '' || cargarInfoCredito.Nombre === null ||
                              cargarInfoCredito.Apellido === '' || cargarInfoCredito.Apellido === null ||
                              cargarInfoCredito.Documento === '' || cargarInfoCredito.Documento === null ||
                              cargarInfoCredito.Celular === '' || cargarInfoCredito.Celular === null ||
                              cargarInfoCredito.campo1 === '' || cargarInfoCredito.campo1 === null ||
                              cargarInfoCredito.campo2 === '' || cargarInfoCredito.campo2 === null ||
                              cargarInfoCredito.campo3 === '' || cargarInfoCredito.campo3 === null ||
                              cargarInfoCredito.campo4 === '' || cargarInfoCredito.campo4 === null ||
                              cargarInfoCredito.campo5 === '' || cargarInfoCredito.campo5 === null
                            "

                  (click)="validarFormularioPagos(1)">
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Pagar ahora
          </button>

          <button class="pay-now" *ngIf="habilitarBotonPago === 4 && validarQuePagoSeRealizara === 2"

                  [disabled]="cargarInfoDebito.Nombre === '' || cargarInfoDebito.Nombre === null ||
                              cargarInfoDebito.Apellido === '' || cargarInfoDebito.Apellido === null ||
                              cargarInfoDebito.campo3 === '' || cargarInfoDebito.campo3 === null ||
                              cargarInfoDebito.Documento === ''  || cargarInfoDebito.Documento === null ||
                              cargarInfoDebito.Celular === '' || cargarInfoDebito.Celular === null ||
                              cargarInfoDebito.campo1 ===  '' || cargarInfoDebito.campo1 === null
                            "

                  (click)="validarFormularioPagos(2)">
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Pagar ahora
          </button>

          <button class="pay-now" *ngIf="habilitarBotonPago == 4 && validarQuePagoSeRealizara === 3" (click)="validarFormularioPagos(3)">
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Pagar ahora
          </button>

          <button class="pay-now" *ngIf="habilitarBotonPago == 4 && validarQuePagoSeRealizara === 0" >
                  <span class="circle-go-shop">
                    <span class="material-icons">
                    done
                    </span>
                  </span>
            Pagar ahora
          </button>

        </div>

      </div>
    </div>
  </div>


</div>

<!--<div class="loader">
<mat-spinner></mat-spinner>
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>-->

<div class="loading" *ngIf="condicionarLoadig">
  <mat-spinner></mat-spinner>
</div>




<app-flecha-arriba></app-flecha-arriba>


