@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
.row-box-pedidos {
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.15);
  flex-wrap: wrap;
  margin: 0.1em 0.1em !important;
}

.item-detail .nombre-producto {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 20px;
  text-align: left;
}

.item-detail .marca-producto {
  color: #969696;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 20px;
  text-align: left;
}
.item-detail .referencia-producto {
  color: #969696;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11px;
  letter-spacing: 0.02px;
  line-height: 13.83px;
  text-align: left;
}
.valor-nuevo-producto {
  color: #FF596A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  letter-spacing: 0.04px;
  line-height: 25px;
  text-align: left;
}

.valor-anterior-producto {
  color: #969696;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  letter-spacing: 0.03px;
  line-height: 18.85px;
  text-align: left;
}

.descuento-producto{
  position: absolute;
  right: 0;
  top: 0;
  width: 31px;
}

.resumen-del-pedido {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  letter-spacing: 0.05px;
  line-height: 30.17px;
  text-align: left;
  font-weight: 600;
}

.cantidad-productos {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 20px;
  text-align: left;
  font-weight: 600;

}

.precio-original, .precio-con-descuento {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.total-del-producto {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.gastos-envio {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.valor-total {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 20px;
  text-align: left;
  font-weight: 800;
}
.valor-precio-original {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.valor-precio-con-descuento {
  color: #FF596A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.valor-total-del-producto {
  color: #FF596A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.valor-gastos-envio {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.precio-valor-total {
  color: #FF596A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
  font-weight: 600;
}

.pay-now {
  background-color: #6DD400 !important;
  border-radius: 25px;
  width: 100%;
  height: 51px;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 20px;
  text-align: center;
  border: none !important;
}
.pay-now:hover {
  background-color: #6DD400 !important;
  border-radius: 25px;
  width: 100%;
  height: 51px;
  color: #FFFFFF !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 20px;
  text-align: center;
}

.circle-go-shop {
  background-color: #FFFFFF;
  border: 1px solid #8BBA59;
  border-radius: 100%;
  width: 51px;
  height: 51px;
  color: #6DD400 !important;
}

.contenedor-registro-local {
  height: 80vh;
  overflow: auto;
}
.row-box-pedidos-superior {
  margin-bottom: 10px !important;
}

.mat-form-field {
  width: 100%!important;
}

.clase-row-formulario {
  margin-top: 39px;
}

.campo-formulario {
  color: #FF596A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  letter-spacing: 0.02px;
  line-height: 14px;
  text-align: left;
  margin-bottom: 10px;
}
mat-checkbox {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  width: 519px;
  text-align: left;
}

mat-checkbox span {
  color: #FF596A;
}

.campo-direcciones {
  background-color: #FFFFFF;
  border-radius: 6px;
  height: 295px;
  cursor: pointer;
  width: 218px;
  padding: 1.5em .6em;
}
.campo-direcciones:hover {
  background-color: #FFFFFF;
  border-radius: 6px;
  /*box-shadow: inset 0 0 5px grey;*/
  box-shadow: 2px 4px 6px 0 rgb(0 0 0 / 15%);
  height: 295px;
  cursor: pointer;
  width: 218px;
  padding: 1.5em .6em;
}


.direccion-box{
  background: white;
  border-radius: 6px;
  padding: 1.5em .6em;
  transition: all .4s ease;
}
.direccion-box:hover{
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.15);
}
.flex-items-prod {
  justify-content: center;
}

.fila-boton .detalle {
  border-radius: 25px !important;
  color: var(--active-link)  !important;
  border: 1px solid var(--active-link)  !important;
  padding: 5px 30px  !important;
  display: inline-block  !important;
  font-weight: 700  !important;
  font-size: 12px  !important;
}

.clas-contenedor-direccion {
  margin-bottom: 10px;
}

.nombre-direccion {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 25px;
  font-weight: 600;
}

.direccion {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}
.barrio-direccion{
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.telefono-direccion {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}



.fila-boton-2{
  display: flex;
  text-align: end;
}
.fila-boton-2 .detalle{
  border-radius: 25px;
  color: var(--active-link);
  border: 1px solid var(--active-link);
  padding: 5px 30px;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}

.titulo-secciones {
  /*margin-top: 30px;
  margin-bottom: 36px;*/
}
.span-tuitulo {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  letter-spacing: 0.05px;
  line-height: 30.17px;
  text-align: left;
  font-weight: bold;
}

.agregar-direccion-boton {
  border-radius: 22px !important;
}

.titulo-mineatura {
  margin: -25px 0 37px 0;


}
.titulo-mineatura  p {
  color: #969696;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  letter-spacing: 0.02px;
  line-height: 12.57px;
  text-align: left;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.titulo-tarjeta-credito {
  color: #FF596A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 19px;
  width: 121px;
  text-align: left;
}

.pago-electronico {
  padding: 1px;
  margin-right: 5px;
}

.separador {
  width: 100%;
}

.titulo-tarjeta-contactenos {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 20px;
  text-align: left;
}

.clase-boto-seleccionar {

  text-align: center;
}

.agregar-direccion-boton {
  width: 218px;

}

.items-productos-bolsa {
  width: 100% !important;
  border: none;
}

.hr-separador-productos {
  width: 100%;
}

.detalle-producto .marca-pro {
  color: #969696;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.detalle-producto .nombre-pro {
  color: #353435;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.precio-acciones .precio-descuento {
  color: #FF596A;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
}

.precio-acciones .precio-normal {
  color: #969696;
  font-size: 16px;
  line-height: 20px;
}

.alignear-trash {
  text-align: center;
}

span {
    cursor: pointer;
}

.material-icons {
  color: #FF596A;
}

.alignear-cantidad {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  letter-spacing: 0.03px;
  line-height: 18.85px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.fila-boton-3 {
  margin-top: 10px;
}

.fila-boton-3 .detalle{
  border-radius: 5px;
  color: var(--active-link);
  padding: 1px 3px;
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}

.fila-boton-3 .detalle-eliminar {
  border-radius: 5px;
  color: var(--active-link);
  border: 1px solid var(--active-link);
  padding: 1px 3px;
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}

.fila-boton-3 .detalle:hover{
  border-radius: 5px;
  color: var(--active-link);
  border: 1px solid var(--active-link);
  padding: 1px 3px;
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}

.separador-separanes .col-md-6 {
  flex: 0 0 50%;
  max-width: 35% !important;
}

.items-productos-bolsa:last-of-type {
  margin-bottom: 10px !important;
}

.items-productos-bolsa {
  padding: 0.1em 0.1em;
}

.titulo-tarjeta-contactenos-columna {
  margin-bottom: 20px;
}

.div-pago-en-efectivo {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  letter-spacing: 0.05px;
  line-height: 30.17px;
  text-align: center;
  font-weight: 800;
}

.div-contre-entrega {
  color: #353435;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03px;
  line-height: 20.11px;
  width: 362px;
  text-align: center;
}

.centrar-boton {
  text-align: center;
}

.circle-go-shop span {
  color: #6DD400  !important;
}

.numero-1 {
  position: absolute;
  left: 158px;
  width: 18px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}

.numero-2 {
  position: absolute;
  left: 296px;
  width: 18px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}

.numero-3 {
  position: absolute;
  right: 296px;
  width: 18px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}

.numero-4 {
  position: absolute;
  right: 158px;
  width: 18px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}


.titulo-numero-1 {
  position: absolute;
  left: 131px;
  cursor: pointer;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;

  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;

  text-align: left;
}

.titulo-numero-2 {
  position: absolute;
  left: 276px;
  cursor: pointer;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;

  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;

  text-align: left;
}

.titulo-numero-3 {
  position: absolute;
  right: 228px;
  cursor: pointer;
  color: black;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.titulo-numero-4 {
  position: absolute;
  right: 147px;
  cursor: pointer;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;

  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;

  text-align: left;
}

.progress {
  height: 4px !important;
  background-color: #969696;
}

.items-disenio {
  height: 73px;
}

.contenedor-registro {
  margin-right: 10px;
  margin-left: 10px;
}

.contenedor-registro-direcciones {

  width: 100%;
  height: 100vh;
  margin-right: 10px;
  margin-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;

}


.imagen-producto, .detalle-producto, .precio-acciones, .precio-acciones, .col-md-3-iconos {
  margin-bottom: 3px !important;
}

.numero-11 {
  position: absolute;
  left: 185px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}

.numero-22 {
  position: absolute;
  left: 370px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}

.numero-33 {
  position: absolute;
  left: 370px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}

.numero-44 {
  position: absolute;
  right: 191px;
  cursor: pointer;
  color: black;
  height: 13px;
  width: 13px;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -9px 0px 0px 0px;
  border-radius: 10px;
}


.titulo-numero-11 {
  position: absolute;
  left: 157px;
  cursor: pointer;
  color: black;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.titulo-numero-22 {
  position: absolute;
  left: 276px;
  cursor: pointer;
  color: black;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.titulo-numero-33 {
  position: absolute;
  right: 317px;
  cursor: pointer;
  color: black;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;

  text-align: left;
}

.titulo-numero-44 {
  position: absolute;
  right: 180px;
  cursor: pointer;
  color: black;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 0px 0px;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px;
  letter-spacing: 0.03px;
  line-height: 17.6px;
  text-align: left;
}

.cupones-descuento {
  padding: 1em 0.1em !important;
}
.boton-buscar {
  border-radius: 0px 10px 10px 0px;
  border: solid 1px;
  color: var(--active-link);
  border: 1px solid var(--active-link);
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.pay-now-iniciar {
  background-color: #FF596A;
  border-radius: 25px;
  width: 100%;
  height: 51px;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 20px;
  text-align: center;
  border: none !important;
}

.pay-now-iniciar:hover {
  background-color: #FF596A;
  border-radius: 25px;
  width: 100%;
  height: 51px;
  color: #FFFFFF !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 20px;
  text-align: center;
}

.metos-pagos {
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.aside-account-text {
  text-align: center;
}

.tengo-cupon {
  height: 29px;
  margin-bottom: 15px;
}
.metos-pagos-tarjeta img {
  margin: 3px;
}
.metos-pagos-tarjeta {
  margin-left: 5px;
  margin-bottom: 12px;
}

.talla {
  color: #969696;
  font-size: 16px;
  line-height: 20px;
}
.metos-pagos[_ngcontent-dsq-c58] img[_ngcontent-dsq-c58] {
  margin: 10px;
  width: 55px;
}

.cupones-descuento h4 {
  margin: 0 0 1px !important;
}

.manejo-iconos {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.manejo-iconos {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.manejo-iconos {
  width: 100% !important;
  height: 29px !important;
}

.manejo-iconos span {
  cursor: pointer;
  color: #FF596A;
}

.imagen-eliminar {
  width: 43px;
  height: 29px;
  margin: -6px 0px 0px 0px;
  cursor: pointer;
}
.campo-cantidad {
  width: 100% !important;
  height: 29px !important;
  text-align: center;
}

.alinear-cantidad {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.centrar-titulo-botones {
  display: flex;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 1px;
  padding: 2px 0px 8px 0px;
}

.centrar-titulo-botones .span-tuitulo {
  padding: 5px;
}

.centrar-titulo-botones .agregar-direccion-boton {
  height: 38px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
.contenedor-title {
  padding-right: 24px;
}



.contenedor-registro-direcciones {

}

.contenedor-registro-pagos {
  width: 100%;

}
.content-productos-2 span {
  color: #FF596A;
  font-size: 250px;
  opacity: 0.3;
}

.icono-triste {

  text-align: center;
  justify-content: center;
  align-items: center;
}

.pago-contraentregas {
  margin-left: 18px;
}

.pago-contraentregas span {
  color: black;
}
.contra-entrega-opcion {
  margin-top: 20px;
}

.predeterminada-direccion {
  font-size: 15px !important;
}

.mes-expiracion, .anio-expiracion {
  margin-bottom: 30px !important;
}

.tengo-cupo{
  height: 27px !important;
  width: 80%;
}

.lupa {
  background: #FF596A;
  border-radius: 0px 5px 5px 0px;
  width: 42px;
  height: 41px;
  position: absolute;
  top: 110px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.select-nuevo {
  height: 58px;
  margin-top: 5px;
}

.select-nuevo2 {
  margin-top: 15px;
}



.campo-obligatorio {
  color: #FF596A;
  display: block;
  font-size: .8rem;
  font-weight: 400;
  margin-top: -5px;
}

.loading  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.decoracion-texto {
  text-decoration: none;
}

.btn-link {
  font-weight: 600;
  color: #0d0d0d;

  text-decoration: none;
}

#accordion {
  background-color: #FFFFFF;
}

.titulo-secciones {
  margin-bottom: 25px;
}

.tarjetas-pago {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}

.mensaje-proceso {
  color: #FFFFFF;
}

.pasarela {
  margin-left: 6px;
}

.card-header:hover {
  background-color: #f1f1f1 !important;
  cursor: pointer;
}

.buscar-cupones {
  background: #FF596A;
  width: 42px;
  text-align: center;
  align-items: center;
  border-radius: 0px 6px 6px 3px;
}
